<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>LeanCloud 文档</title>
<script src="//cdn1.lncld.net/static/js/av-mini-0.5.4.js"></script>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<!-- endbuild -->

<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body  class="dashboard-init" data-offset="0" ng-cloak ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse" id="app-options">
      <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/applist.html" class="nav-logo font-logo">L<span class="visible-xs-inline">eanCloud</span></a>
        </li>
      </ul>
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          <li>
            <a href="/docs/sdk_down.html">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="dashboard-subnav-text">SDK 下载</div>
            </a>
          </li>
          <li ng-class="{active:currentHtmlPage=='help.html'}">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <i class="dashboard-subnav-text">帮助</i>
            </a>
            <ul class="dropdown-menu">
              
              <!-- <li><a href="start.html">快速入门</a></li> -->
              
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="https://leancloud.cn/apionline/">在线 API 工具</a></li>
              <li><a href="http://leancloud.sexy" target="_blank">第三方库</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/apps.html">LeanCloud App</a></li>
              <li><a href="/pricing.html">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak>

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li><a href="start.html">快速入门</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">iOS / OS X</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-ios.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-ios.html">数据存储开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-ios.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation_guide-ios.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-ios.html">权限管理使用指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms_guide-ios.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios_os_x_faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation_guide-android.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-android.html">权限管理使用指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms_guide-android.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="js_push.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation_guide-js.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-js.html">权限管理使用指南</a></li>
            
            <li><a href="sms_guide-js.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="/api-docs/javascript/index.html" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li><a href="realtime_guide-dotnet.html">实时通信开发指南</a></li>
            <li><a href="unity_statistics.html">Unity3D 统计开发指南</a></li>
            <li><a href="dotnet_faq.html">FAQ</a></li>
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation_guide-python.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-python.html">权限管理使用指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_guide-python.html">云引擎开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <li><a href="oauth2_provider.html">开放平台接入</a></li>
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_guide-python.html">云引擎开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">云引擎命令行工具</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <li><a href="user_groups.html">用户群分析指南</a></li>
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
           <li><a href="http://leancloud.sexy" target="_blank">第三方库</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <h1 id="ios-">iOS 崩溃报告使用指南</h1>
<p>崩溃报告可以自动收集用户端产生的各种异常崩溃信息，包括完整的调用堆栈、设备信息、应用信息等等。如果还没有安装 LeanCloud iOS SDK，请阅读 <a href="./start.html">快速入门</a> 来获得该 SDK，并在 Xcode 中运行和熟悉示例代码。</p>
<h2 id="-">启用</h2>
<p>要启用崩溃报告功能，需要将 AVOSCloudCrashReporting.framework 添加到项目的依赖库列表，然后在 AppDelegate 之中，在 LeanCloud SDK 初始化之前添加如下代码：</p>
<pre><code class="lang-objc">// Enable Crash Reporting
[AVOSCloudCrashReporting enable];

// Setup AVOSCloud
[AVOSCloud setApplicationId:@&quot;{{appid}}&quot; clientKey:@&quot;{{appkey}}&quot;];
</code></pre>
<p>崩溃报告打开后，应用的崩溃信息会发送到 LeanCloud 云端，具体内容可在 <a href="/stat.html?appid={{appid}}#/stat/crashreport">控制台 / 分析 / 错误分析</a> 里看到。</p>
<h2 id="-">符号化</h2>
<p>将应用每个版本的符号文件上传至 LeanCloud，会有助于 LeanCLoud 后台正确解析崩溃堆栈信息，更准确地定位问题，因此这一步骤非常重要。</p>
<p>上传符号文件有两种方式：每次构建应用时自动上传和手动上传。我们推荐使用自动上传，这样开发者就不需要在每次发布版本时，还要记着去上传符号文件。实现符号文件<strong>自动上传</strong>的步骤如下：</p>
<p>安装客户端工具（如果出现权限错误，可以在命令前面加上 <code>sudo</code>）：</p>
<pre><code class="lang-sh">gem update --system
gem install --no-wrappers -n /usr/local/bin leancloud
</code></pre>
<p>在应用的 Targets 中，选择 <strong>Build Settings</strong> &gt; <strong>Build Options</strong> &gt; <strong>Debug Information Format</strong>，将其设置为 <strong>DWARF with dSYM File</strong>；再打开 <strong>Build Phases</strong> &gt;<span class="text-muted">（点击 + 号）</span>&gt; <strong>New Run Script Phase</strong>，添加一个 <strong>Run Script</strong> 步骤：</p>
<pre><code class="lang-sh">leancloud upload_symbol \
-f &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot; \
-i &quot;{{appid}}&quot; \
-k &quot;{{appkey}}&quot;
</code></pre>
<p>如果只想在 Archive 发布时运行这个脚本，可以勾选 <strong>Run script only when installing</strong>，这样可以加快调试时 Build 的速度。</p>
<p>要手动上传符号文件，则使用：</p>
<pre><code class="lang-sh">leancloud upload_symbol \
-f &quot;&lt;dSYM/xcarchive/DWARF 请按下面提示替换本路径&gt;&quot; \
-i &quot;{{appid}}&quot; \
-k &quot;{{appkey}}&quot;
</code></pre>
<p>符号文件将默认上传到中国节点。如果你的应用使用了中国之外的其他节点，例如美国节点，需要通过 <code>-r</code> 或 <code>--region</code> 选项来设置：</p>
<pre><code class="lang-sh">leancloud upload_symbol -r us \
-f &quot;&lt;dSYM/xcarchive/DWARF 请按下面提示替换本路径&gt;&quot; \
-i &quot;{{appid}}&quot; \
-k &quot;{{appkey}}&quot;
</code></pre>
<p>目前支持以下节点：</p>
<ul>
<li><strong>cn</strong>：中国</li>
<li><strong>us</strong>：美国</li>
</ul>
<p>符号文件的存放位置，与你的发布流程有关，具体为：</p>
<ul>
<li><p><strong>xcarchive 文件</strong>：对应用进行 Archive 后会生成一个 .xcarchive 文件，在 Xcode 中打开 <strong>Window</strong> / <strong>Organizer</strong> / <strong>Archives</strong> 选项卡里可以看到它的位置。</p>
</li>
<li><p><strong>dSYM 文件</strong>：一般仅在使用 Release 或 Archiving 构建应用时产生，可以在 /Xcode/DerivedData 文件夹下，与生成的 .app 同级的文件夹里找到。</p>
</li>
<li><p><strong>DWARF 文件</strong>：在路径的最底层，它可以通过 strip 应用生成的二进制文件来获得。</p>
</li>
</ul>
<p>请参考以下路径结构，应用文件名为 Demo.app：</p>
<pre><code>├── Build
    ├── Intermediates
        ├── ArchiveIntermediates
            └── Demo
                ├── BuildProductsPath
                    └── Release-iphoneos
                        ├── Demo.app -&gt; /Users/admin/Library/Developer/Xcode/DerivedData/Demo-dkvwhbscbgyeoldhsxxzmorfqmyf/Build/Intermediates/ArchiveIntermediates/Demo/InstallationBuildProductsLocation/Applications/Demo.app
                        └── Demo.app.dSYM
                            └── Contents
                                ├── Info.plist
                                └── Resources
                                    └── DWARF
                                        └── Demo
</code></pre><p>如果在发布应用时忘了上传符号文件，可以手动来上传。如果一个崩溃报告没有对应的符号文件，系统会提示要符号化。</p>
<h2 id="-">测试</h2>
<p>崩溃报告启用之后，要测试崩溃信息是否能发送到 LeanCloud 云端，可以在 view controller 或 AppDelegate 中添加一个 <code>crash</code> 方法：</p>
<pre><code class="lang-objc">- (void)crash {
    [NSException raise:NSGenericException format:@&quot;只是测试，模拟一条崩溃信息。&quot;];
}
</code></pre>
<p>然后把下面的调用代码插入到主 view controller 的 <code>viewDidLoad</code> 方法中，或 AppDelegate 的 <code>application:didFinishLaunchingWithOptions:</code> 方法中：</p>
<pre><code class="lang-objc">[self performSelector:@selector(crash) withObject:nil afterDelay:5.0];
</code></pre>
<p>接下来的步骤：</p>
<ol>
<li>build、run，然后 stop 应用；</li>
<li>在 Home 界面点开应用（不要使用调试器开启应用，因为调试器开启时不会收集崩溃信息）；</li>
<li>等待应用崩溃；</li>
<li>再次运行应用。应用将在启动时自动将崩溃报告发送给 LeanCloud 云端。</li>
</ol>
<p>这时打开应用控制台的 <a href="/stat.html?appid={{appid}}#/stat/crashreport">错误分析</a>，就会看到刚才的崩溃信息。</p>
<blockquote>
<p>注意：崩溃信息可能会延迟几分钟显示。</p>
</blockquote>
<h2 id="-">流程</h2>
<p>使用崩溃报告可以极大地改进应用质量，提升用户体验。我们推荐使用以下流程来有效地修复应用崩溃问题：</p>
<ol>
<li>确认要修复的崩溃；<br/>
后台的错误分析列表，可以显示出崩溃发生的次数。由此，你可以分析出哪项崩溃对应用影响最大，对其进行优先修复。点击每条崩溃记录可以查看到更详细的信息，包括调用堆栈、系统版本、设备类型和受影响的应用版本等等。</li>
<li>修复崩溃；<br/>
调试代码，修复崩溃问题。</li>
<li>构建新的版本；</li>
<li>标记已修复的崩溃，向 App Store 发布新版本；<br/>
标记为「已修复」的崩溃不会在默认的列表中出现。如果同样的崩溃在新版本中再次出现，那么这条崩溃记录将自动恢复成「未修复」状态，并且重新出现在默认列表里面。</li>
<li>重复以上步骤，不断改进应用。</li>
</ol>
<h2 id="-">排错</h2>
<p><strong>为什么编译的时候会报错：Undefined symbols for architecture i386: &quot;std::<strong>1::basic_string&lt;char, std::</strong>1::char_traits<char>...？</strong></p>
<p>这是在项目依赖里面缺少 libc++.dylib 库。打开项目的 <strong>TARGETS</strong> / <strong>General</strong> / <strong>Linked Frameworks and Libraries</strong>，添加 libc++.dylib 即可。</p>
<p><strong>为什么我的崩溃没有在后台显示？</strong></p>
<p>你的应用可能没有向 LeanCloud 云端发送崩溃报告。需要检查：</p>
<ul>
<li>确认在 LeanCloud SDK 初始化之前开启了崩溃报告。</li>
<li>如果正在测试崩溃报告，要确认应用不是通过调试器运行的；需要执行 build、run、stop 之后，再在 Home 界面点开应用。</li>
<li>崩溃信息是在崩溃发生之后、下次应用启动之时发送的，确保应用不会在崩溃信息发送之前再次崩溃。如果是在调试崩溃报告，可以添加一段延时做为保障。</li>
<li>确保没有使用其他崩溃报告的库，否则会互相干扰。</li>
</ul>
<p><strong>为什么我的崩溃没有符号化？</strong></p>
<p>你可能没有上传与应用版本对应的符号文件。请检查：</p>
<ul>
<li>如果设置了自动上传符号文件，切换到 Xcode 的 Report Navigator（Command + 8），验证一下上传是否正常。</li>
<li>确认日志正常，上传过程没有错误。</li>
<li>如果为之前没有符号化的崩溃上传了对应的符号文件，当同一崩溃再次发生时它就会被符号化；而之前没有符号化的崩溃信息不会再被符号化了。所以，这时可以把之前的崩溃记录标记为「已解决」并等待其再次发生。</li>
<li>如果使用了自定义的动态链接框架（dynamic framework），并且部分堆栈信息没有符号化，请确认所有动态链接框架以及主应用的符号文件都已经上传。</li>
</ul>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.updatedAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>




<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>




<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>








  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a>

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing.html">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li>
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="//status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>