<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>云函数开发指南 &middot; PHP - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年9月26日下午2点53分">更新于 <time datetime="2017-09-26T14:53:09+08:00">2017-09-26</time></span></div>
        <h1 id="-middot-php">云函数开发指南 &middot; PHP</h1>
<p>云函数是云引擎（LeanEngine）的一个子模块，请确保在阅读本文档之前已经阅读了 <a href="leanengine_overview.html">云引擎服务概览</a>。</p>
<p>当你开发移动端应用时，可能会有下列需求：</p>
<ul>
<li>应用在多平台客户端（Android、iOS、Windows Phone、浏览器等）中很多逻辑都是一样的，希望将这部分逻辑抽取出来只维护一份。</li>
<li>有些逻辑希望能够较灵活的调整（比如某些个性化列表的排序规则），但又不希望频繁的更新和发布移动客户端。</li>
<li>有些逻辑需要的数据量很大，或者运算成本高（比如某些统计汇总需求），不希望在移动客户端进行运算，因为这样会消耗大量的网络流量和手机运算能力。</li>
<li>当应用执行特定操作时，由云端系统自动触发一段逻辑（称为 <a href="#Hook_函数">Hook 函数</a>），例如用户注册后对该用户增加一些信息记录用于统计；或某业务数据发生变化后希望做一些别的业务操作。</li>
<li>客户端提供能够越过 ACL 或表权限的限制，对数据进行操作。</li>
<li>需要定时任务，比如每天凌晨清理垃圾注册账号等。</li>
</ul>
<p>这时，你可以使用云引擎的云函数，云函数是一段部署在服务端的代码，编写 JavaScript、Python、PHP 或 Java 代码，并部署到我们的平台上，可以很好的完成上述需求。</p>
<p>如果还不知道如何创建云引擎项目、本地调试并部署到云端，请阅读 <a href="leanengine_quickstart.html">云引擎快速入门</a>。</p>
<h2 id="-">多语言支持</h2>
<p>云引擎支持多种语言的运行环境，你可以选择自己熟悉的语言开发应用：</p>
<ul>
<li><a href="leanengine_cloudfunction_guide-node.html">Node.js</a></li>
<li><a href="leanengine_cloudfunction_guide-python.html">Python</a></li>
<li><a href="leanengine_cloudfunction_guide-php.html">PHP</a></li>
<li><a href="leanengine_cloudfunction_guide-java.html">Java</a></li>
</ul>
<h2 id="-">切换云引擎环境</h2>
<p>云引擎应用有「生产环境」和「预备环境」之分，在客户端的切换方法为：</p>
<pre><code class="lang-objc">[AVCloud setProductionMode:NO]; // 调用预备环境
</code></pre>
<pre><code class="lang-java">AVCloud.setProductionMode(false); // 调用预备环境
</code></pre>
<pre><code class="lang-php">LeanClient::useProduction(false); // 调用预备环境
</code></pre>
<pre><code class="lang-javascript">AV.setProduction(false); // 调用预备环境
</code></pre>
<pre><code class="lang-python">leancloud.use_production(False) # 调用预备环境
</code></pre>
<p><a href="leanengine_plan.html#免费版">免费版云引擎</a> 应用只有「生产环境」，因此请不要切换到预备环境。</p>
<h2 id="-">云函数</h2>
<p>示例项目中 <code>$PROJECT_DIR/cloud.php</code> 文件定义了一个很简单的 <code>hello</code> 云函数。现在让我们看一个较复杂的例子来展示云引擎的用途。在云端进行计算的一个重要理由是，你不需要将大量的数据发送到设备上做计算，而是将这些计算放到服务端，并返回结果这一点点信息就好。</p>
<p>例如，你写了一个应用，让用户对电影评分，一个评分对象大概是这样：</p>
<pre><code class="lang-json">{
  &quot;movie&quot;: &quot;夏洛特烦恼&quot;,
  &quot;stars&quot;: 5,
  &quot;comment&quot;: &quot;夏洛一梦，笑成麻花&quot;
}
</code></pre>
<p><code>stars</code> 表示评分，1-5。如果你想查找《夏洛特烦恼》这部电影的平均分，你可以找出这部电影的所有评分，并在设备上根据这个查询结果计算平均分。但是这样一来，尽管你只是需要平均分这样一个数字，却不得不耗费大量的带宽来传输所有的评分。通过云引擎，我们可以简单地传入电影名称，然后返回电影的平均分。</p>
<p>Cloud 函数接收 JSON 格式的请求对象，我们可以用它来传入电影名称。整个 <a href="./leanstorage_guide-php.html">PHP SDK</a> 都在云引擎运行环境上有效，可以直接使用，所以我们可以使用它来查询所有的评分。结合在一起，实现 <code>averageStars</code> 函数的代码如下：</p>
<pre><code class="lang-php">use \LeanCloud\Engine\Cloud;
use \LeanCloud\Query;
use \LeanCloud\CloudException;

Cloud::define(&quot;averageStars&quot;, function($params, $user) {
    $query = new Query(&quot;Review&quot;);
    $query-&gt;equalTo(&quot;movie&quot;, $params[&quot;movie&quot;]);
    try {
        $reviews = $query-&gt;find();
    } catch (CloudException $ex) {
        // 查询失败, 将错误输出到日志
        error_log($ex-&gt;getMessage());
        return 0;
    }
    $sum = 0;
    forEach($reviews as $review) {
        $sum += $review-&gt;get(&quot;stars&quot;);
    }
    if (count($reviews) &gt; 0) {
         return $sum / count($reviews);
    } else {
         return 0;
    }
});
</code></pre>
<h3 id="-">参数和返回值</h3>
<p>传递给云函数的参数依次为：</p>
<ul>
<li><code>$params: array</code>：客户端发送的参数。</li>
<li><code>$user: User</code>：客户端所关联的用户（根据客户端发送的 <code>LC-Session</code> 头）。</li>
<li><code>$meta: array</code>：有关客户端的更多信息，目前只有一个 <code>$meta[&#39;remoteAddress&#39;]</code> 属性表示客户端的 IP。</li>
</ul>
<h3 id="sdk-">SDK 调用云函数</h3>
<p>LeanCloud 各个语言版本的 SDK 都提供了调用云函数的接口。</p>
<pre><code class="lang-objc">// 在 iOS SDK 中，AVCloud 提供了一系列静态方法来实现客户端调用云函数
// 构建传递给服务端的参数字典
NSDictionary *dicParameters = [NSDictionary dictionaryWithObject:@&quot;夏洛特烦恼&quot;
                                                          forKey:@&quot;movie&quot;];

// 调用指定名称的云函数 averageStars，并且传递参数
[AVCloud callFunctionInBackground:@&quot;averageStars&quot;
                   withParameters:dicParameters
                   block:^(id object, NSError *error) {
                   if(error == nil){
                     // 处理结果
                   } else {
                     // 处理报错
                   }
}];
</code></pre>
<pre><code class="lang-java">// 在 Android SDK 中，AVCloud 提供了一系列的静态方法来实现客户端调用云函数
// 构建参数
Map&lt;String, String&gt; dicParameters = new HashMap&lt;String, String&gt;();
dicParameters.put(&quot;movie&quot;, &quot;夏洛特烦恼&quot;);

// 调用云函数 averageStars
AVCloud.callFunctionInBackground(&quot;averageStars&quot;, dicParameters, new FunctionCallback() {
    public void done(Object object, AVException e) {
        if (e == null) {
            // 处理返回结果
        } else {
            // 处理报错
        }
    }
});
</code></pre>
<pre><code class="lang-js">// 在 JavaScript 中 AV.Cloud 提供了一系列方法来调用云函数
var paramsJson = {
  movie: &quot;夏洛特烦恼&quot;
};
AV.Cloud.run(&#39;averageStars&#39;, paramsJson).then(function(data) {
  // 调用成功，得到成功的应答 data
}, function(err) {
  // 处理调用失败
});
</code></pre>
<pre><code class="lang-php">use \LeanCloud\Engine\Cloud;
$params = array(
    &quot;movie&quot; =&gt; &quot;夏洛特烦恼&quot;
);
Cloud::run(&quot;averageStars&quot;, $params);
</code></pre>
<pre><code class="lang-python">from leancloud import cloudfunc

cloudfunc.run(&#39;averageStars&#39;, movie=&#39;夏洛特烦恼&#39;)
</code></pre>
<h3 id="-rest-api-">通过 REST API 调用云函数</h3>
<p>请查看我们的 <a href="leanengine-rest-api.html">云引擎 REST API 使用指南</a>。</p>
<h3 id="-">云引擎调用云函数</h3>
<p>在云引擎中可以使用 <code>LeanCloudEngineCloud::run</code> 调用 <code>LeanCloudEngineCloud::define</code> 定义的云函数：</p>
<pre><code class="lang-php">try {
    $result = Cloud::run(&quot;averageStars&quot;, array(&quot;movie&quot; =&gt; &quot;夏洛特烦恼&quot;));
} catch (\Exception $ex) {
    // 云函数错误 
}
</code></pre>
<p>云引擎中默认会直接进行一次本地的函数调用，而不是像客户端一样发起一个 HTTP 请求。PHP 云引擎暂不支持发起 HTTP 请求来调用云函数。</p>
<h3 id="rpc-">RPC 调用云函数</h3>
<p>RPC 调用云函数是指：云引擎会在这种调用方式下自动为 Http Response Body 做序列化，而 SDK 调用之后拿回的返回结果就是一个完整的 <code>AVObject</code>。</p>
<pre><code class="lang-objc">NSDictionary *dicParameters = [NSDictionary dictionaryWithObject:@&quot;夏洛特烦恼&quot;
                                                          forKey:@&quot;movie&quot;];

[AVCloud rpcFunctionInBackground:@&quot;averageStars&quot;
                  withParameters:parameters
                  block:^(id object, NSError *error) {
                  if(error == nil){
                     // 处理结果
                  }
                  else {
                     // 处理报错
                  }
}];
</code></pre>
<pre><code class="lang-java">// 构建参数
Map&lt;String, String&gt; dicParameters = new HashMap&lt;String, String&gt;();
dicParameters.put(&quot;movie&quot;, &quot;夏洛特烦恼&quot;);

AVCloud.rpcFunctionInBackground(&quot;averageStars&quot;, dicParameters,
    new FunctionCallback&lt;AVObject&gt;() {
      @Override
      public void done(AVObject object, AVException e) {
        Assert.assertNull(e);
      }
    });
</code></pre>
<pre><code class="lang-php">// PHP 有待支持
</code></pre>
<pre><code class="lang-javascript">var paramsJson = {
  movie: &quot;夏洛特烦恼&quot;
};

AV.Cloud.rpc(&#39;averageStars&#39;, paramsJson).then(function(object) {
  // 成功，如果云函数返回的是一个 AV.Object，回调参数中的 object 也会是一个 AV.Object
}, function(error) {
  // 失败
});
</code></pre>
<pre><code class="lang-python">from leancloud import cloudfunc

cloudfunc.rpc(&#39;averageStars&#39;, movie=&#39;夏洛特烦恼&#39;)
</code></pre>
<h3 id="-">云函数错误响应码</h3>
<p>错误响应码允许自定义。云引擎抛出的 FunctionError（数据存储 API 会抛出此异常）会直接将错误码和原因返回给客户端。若想自定义错误码，可以自行构造 FunctionError，将 code 与 error 传入。否则 code 为 1， message 为错误对象的字符串形式。</p>
<pre><code class="lang-php">Cloud::define(&quot;errorCode&quot;, function($params, $user) {
    // 尝试登录一个不存在的用户，会返回 211 错误
    User::logIn(&quot;not_this_user&quot;, &quot;xxxxxx&quot;);
});
</code></pre>
<p>客户端收到的响应：<code>{&quot;code&quot;:211,&quot;error&quot;:&quot;Could not find user&quot;}</code></p>
<pre><code class="lang-php">Cloud::define(&quot;customErrorCode&quot;, function($params, $user) {
    // 返回 123 自定义错误信息
    throw new FunctionError(&quot;自定义错误信息&quot;, 123);
});
</code></pre>
<p>客户端收到的响应： <code>{&quot;code&quot;:123,&quot;error&quot;:&quot;自定义错误信息&quot;}</code></p>
<h3 id="-">云函数超时</h3>
<p>云引擎超时时间默认为 30 秒，如果超过阈值，进程将被强制 kill：</p>
<ul>
<li>客户端将收到 HTTP status code 为 50X 响应。</li>
<li>服务端会出现类似这样的日志：<code>WARNING: [pool www] child ... exited on signal 9 (SIGKILL) after ... seconds from start</code>。</li>
</ul>
<h2 id="hook-">Hook 函数</h2>
<p>Hook 函数本质上是云函数，但它有固定的名称，定义之后会<strong>由系统</strong>在特定事件或操作（如数据保存前、保存后，数据更新前、更新后等等）发生时<strong>自动触发</strong>，而不是由开发者来控制其触发时机。</p>
<p>需要注意：</p>
<ul>
<li>通过控制台进行 <a href="dashboard_guide.html#本地数据导入_LeanCloud">数据导入</a> 不会触发以下任何 hook 函数。</li>
<li>使用 Hook 函数需要 <a href="#防止死循环调用">防止死循环调用</a>。</li>
<li><code>_Installation</code> 表暂不支持 Hook 函数。</li>
<li>Hook 函数只对当前应用的 Class 生效，<a href="app_data_share.html#云引擎_Hook_函数">对绑定后的目标 Class 无效</a>。</li>
</ul>
<p>对于 before 类的 Hook（也包括 <code>onLogin</code>），如果返回了一个错误的话，这个操作就会被中断，你可以在这些 Hook 中主动抛出一个错误来拒绝掉某些操作；对于 after 类的 Hook（也包括 <code>onVerified</code>），返回错误并不会影响操作的执行（因为其实操作已经执行完了）。</p>
<p>为了认证 Hook 调用者的身份，我们的 SDK 内部会确认请求确实是从云引擎内网的云存储组件发出的，如果认证失败，可能会出现 <code>Hook key check failed</code> 的提示，如果在本地调试时出现这样的错误，请确保是通过命令行工具启动调试的。</p>
<h3 id="beforesave">beforeSave</h3>
<p>在创建新对象之前，可以对数据做一些清理或验证。例如，一条电影评论不能过长，否则界面上显示不开，需要将其截断至 140 个字符：</p>
<pre><code class="lang-php">Cloud::beforeSave(&quot;Review&quot;, function($review, $user) {
    $comment = $review-&gt;get(&quot;comment&quot;);
    if ($comment) {
        if (strlen($comment) &gt; 140) {
            // 截断并添加...
            $review-&gt;set(&quot;comment&quot;, substr($comment, 0, 140) . &quot;...&quot;);
        }
    } else {
        // 返回错误，并取消数据保存
        throw new FunctionError(&quot;No Comment!&quot;, 101);
    }
    // 如果正常返回，则数据会保存
});
</code></pre>
<h3 id="aftersave">afterSave</h3>
<p>在创建新对象后触发指定操作，比如当一条留言创建后再更新一下所属帖子的评论总数：</p>
<pre><code class="lang-php">Cloud::afterSave(&quot;Comment&quot;, function($comment, $user) {
    $query = new Query(&quot;Post&quot;);
    $post = $query-&gt;get($comment-&gt;get(&quot;post&quot;)-&gt;getObjectId());
    $post-&gt;increment(&quot;commentCount&quot;);
    try {
        $post-&gt;save();
    } catch (CloudException $ex) {
        throw new FunctionError(&quot;保存 Post 对象失败: &quot; . $ex-&gt;getMessage());
    }
});
</code></pre>
<p>再如，在用户注册成功之后，给用户增加一个新的属性 from 并保存：</p>
<pre><code class="lang-php">Cloud::afterSave(&quot;_User&quot;, function($userObj, $currentUser) {
    $userObj-&gt;set(&quot;from&quot;, &quot;LeanCloud&quot;);
    try {
        $userObj-&gt;save();
    } catch (CloudException $ex) {
        throw new FunctionError(&quot;保存 User 对象失败: &quot; . $ex-&gt;getMessage());
    }
});
</code></pre>
<h3 id="beforeupdate">beforeUpdate</h3>
<p>在更新已存在的对象前执行操作，这时你可以知道哪些字段已被修改，还可以在特定情况下拒绝本次修改：</p>
<pre><code class="lang-php">Cloud::beforeUpdate(&quot;Review&quot;, function($review, $user) {
    // 对象的 updateKeys 字段记录了本次将要修改的字段名列表，
    // 可用于检测并拒绝对某些字段的修改
    if (in_array(&quot;comment&quot;, $review-&gt;updatedKeys) &amp;&amp;
        strlen($review-&gt;get(&quot;comment&quot;)) &gt; 140) {
        throw new FunctionError(&quot;comment 长度不得超过 140 个字符&quot;);
    }
});
</code></pre>
<p><strong>注意：</strong> 不要修改传入的对象 <code>$review</code>，因为对它的改动并不会保存到数据库，但可以抛出异常返回一个错误，拒绝这次修改。</p>
<p><strong>注意</strong>：传入的对象是一个尚未保存到数据库的临时对象，并不保证与最终储存到数据库的对象完全相同，这是因为修改中可能包含自增、数组增改、关系增改等原子操作。</p>
<h3 id="afterupdate">afterUpdate</h3>
<p>在更新已存在的对象后执行特定的动作，比如每次修改文章后记录下日志：</p>
<pre><code class="lang-php">Cloud::afterUpdate(&quot;Article&quot;, function($article, $user) {
    // 输出日志到控制台
    error_log(&quot;Article {$article-&gt;getObjectId()} has been updated.&quot;);
});
</code></pre>
<h3 id="beforedelete">beforeDelete</h3>
<p>在删除一个对象之前做一些检查工作，比如在删除一个相册 Album 前，先检查一下该相册中还有没有照片 Photo：</p>
<pre><code class="lang-php">Cloud::beforeDelete(&quot;Album&quot;, function($album, $user) {
    $query = new Query(&quot;Photo&quot;);
    $query-&gt;equalTo(&quot;album&quot;, $album);
    try {
        $count = $query-&gt;count();
    } catch (CloudException $ex) {
        // Delete 操作会被取消
        throw new FunctionError(&quot;Error getting photo count: {$ex-&gt;getMessage()}&quot;);
    }
    if ($count &gt; 0) {
        // 取消 Delete 操作
        throw new FunctionError(&quot;Cannot delete album that has photos.&quot;);
    }
});
</code></pre>
<h3 id="afterdelete">afterDelete</h3>
<p>在被删一个对象后执行操作，例如递减计数、删除关联对象等等。同样以相册为例，这次我们不在删除相册前检查是否还有照片，而是在删除后，同时删除相册中的照片：</p>
<pre><code class="lang-php">Cloud::afterDelete(&quot;Album&quot;, function($album, $user) {
    $query = new Query(&quot;Photo&quot;);
    $query-&gt;equalTo(&quot;album&quot;, $album);
    try {
        // 删除相关的 photos
        $photos = $query-&gt;find();
        Object::destroyAll($photos);
    } catch (CloudException $ex) {
        throw new FunctionError(&quot;删除关联 photos 失败: {$ex-&gt;getMessage()}&quot;);
    }
});
</code></pre>
<h3 id="onverified">onVerified</h3>
<p>当用户通过邮箱或者短信验证时，对该用户执行特定操作。比如：</p>
<pre><code class="lang-php">Cloud::onVerifed(&quot;sms&quot;, function($user, $meta) {
    error_log(&quot;User {$user-&gt;getUsername()} verified by SMS&quot;);
});
</code></pre>
<p>函数的第一个参数是验证类型。短信验证为 <code>sms</code>，邮箱验证为 <code>email</code>。另外，数据库中相关的验证字段，如 <code>emailVerified</code> 不需要修改，系统会自动更新。</p>
<h3 id="onlogin">onLogin</h3>
<p>在用户登录之时执行指定操作，比如禁止在黑名单上的用户登录：</p>
<pre><code class="lang-php">Cloud::onLogin(function($user) {
    error_log(&quot;User {$user-&gt;getUsername()} is logging in.&quot;);
    if ($user-&gt;get(&quot;blocked&quot;)) {
        // 用户无法登录
        throw new FunctionError(&quot;Forbidden&quot;);
    }
    // 如果正常执行，则用户将正常登录
});
</code></pre>
<h3 id="-hook-">实时通信 Hook 函数</h3>
<p>请阅读 <a href="realtime_v2.html#云引擎_Hook">实时通信概览 &middot; 云引擎 Hook</a> 来了解以下函数的相关参数和用法。</p>
<h4 id="_messagereceived">_messageReceived</h4>
<p>在消息达到服务器、群组成员已解析完成、发送给收件人之前触发。例如，提前过滤掉聊天内容中的一些广告类的关键词：</p>
<pre><code class="lang-php">Cloud::define(&quot;_messageReceived&quot;, function($params, $user) {
    // params = {
    //     fromPeer: &#39;Tom&#39;,
    //     receipt: false,
    //     groupId: null,
    //     system: null,
    //     content: &#39;{&quot;_lctext&quot;:&quot;耗子，起床！&quot;,&quot;_lctype&quot;:-1}&#39;,
    //     convId: &#39;5789a33a1b8694ad267d8040&#39;,
    //     toPeers: [&#39;Jerry&#39;],
    //     __sign: &#39;1472200796787,a0e99be208c6bce92d516c10ff3f598de8f650b9&#39;,
    //     bin: false,
    //     transient: false,
    //     sourceIP: &#39;121.239.62.103&#39;,
    //     timestamp: 1472200796764
    // };

    error_log(&#39;_messageReceived start&#39;);
    $content = json_decode($params[&quot;content&quot;], true);
    $text = $content[&quot;_lctext&quot;];
    error_log($text);
    $processedContent = preg_replace(&quot;XX中介&quot;, &quot;**&quot;, $text);
    return array(&quot;content&quot; =&gt; $processedContent);
});
</code></pre>
<h4 id="_receiversoffline">_receiversOffline</h4>
<p>在消息发送完成时触发、对话中某些用户却已经下线，此时可以根据发送的消息来生成离线消息推送的标题等等。例如截取所发送消息的前 6 个字符作为推送的标题：</p>
<pre><code class="lang-php">Cloud::define(&#39;_receiversOffline&#39;, function($params, $user) {
    error_log(&#39;_receiversOffline start&#39;);
    // content 为消息的内容
    $shortContent = $params[&quot;content&quot;];
    if (strlen($shortContent) &gt; 6) {
        $shortContent = substr($shortContent, 0, 6);
    }

    $json = array(
        // 自增未读消息的数目，不想自增就设为数字
        &quot;badge&quot; =&gt; &quot;Increment&quot;,
        &quot;sound&quot; =&gt; &quot;default&quot;,
        // 使用开发证书
        &quot;_profile&quot; =&gt; &quot;dev&quot;,
        &quot;alert&quot; =&gt; shortContent
    );

    $pushMessage = json_encode($json);
    return array(
        &quot;pushMessage&quot; =&gt; $pushMessage,
    );
});
</code></pre>
<h4 id="_messagesent">_messageSent</h4>
<p>消息发送完成之后触发，例如消息发送完后，在云引擎中打印一下日志：</p>
<pre><code class="lang-php">Cloud::define(&#39;_messageSent&#39;, function($params, $user) {
    error_log(&#39;_messageSent start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    return array();

    // 在云引擎中打印的日志如下：
    // _messageSent start
    // params { fromPeer: &#39;Tom&#39;,
    //   receipt: false,
    //   onlinePeers: [],
    //   content: &#39;12345678&#39;,
    //   convId: &#39;5789a33a1b8694ad267d8040&#39;,
    //   msgId: &#39;fptKnuYYQMGdiSt_Zs7zDA&#39;,
    //   __sign: &#39;1472703266575,30e1c9b325410f96c804f737035a0f6a2d86d711&#39;,
    //   bin: false,
    //   transient: false,
    //   sourceIP: &#39;114.219.127.186&#39;,
    //   offlinePeers: [ &#39;Jerry&#39; ],
    //   timestamp: 1472703266522 }
});
</code></pre>
<h4 id="_conversationstart">_conversationStart</h4>
<p>创建对话，在签名校验（如果开启）之后、实际创建之前触发。例如对话创建时，在云引擎中打印一下日志：</p>
<pre><code class="lang-php">Cloud::define(&#39;_conversationStart&#39;, function($params, $user) {
    error_log(&#39;_conversationStart start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    return array();

    // 在云引擎中打印的日志如下：
    //_conversationStart start
    // params {
    //     initBy: &#39;Tom&#39;,
    //     members: [&#39;Tom&#39;, &#39;Jerry&#39;],
    //     attr: {
    //         name: &#39;Tom &amp; Jerry&#39;
    //     },
    //     __sign: &#39;1472703266397,b57285517a95028f8b7c34c68f419847a049ef26&#39;
    // }
});
</code></pre>
<h4 id="_conversationstarted">_conversationStarted</h4>
<p>创建对话完成触发。例如对话创建之后，在云引擎打印一下日志：</p>
<pre><code class="lang-php">Cloud::define(&#39;_conversationStarted&#39;, function($params, $user) {
    error_log(&#39;_conversationStarted start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    return array();

    // 在云引擎中打印的日志如下：
    // _conversationStarted start
    // params {
    //     convId: &#39;5789a33a1b8694ad267d8040&#39;,
    //     __sign: &#39;1472723167361,f5ceedde159408002fc4edb96b72aafa14bc60bb&#39;
    // }
});
</code></pre>
<h4 id="_conversationadd">_conversationAdd</h4>
<p>向对话添加成员，在签名校验（如果开启）之后、实际加入之前，包括主动加入和被其他用户加入两种情况都会触发，<strong>注意在创建对话时传入了其他用户的 Client Id 作为 Member 参数，不会触发 _conversationAdd </strong>。例如在云引擎中打印成员加入时的日志：</p>
<pre><code class="lang-php">Cloud::define(&#39;_conversationAdd&#39;, function($params, $user) {
    error_log(&#39;_conversationAdd start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    return array();

    // 在云引擎中打印的日志如下：
    // _conversationAdd start
    // params {
    //     initBy: &#39;Tom&#39;,
    //     members: [&#39;Mary&#39;],
    //     convId: &#39;5789a33a1b8694ad267d8040&#39;,
    //     __sign: &#39;1472786231813,a262494c252e82cb7a342a3c62c6d15fffbed5a0&#39;
    // }
});
</code></pre>
<h4 id="_conversationremove">_conversationRemove</h4>
<p>从对话中踢出成员，在签名校验（如果开启）之后、实际踢出之前触发，用户自己退出对话不会触发。例如在踢出某一个成员时，在云引擎日志中打印出该成员的 Client Id：</p>
<pre><code class="lang-php">Cloud::define(&#39;_conversationRemove&#39;, function($params, $user) {

    error_log(&#39;_conversationRemove start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    error_log(&#39;removed client Id:&#39; . $params[&#39;members&#39;][0]);
    return array();

    // 在云引擎中打印的日志如下：
    // _conversationRemove start
    // params {
    //     initBy: &#39;Tom&#39;,
    //     members: [&#39;Jerry&#39;],
    //     convId: &#39;57c8f3ac92509726c3dadaba&#39;,
    //     __sign: &#39;1472787372605,abdf92b1c2fc4c9820bc02304f192dab6473cd38&#39;
    // }
    //removed client Id: Jerry
});
</code></pre>
<h4 id="_conversationupdate">_conversationUpdate</h4>
<p>修改对话属性、设置或取消对话消息提醒，在实际修改之前触发。例如在更新发生时，在云引擎日志中打印出对话的名称：</p>
<pre><code class="lang-php">Cloud::define(&#39;_conversationUpdate&#39;, function($params, $user) {
    error_log(&#39;_conversationUpdate start&#39;);
    error_log(&#39;params&#39; . json_encode($params));
    error_log(&#39;name&#39; . $params[&#39;attr&#39;][&#39;name&#39;]);
    return array();

    // 在云引擎中打印的日志如下：
    // _conversationUpdate start
    // params {
    //     convId: &#39;57c9208292509726c3dadb4b&#39;,
    //     initBy: &#39;Tom&#39;,
    //     attr: {
    //         name: &#39;聪明的喵星人&#39;,
    //         type: &#39;public&#39;
    //     },
    // name 聪明的喵星人
});
</code></pre>
<h4 id="-">防止死循环调用</h4>
<p>在实际使用中有这样一种场景：在 <code>Post</code> 类的 <code>afterUpdate</code> Hook 函数中，对传入的 <code>Post</code> 对象做了修改并且保存，而这个保存动作又会再次触发 <code>afterUpdate</code>，由此形成死循环。针对这种情况，我们为所有 Hook 函数传入的 <code>Object</code> 对象做了处理，以阻止死循环调用的产生。</p>
<p>不过请注意，以下情况还需要开发者自行处理：</p>
<ul>
<li>对传入的 <code>Object</code> 对象进行 <code>fetch</code> 操作。</li>
<li>重新构造传入的 <code>Object</code> 对象，如使用 <code>Object::create()</code> 方法。</li>
</ul>
<p>对于使用上述方式产生的对象，请根据需要自行调用以下 API：</p>
<ul>
<li><code>Object-&gt;disableBeforeHook()</code> 或</li>
<li><code>Object-&gt;disableAfterHook()</code></li>
</ul>
<p>这样，对象的保存或删除动作就不会再次触发相关的 Hook 函数。</p>
<pre><code class="lang-php">Cloud::afterUpdate(&quot;Post&quot;, function($post, $user) {
    // 直接修改并保存对象不会再次触发 after update hook 函数
    $post-&gt;set(&#39;foo&#39;, &#39;bar&#39;);
    $post-&gt;save();

    // 如果有 fetch 操作，则需要在新获得的对象上调用相关的 disable 方法
    // 来确保不会再次触发 Hook 函数
    $post-&gt;fetch();
    $post-&gt;disableAfterHook();
    $post-&gt;set(&#39;foo&#39;, &#39;bar&#39;);
    $post-&gt;save();

    // 如果是其他方式构建对象，则需要在新构建的对象上调用相关的 disable 方法
    // 来确保不会再次触发 Hook 函数
    $post = Object::create(&quot;Post&quot;, $post-&gt;getObjectId());
    $post-&gt;disableAfterHook();
    $post-&gt;save();
});
</code></pre>
<h3 id="hook-">Hook 函数错误响应码</h3>
<p>为 <code>beforeSave</code> 这类的 hook 函数定义错误码，需要这样：</p>
<pre><code class="lang-php">Cloud::beforeSave(&quot;Review&quot;, function($review, $user) {
   $comment = $review-&gt;get(&quot;comment&quot;);
   if (!$comment) {
       throw new FunctionError(json_encode(array(
           &quot;code&quot; =&gt; 123,
           &quot;message&quot; =&gt; &quot;自定义错误信息&quot;,
       )));
   }
});
</code></pre>
<p>客户端收到的响应为：<code>Cloud Code validation failed. Error detail : {&quot;code&quot;:123, &quot;message&quot;: &quot;自定义错误信息&quot;}</code>，然后通过<strong>截取字符串</strong>的方式取出错误信息，再转换成需要的对象。</p>
<h3 id="hook-">Hook 函数超时</h3>
<p>Hook 函数的超时时间为 3 秒。如果 Hook 函数被其他的云函数调用（比如因为 save 对象而触发 <code>beforeSave</code> 和 <code>afterSave</code>），那么它们的超时时间会进一步被其他云函数调用的剩余时间限制。</p>
<p>例如，如果一个 <code>beforeSave</code> 函数是被一个已经运行了 13 秒的云函数触发，那么 <code>beforeSave</code> 函数就只剩下 2 秒的时间来运行。同时请参考 <a href="#云函数超时">云函数超时</a>。</p>
<h2 id="-">定时任务</h2>
<p>定时任务可以按照设定，以一定间隔自动完成指定动作，比如半夜清理过期数据，每周一向所有用户发送推送消息等等。定时任务的最小时间单位是<strong>秒</strong>，正常情况下时间误差都可以控制在秒级别。</p>
<p>定时任务是普通的云函数，也会遇到 <a href="#云函数超时">超时问题</a>，具体请参考 <a href="#超时的处理方案">超时处理方案</a>。</p>
  <div class="callout callout-info">
  <p>一个定时器如果在 24 小时内收到了超过 30 次的 400 (Bad Request) 或 502 (Bad Gateway) 的应答，它将会被云引擎禁用，同时系统会向开发者发出相关的禁用通知邮件。在控制台的日志中，对应的错误信息为 <a href="#short-circuited"><code>timerAction short-circuited and no fallback available</code></a>。</p>
</div>


<p>部署云引擎之后，进入 <a href="/cloud.html?appid={{appid}}#/task">控制台 &gt; 存储 &gt; 云引擎 &gt; 定时任务</a>，点击 <strong>创建定时器</strong>，然后设定执行的函数名称、执行环境等等。例如定义一个打印循环打印日志的任务 <code>log_timer</code>：</p>
<pre><code class="lang-php">Cloud::define(&quot;logTimer&quot;, function($params, $user) {
    error_log(&quot;Log in timer&quot;);
});
</code></pre>
<p>定时器创建后，其状态为<strong>未运行</strong>，需要点击 <span class="label label-default">启用</span> 来激活。之后其执行日志可以在 <strong>日志</strong> 页面中查看。</p>
<p>定时任务分为两类：</p>
<ul>
<li>使用 Cron 表达式安排调度</li>
<li>以秒为单位的简单循环调度</li>
</ul>
<p>以 Cron 表达式为例，比如每周一早上 8 点准时发送推送消息给用户：</p>
<pre><code class="lang-php">use \LeanCloud\Push;

Cloud::define(&quot;pushTimer&quot;, function($params, $user) {
    $push = new Push(array(&quot;alert&quot; =&gt; &quot;Public message&quot;));
    $push-&gt;setChannels(array(&quot;Public&quot;));
    $push-&gt;send();
});
</code></pre>
<p>创建定时器的时候，选择 <strong>Cron 表达式</strong> 并填入 <code>0 0 8 ? * MON</code>。</p>
<h3 id="cron-">Cron 表达式</h3>
<p>Cron 表达式的基本语法为：</p>
<pre><code>&lt;秒&gt; &lt;分钟&gt; &lt;小时&gt; &lt;日期 day-of-month&gt; &lt;月份&gt; &lt;星期 day-of-week&gt; &lt;年&gt;
</code></pre><table>
<thead>
<tr>
<th>位置</th>
<th>字段</th>
<th>约束</th>
<th>取值</th>
<th>可使用的特殊字符</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>秒</td>
<td>必须</td>
<td>0-59</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>2</td>
<td>分钟</td>
<td>必须</td>
<td>0-59</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>3</td>
<td>小时</td>
<td>必须</td>
<td>0-23（0 为午夜）</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>4</td>
<td>日期</td>
<td>必须</td>
<td>1-31</td>
<td><code>, - * ? / L W</code></td>
</tr>
<tr>
<td>5</td>
<td>月份</td>
<td>必须</td>
<td>1-12、JAN-DEC</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>6</td>
<td>星期</td>
<td>必须</td>
<td>1-7、SUN-SAT</td>
<td><code>, - * ? / L #</code></td>
</tr>
<tr>
<td>7</td>
<td>年</td>
<td>可选</td>
<td>空、1970-2099</td>
<td><code>, - * /</code></td>
</tr>
</tbody>
</table>
<p>特殊字符的用法：</p>
<table>
<thead>
<tr>
<th>字符</th>
<th>含义</th>
<th>用法</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>*</code></td>
<td>所有值</td>
<td>代表一个字段的所有可能取值。如将 <code>&lt;分钟&gt;</code> 设为 <strong>*</strong>，表示每一分钟。</td>
</tr>
<tr>
<td><code>?</code></td>
<td>不指定值</td>
<td>用于可以使用该字符的两个字段中的一个，在一个表达式中只能出现一次。如任务执行时间为每月 10 号，星期几无所谓，那么表达式中 <code>&lt;日期&gt;</code> 设为 <strong>10</strong>，<code>&lt;星期&gt;</code> 设为 <strong>?</strong>。</td>
</tr>
<tr>
<td><code>-</code></td>
<td>范围</td>
<td>如 <code>&lt;小时&gt;</code> 为 <strong>10-12</strong>，即10 点、11 点、12 点。</td>
</tr>
<tr>
<td><code>,</code></td>
<td><span class="text-nowrap">分隔多个值</span></td>
<td>如 <code>&lt;星期&gt;</code> 为 <strong>MON,WED,FRI</strong>，即周一、周三、周五。</td>
</tr>
<tr>
<td><code>/</code></td>
<td>增量</td>
<td>如 <code>&lt;秒&gt;</code> 设为 <strong>0/15</strong>，即从 0 秒开始，以 15 秒为增量，包括 0、15、30、45 秒；<strong>5/15</strong> 即 5、20、35、50 秒。<strong>*/</strong> 与 <strong>0/</strong> 等效，如 <code>&lt;日期&gt;</code> 设为 <strong>1/3</strong>，即从每个月的第一天开始，每 3 天（即每隔 2 天）执行一次任务。</td>
</tr>
<tr>
<td><code>L</code></td>
<td>最后</td>
<td>其含义随字段的不同而不同。 <code>&lt;日期&gt;</code> 中使用 <strong>L</strong> 代表每月最后一天，如 1 月 31 号、2 月 28 日（非闰年）；<code>&lt;星期&gt;</code> 中单独使用 <strong>L</strong>，则与使用 <strong>7</strong> 或 <strong>SAT</strong> 等效，若前面搭配其他值使用，如 <strong>6L</strong>，则表示每月的最后一个星期五。<br><br>注意，<strong>在 L 之前不要使用多个值或范围</strong>，如 <strong>1,2L</strong>、<strong>1-2L</strong>，否则会产生错误结果。</td>
</tr>
<tr>
<td><code>W</code></td>
<td>weekday</td>
<td>周一到周五的任意一天，离指定日期最近的非周末的那一天。<br><code>&lt;日期&gt;</code> 为 <strong>15W</strong> 即离 15 号最近的非周末的一天；如果 15 号是周六，任务则会在 14 号周五触发，如果 15 号是周日，则在 16 号周一触发，如果 15 号是周二，则周二当天触发。<br><br><code>&lt;日期&gt;</code> 为 <strong>1W</strong>，如果 1 号是周六，任务则会在 3 号周一触发，因为不能向前跨月来计算天数。<br><br>在 <code>&lt;日期&gt;</code> 中 <strong>W</strong> 之前只能使用一个数值，不能使用多个值或范围。<strong>LW</strong> 可在 <code>&lt;日期&gt;</code> 中组合使用，表示每月最后一个非周末的一天。</td>
</tr>
<tr>
<td><code>#</code></td>
<td>第 N 次</td>
<td>如 <code>&lt;星期&gt;</code> 为 <strong>6#3</strong> 代表每月第三个周五，<strong>2#1</strong> 为每月头一个周一，<strong>4#5</strong> 为每月第五个周三；如果当月没有第五周，则 <strong>#5</strong> 不会产生作用。</td>
</tr>
</tbody>
</table>
<p>各字段以空格或空白隔开。JAN-DEC、SUN-SAT 这些值不区分大小写，比如 MON 和 mon 效果一样。更详细的使用方法请参考 <a href="http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger">Quartz 文档（英文）</a> 。</p>
<p>举例如下：</p>
<table>
<thead>
<tr>
<th>表达式</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>0  0/5 * * * ?</code></td>
<td>每隔 5 分钟执行一次</td>
</tr>
<tr>
<td><code>10 0/5 * * * ?</code></td>
<td>每隔 5 分钟执行一次，每次执行都在分钟开始的 10 秒，例如 10:00:10、10:05:10 等等。</td>
</tr>
<tr>
<td><code style="white-space:nowrap;">0 30 10-13 ? * WED,FRI</code></td>
<td>每周三和每周五的 10:30、11:30、12:30、13:30 执行。</td>
</tr>
<tr>
<td><code>0 0/30 8-9 5,20 * ?</code></td>
<td>每个月的 5 号和 20 号的 8 点和 10 点之间每隔 30 分钟执行一次，也就是 8:00、8:30、9:00 和 9:30。</td>
</tr>
</tbody>
</table>
<h3 id="-">定时器数量</h3>
<p>生产环境和预备环境的定时器数量都限制在 5 个以内，也就是说你总共最多可以创建 10 个定时器。</p>
<h3 id="-">错误信息</h3>
<p>定时器执行后的日志会记录在 <a href="/cloud.html?appid={{appid}}#/log">控制台 &gt; 存储 &gt; 云引擎 &gt; 其它 &gt; 日志</a> 中，以下为常见的错误信息及原因。</p>
<ul>
<li><strong>timerAction timed-out and no fallback available</strong><br>
某个定时器触发的云函数，因 15 秒内没有响应而超时（可参考 <a href="#超时的处理方案">对云函数调用超时的处理</a>）。</li>
<li><a name="short-circuited"></a><strong>timerAction short-circuited and no fallback available</strong><br>
某个定时器触发的云函数，因为太多次超时而停止触发。</li>
</ul>
<h2 id="-">权限说明</h2>
<p>云引擎可以有超级权限，使用 Master key 调用所有 API，因此会忽略 ACL 和 Class Permission 限制。你只需要使用下列代码来初始化 SDK（在线定义默认就有全局的超级权限）：</p>
<pre><code class="lang-php">//参数依次为 AppId, AppKey, MasterKey
use \LeanCloud\Client;
Client::initialize($appId, $appKey, $masterKey);
Client::useMasterKey(true);
</code></pre>
<p>如果在你的服务端环境里也想做到超级权限，也可以使用该方法初始化。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
