<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>云引擎运行方案 - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年9月26日下午2点53分">更新于 <time datetime="2017-09-26T14:53:09+08:00">2017-09-26</time></span></div>
        <h1 id="-">云引擎运行方案</h1>
<p>这篇文档主要介绍云引擎的付费方案、如何管理云引擎的资源、如何使用组管理功能。</p>
<h2 id="-">体验实例</h2>
<p>我们对于每个应用都默认赠送一个「基本资源 0.5 CPU + 256 MB 内存」的体验实例，可以免费使用，供开发者学习和测试云引擎。</p>
<p>体验实例在进行部署等管理操作时会暂停服务；同时体验实例会执行 <a href="#休眠策略">休眠策略</a>，没有请求时会休眠，有请求时启动（首次启动可能需要几秒的时间），每天最多运行 18 个小时。</p>
<h2 id="-">标准实例</h2>
<p>对于商业项目和正式上线的产品，开发者可根据需要，付费购买更多不同规格的标准实例。标准实例 24 小时运行随时待命，无请求时也不会休眠，并配有预备环境方便测试。如果购买了两个或更多的实例，还能实现负载均衡、平滑部署等高级功能，充分保障服务的可用性。</p>
<dl>
<dt>预备环境</dt>
<dd>
<p>系统为预备环境提供了一个体验实例。这样在正式上线前，你可以先将代码发布到预备环境，使用线上的环境和数据进行模拟测试。</p>
</dd>
<dt>多实例实现服务高可用性</dt>
<dd>
<p>添加两个或更多的实例不但可以提高处理能力，还可以实现<u>负载均衡</u>和<u>故障容灾</u>。这是因为系统会自动将多个实例分配到不同的物理服务器上，当一个实例崩溃重启，或当其所在服务器出现意外的硬件故障时，系统会自动进行故障转移（failover），将请求自动交由其他实例处理，从而保障了服务的高可用性。</p>


  <div class="callout callout-info">
  <p>【单实例】相比之下，使用单个实例无法实现负载均衡或故障容灾。因为当一个单实例所在的服务器发生了宕机，该实例会在几分钟之内被迁移到正常的服务器上，在此期间该实例无法对任何应用请求做出响应。因此，<span class="callout-danger" style="background-color: transparent;">我们建议对服务可用性要求较高的应用，应该使用两个以上的云引擎实例。</span></p>
</div>

</dd>
<dt>平滑部署</dt>
<dd>
<p>在代码部署时，系统会优先启动使用新版本代码的实例，待新实例通过了健康检查，系统修改路由将请求转发至新实例后，再关闭旧版本的实例，让服务保持零中断。</p>
</dd>
<dt>创建分组，绑定不同域名或部署多份代码</dt>
<dd>
<p>将实例分组可以实现在访问同一数据源的情况下，部署多份云引擎代码，满足不同的业务需求。每个组可以设置独立的二级域名。详见 <a href="#组管理">组管理</a>。</p>
</dd>
</dl>

<p>如果不想继续付费，请删除在当前应用下所有生产环境中的标准实例。如此以来，系统会自动切换回体验实例，并停止扣费。</p>
<h2 id="-">休眠策略</h2>
<div class="callout callout-info">标准实例不会休眠。</div>

<p>体验实例会 <strong>启用休眠策略</strong>。</p>
<ul>
<li>如果应用最近一段时间（半小时）没有任何外部请求，则休眠。</li>
<li>休眠后如果有新的外部请求实例则马上启动。访问者的体验是第一个请求响应时间是 2 ~ 10 秒（视实例启动时间而定），后续访问响应速度恢复正常。</li>
<li><a id="强制休眠" name="强制休眠"></a>强制休眠：如果最近 24 小时内累计运行超过 18 小时，则强制休眠。此时新的请求会收到 503 的错误响应码，该错误可在  <a href="/cloud.html?appid={{appid}}#/stat">云引擎 &gt; 统计 &gt; Status 页面</a>  中查看。</li>
</ul>
<p><strong>提示</strong>：如果不希望预备环境的体验实例因为强制休眠而中断服务，或需要多个实例来完整模拟生产环境，可以在预备环境根据需要购买标准实例。</p>
<h2 id="-">实例管理</h2>
<p>一个包含 <strong>0.5 CPU、256 MB 内存</strong> 的实例被定义为「基本资源」，这一规格标明了该实例最大可以使用的硬件资源，即应用理论上最大 CPU 使用量为 50%，最大内存使用量 256 MB。</p>
<p>开发者可以将基本资源组合使用：</p>
<ul>
<li>启动 4 个基本资源的实例，即 4 个 0.5 CPU、256 MB 内存的实例。</li>
<li>启动 2 个 2 倍基本资源的实例，即 2 个 1 CPU、512 MB 内存的实例。</li>
</ul>
<p>创建第一个标准实例需要应用所有者的余额大于 200 元，之后每创建一个实例需要额外 50 元余额，同时每个应用最多创建 12 个实例，如果需要更多资源请通过 <a href="&#109;&#x61;&#x69;&#108;&#x74;&#x6f;&#58;&#115;&#117;&#112;&#x70;&#111;&#x72;&#x74;&#x40;&#108;&#x65;&#97;&#x6e;&#x63;&#108;&#x6f;&#x75;&#x64;&#x2e;&#x72;&#x6f;&#x63;&#x6b;&#x73;">&#115;&#117;&#112;&#x70;&#111;&#x72;&#x74;&#x40;&#108;&#x65;&#97;&#x6e;&#x63;&#108;&#x6f;&#x75;&#x64;&#x2e;&#x72;&#x6f;&#x63;&#x6b;&#x73;</a> 联系我们的技术支持。</p>
<h3 id="-">创建和管理实例</h3>
<p>点击实例管理界面下的 <span class="btn btn-primary">创建新实例</span>，选择所需要的资源规格，点击 <strong>保存</strong>。</p>
<p><img class="responsive" src="images/leanengine_plan_pro_create_instance.png" width="600" height="325"></p>
<p class="text-muted">图中可选实例的规格在未来可能会改变，请以控制台中的实际数字为准。</p>

<p>你还可以点击标准实例右上角的小齿轮来进行 <strong>调整实例规格</strong> 或 <strong>删除</strong> 等操作，删除实例不会造成应用的数据丢失，但应用对并发访问的处理能力会降低。</p>
<h3 id="-">选择实例规格</h3>
<p>为了防止实例因为资源使用超限而受到影响（特别是内存超限），我们建议：</p>
<ul>
<li>压力较大的稳定期，<strong>CPU</strong> 使用达到或超过阈值的 <strong>30%</strong> 就建议提高实例规格。</li>
<li>压力较大的稳定期，<strong>内存</strong> 使用达到或超过阈值的 <strong>70％</strong> 就建议提高实例规格。</li>
</ul>
<p>要了解实例资源的耗用程度，请阅读 <a href="#实例资源的使用量">实例资源的使用量</a>。</p>
<div class="callout callout-info">
<strong>充分利用高规格实例的资源</strong><br>
对于 Node.js 应用，默认单进程最大使用 CPU 为 100%，内存为 1.5 GB。如果实例规格远远大于此使用量，就会出现实例资源无法被充分利用的情况。因此你需要使用 cluster 模块来 <a href="leanengine_webhosting_guide-node.html#多进程运行">多进程运行</a>，确保资源充分利用。
</div>

<h3 id="-">选择实例数量</h3>
<p>开发者可以使用多个实例，并以此来提升整个应用的业务处理容量，保证服务的高可用性，但并不是说实例的数量越多越好。比如使用 8 个以上的实例反而会使部署周期变长（因为要重启的实例数量增多），这样多实例的好处就不明显了。</p>
<p>因此，我们建议将实例的数量控制在 <strong>2～4 个之间</strong>。</p>
<ul>
<li>如果应用的业务压力较小，出于故障转移的目的，我们建议使用 2 个 0.5 CPU、256 MB 内存的实例。</li>
<li>如果应用的业务压力很大，出于防止实例数过多的目的，我们建议使用 4～6 个 4 CPU、2 GB 内存的实例。</li>
</ul>
<p>要了解实例所承担的业务压力的大小，请阅读 <a href="#实例资源的使用量">实例资源的使用量</a>。</p>
<h3 id="-">实例资源的使用量</h3>
<p><a href="/cloud.html?appid={{appid}}#/stat">控制台 &gt; 存储 &gt; 云引擎 &gt; 统计</a> 页面显示出当前应用下所有实例资源的使用情况，开发者由此可以判断实例资源是否即将或已经超限。</p>
<ul>
<li><strong>CPU</strong><br>
曲线图展现出在一段时间内应用实际 CPU 的使用量。如果 CPU 接近或达到阈值，应用表现为请求响应时间延长。</li>
<li><strong>内存</strong><br>
曲线图展现出在一段时间内应用内存的实际使用量。如果内存使用量达到阈值，则相关的业务进程（比如 Node.js 进程或者 Python 进程）会因为内存溢出（OOM）而重启，从而导致业务处理中断，并且该实例在启动期间服务不可用。如果内存曲线图<u>频繁地接近阈值然后忽然下降</u>，就说明内存使用超限导致了进程重启。</li>
<li><strong>响应时间</strong><br>
若曲线图升高，说明 CPU 使用量达到或超过阈值，实例的 CPU 资源紧张。</li>
<li><strong>概况</strong><span class="text-muted">（下拉列表）</span><br>
所有实例资源使用量的总和。</li>
<li><strong>详细</strong><span class="text-muted">（下拉列表）</span><br>
单个实例的资源使用量。</li>
</ul>
<p>后续我们会提供阈值告警服务，这样当 CPU 或内存的使用量达到开发者为应用所设置的阈值时，系统便会向开发者发送警告通知。要扩容实例资源请参考 <a href="#选择实例规格">选择实例规格</a> 和 <a href="#选择实例数量">选择实例数量</a>。</p>
<h2 id="-">组管理</h2>
<p>开发者还可以使用云引擎的组管理功能，建立多个独立的云引擎实例分组，在访问同一数据源的情况下，部署多套不同的服务器端业务代码，并对每个分组设置独立的二级域名，实现更丰富的业务需求：</p>
<ul>
<li>将用户界面和管理后台拆分为不同的项目，使用不同的域名。</li>
<li>单独部署主系统之外的边缘支持系统，以免边缘系统出现问题时影响主系统。</li>
<li>使用不同的服务器端语言来编写云函数和网站，例如你可以使用 Node.js 编写云函数，而用 PHP 来实现网站。</li>
</ul>
<p>云引擎默认会有一个用于处理云函数、Hook 和定时任务的分组，其他额外创建的分组将成为「拓展分组」，拓展分组不支持通过 SDK 来调用云函数，也不支持 Hook 函数和定时任务，只能通过绑定的二级域名或自定义域名提供网站托管服务。在创建了多个分组后，你可以随时在云引擎的设置界面切换默认分组。</p>
<p>每个分组都有独立的预备环境用于测试代码、独立的域名供外部访问，每个分组的环境变量、代码仓库等设置也是独立的，你可以单独对一个组部署代码。你可以按照 <a href="#实例管理">实例管理</a> 一节中的介绍，在分组中创建和管理实例，如果组中没有实例就无法响应请求，如果组中有多个实例变可以提供负载均衡和高可用的能力。</p>
<p>关于组管理功能费用请参考 <a href="#组管理功能价格">组管理功能价格</a> 。</p>
<h3 id="-">创建和管理组</h3>
<p>你可以在 <a href="/cloud.html?appid={{appid}}">控制台 &gt; 存储 &gt; 云引擎</a> 中点击左上角的分组选择框，点击「分组管理」，即可创建新的分组、删除分组、修改默认分组。</p>
<p>在选择一个分组之后，便可以在设置界面中修改分组的代码仓库、二级域名、环境变量等信息。也可以在分组下创建新的实例，开发者只能创建生产环境实例，在创建第一个实例时会自动赠送一个预备环境；在删除最后一个实例时也会删除预备环境；在删除分组前需要先删除分组下的实例。</p>
<p>在使用命令行工具部署拥有多个组的应用时，请确保命令行工具版本至少为 <code>0.7.1</code>。可以使用 <code>$ lean version</code> 来查看当前版本。更多关于命令行工具的介绍，请参考 <a href="leanengine_cli.html">命令行工具 CLI 使用指南</a>。</p>
<h2 id="-">价格</h2>
<h3 id="-">实例价格</h3>
<p>体验实例不收取费用。</p>
<p>标准实例按天扣费，使用时间不足一天按一天收费，次日凌晨系统从账户余额中扣费，费用明细可在 <a href="/bill.html#/bill/record">交易历史</a> 中查看。</p>
<p>不同容量的云引擎实例的价格，请参考 <a href="/pricing">官网报价</a>。不同的节点使用不同的结算货币，价格会有差异，敬请留意。</p>
<p>例如，假设每个基本资源 1 元／天（实际价格以官网报价为准），即：</p>
<ul>
<li>如果启动 4 个基本资源的实例，即 4 ✕ 1 元 = 4 元／天。</li>
<li>如果启动 2 个 2 倍基本资源的实例，即 (2 ✕ 2) ✕ 1 元 = 4 元／天。</li>
</ul>
<p>资源使用量按当天<strong>最大</strong>资源占用计算。假设某天从 0 点至 23:59 分之间：</p>
<ul>
<li>创建了 4 个基本资源实例；</li>
<li>发现资源数量不足，将 4 个实例都扩容 2 倍，即占用 8 个基本资源容量；</li>
<li>发现资源过多，删除 1 个实例，当前占用 6 个基本资源。</li>
</ul>
<p>则当天费用按照 8 个基本资源计算。</p>
<h3 id="-">组管理功能价格</h3>
<p>如果应用云引擎只有一个分组，则不收取组管理功能的费用。</p>
<p>如果应用云引擎分组大于一个，则认为开启组管理功能，价格为当前应用下所有基本资源的数量 ✕ 基本资源单价 ✕ 20%。</p>
<p>例如，假设每个基本资源 1 元／天（实际价格以官网报价为准），即：</p>
<ul>
<li>如果启动 4 个基本资源的实例，即 4 ✕ 1 元 ✕ 20% = 0.8 元／天。</li>
<li>如果启动 2 个 2 倍基本资源的实例，即 (2 ✕ 2) ✕ 1 元 ✕ 20% = 0.8 元／天。</li>
</ul>
<p>如果应用移除其他分组，只保留一个，则认为关闭组管理功能，从次日开始不收取组管理功能的费用。</p>
<p><strong>注意</strong>：分组中没有实例也认为分组存在，所以如果确认不使用请将相关分组删除。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
