<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>LeanCloud 文档</title>
<script src="//cdn1.lncld.net/static/js/av-mini-0.5.4.js"></script>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<!-- endbuild -->

<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body  class="dashboard-init" data-offset="0" ng-cloak ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse" id="app-options">
      <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/applist.html" class="nav-logo font-logo">L<span class="visible-xs-inline">eanCloud</span></a>
        </li>
      </ul>
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          <li>
            <a href="/docs/sdk_down.html">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="dashboard-subnav-text">SDK 下载</div>
            </a>
          </li>
          <li ng-class="{active:currentHtmlPage=='help.html'}">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <i class="dashboard-subnav-text">帮助</i>
            </a>
            <ul class="dropdown-menu">
              
              <!-- <li><a href="start.html">快速入门</a></li> -->
              
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="https://leancloud.cn/apionline/">在线 API 工具</a></li>
              <li><a href="http://leancloud.sexy" target="_blank">第三方库</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/apps.html">LeanCloud App</a></li>
              <li><a href="/pricing.html">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak>

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li><a href="start.html">快速入门</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-objc.html">ChatKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation_guide-objc.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-objc.html">权限管理使用指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms_guide-objc.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation_guide-android.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-android.html">权限管理使用指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms_guide-android.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="js_push.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation_guide-js.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-js.html">权限管理使用指南</a></li>
            
            <li><a href="sms_guide-js.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li><a href="realtime_guide-dotnet.html">实时通信开发指南</a></li>
            <li><a href="unity_statistics.html">Unity3D 统计开发指南</a></li>
            <li><a href="dotnet_faq.html">FAQ</a></li>
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation_guide-python.html">数据模型设计指南</a></li>
            <li><a href="acl_guide-python.html">权限管理使用指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <li><a href="oauth2_provider.html">开放平台接入</a></li>
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">云引擎命令行工具</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <li><a href="user_groups.html">用户群分析指南</a></li>
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
           <li><a href="http://leancloud.sexy" target="_blank">第三方库</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <h1 id="-middot-python">云引擎指南 &middot; Python</h1>
<p>云引擎允许你编写 JavaScript、Python 等代码，并部署到 LeanCloud 云端，通过拦截 save 请求，在保存对象之前或之后做一些事情；你可以自定义业务函数，并通过 SDK 调用；你还可以调用部分第三方库来实现自己的业务逻辑，甚至还可以将整个网站架设在云引擎之上，我们提供了网站托管服务。</p>
<p>与旧版云引擎的区别在于：</p>
<ul>
<li><strong>标准的运行环境</strong>：之前云引擎是我们订制的一个沙箱运行环境，功能受限，并且代码只可以在云引擎环境运行，难以迁移到自己搭建的后端服务器上。而云引擎环境可以部署标准项目。</li>
<li><strong>多语言支持</strong>：目前支持 Node.js、Python、PHP、Java，未来会实现更多的编程语言运行环境。</li>
</ul>
<h2 id="-">命令行工具</h2>
<p>使用命令行工具可以非常方便地部署和发布云引擎项目，查看项目状态和查看日志，甚至支持多应用部署。具体请参考 <a href="leanengine_cli.html">命令行工具指南</a>。</p>
<h2 id="demo">Demo</h2>
<ul>
<li><a href="https://github.com/leancloud/python-getting-started">python-getting-started</a>：这是一个非常简单的 Python Web 的项目，可以作为大家的项目模板。（在线演示：<a href="http://python.leanapp.cn/">http://python.leanapp.cn/</a>）</li>
</ul>
<h2 id="-">快速入门</h2>
<p>首先确认本机已经安装了相关的运行环境和 <a href="leanengine_cli.html">命令行工具</a>。<strong>注意</strong>：目前云引擎的 Python 版本为 2.7，请你最好使用此版本的 Python 进行开发。Python 3 的支持正在开发中。</p>
<h3 id="-">创建应用</h3>
<p>从 Github 迁出实例项目，该项目可以作为一个你应用的基础：</p>
<pre><code>$ git clone https://github.com/leancloud/python-getting-started.git
$ cd python-getting-started
</code></pre><p>然后添加应用 appId 等信息到该项目：</p>
<pre><code>$ lean app add &lt;APP-NAME&gt; &lt;APP-ID&gt;
</code></pre><p><code>&lt;APP-NAME&gt;</code> 是应用名称，<code>&lt;APP-ID&gt;</code> 是应用 ID。这些信息可以 <a href="/app.html?appid={{appid}}#/general">控制台 /（选择应用）/ 设置 / 基本信息</a> 和 <a href="/app.html?appid={{appid}}#/key">应用 Key</a> 中找到。</p>
<h3 id="-">本地运行</h3>
<p>安装依赖：</p>
<pre><code>$ sudo pip install -Ur requirements.txt
</code></pre><p>启动应用：</p>
<pre><code>$ lean up
</code></pre><p>窗口会提示输入 Master Key，该信息可以在 <a href="/app.html?appid={{appid}}#/key">控制台 / 设置 / 应用 Key</a> 中找到。</p>
<div class="callout callout-info">复制粘贴 Master Key 后，窗口不会有任何显示，直接按回车键确认即可。</div>

<p>应用即可启动运行：<a href="http://localhost:3000">http://localhost:3000</a></p>
<p>可以通过下列命令确认云函数工作正常，该函数定义在 <code>$PROJECT_DIR/cloud.py</code> 文件中：</p>
<pre><code class="lang-sh">curl -X POST -H &quot;Content-Type: application/json; charset=utf-8&quot;   \
       -H &quot;X-LC-Id: {{appid}}&quot;          \
       -H &quot;X-LC-Key: {{appkey}}&quot;        \
       -H &quot;X-LC-Prod: 0&quot;  -d &#39;{}&#39; \
       http://localhost:3000/1.1/functions/hello
</code></pre>
<p>如果需要指定 web 服务端口，可以增加 <code>-P</code> 参数。获取帮助信息请使用 <code>-h</code> 参数。</p>
<h3 id="-">部署到云引擎</h3>
<p>部署到预备环境：</p>
<pre><code>$ avoscloud deploy
</code></pre><p>如果你设置了 <a href="#设置域名">二级域名</a>，即可通过 <code>http://stg-${your_app_domain}.leanapp.cn</code> 访问你应用的预备环境。</p>
<p>部署到生产环境：</p>
<pre><code>$ avoscloud publish
</code></pre><p>如果你设置了 <a href="#设置域名">二级域名</a>，即可通过 <code>http://${your_app_domain}.leanapp.cn</code> 访问你应用的生产环境。</p>
<p>通过下列命令可以确认云函数在云引擎上工作正常：</p>
<pre><code class="lang-sh">curl -X POST -H &quot;Content-Type: application/json; charset=utf-8&quot;   \
       -H &quot;X-LC-Id: {{appid}}&quot;          \
       -H &quot;X-LC-Key: {{appkey}}&quot;        \
       -H &quot;X-LC-Prod: 1&quot;  -d &#39;{}&#39; \
       https://leancloud.cn/1.1/functions/hello
</code></pre>
<h2 id="-">使用云引擎中间件</h2>
<p>如果你没有使用项目框架，则需要自己安装和初始化云引擎中间件。</p>
<h3 id="-">环境变量</h3>
<p>你可以在代码中使用以下与云引擎平台相关的环境变量：</p>
<table>
<thead>
<tr>
<th>变量名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>LEANCLOUD_APP_ID</code></td>
<td>当前应用的 App Id</td>
</tr>
<tr>
<td><code>LEANCLOUD_APP_KEY</code></td>
<td>当前应用的 App Key</td>
</tr>
<tr>
<td><code>LEANCLOUD_APP_MASTER_KEY</code></td>
<td>当前应用的 Master Key</td>
</tr>
<tr>
<td><code>LEANCLOUD_APP_ENV</code></td>
<td>当前的应用环境：<ul><li>开发环境没有该环境变量，或值为 <code>development</code>（一般指本地开发）</li><li>预备环境值为 <code>stage</code></li><li>生产环境值为 <code>production</code></li></ul></td>
</tr>
<tr>
<td><code>LEANCLOUD_APP_PORT</code></td>
<td>当前应用开放给外网的端口，只有监听此端口，用户才可以访问到你的服务。</td>
</tr>
<tr>
<td><code>LEANCLOUD_APP_INSTANCE</code></td>
<td>云引擎实例名称，在多实例环境可以通过此变量标示自己。</td>
</tr>
<tr>
<td><code>LEANCLOUD_REGION</code></td>
<td>云引擎服务所在区域，值为 <code>CN</code> 或 <code>US</code>，分别表示国内节点和美国节点。</td>
</tr>
</tbody>
</table>
<p><strong>提示</strong>：旧版云引擎使用的以 <code>LC_</code> 开头的环境变量（如 <code>LC_APP_ID</code>）已经被弃用。为了保证代码兼容性，<code>LC_</code> 变量在一段时间内依然有效，但未来可能会完全失效。为了避免报错，建议使用 <code>LEANCLOUD_</code> 变量来替换。</p>
<p><strong>提示</strong>：如果在客户端想调用云引擎的预备环境，各个 SDK 都有类似于 <code>setProduction</code> 的方法，比如 <a href="/api-docs/javascript/symbols/AV.html#.setProduction">JavaScript SDK &middot; AV.setProduction(production)</a>，其中 <code>production</code> 设置为 <code>0</code> 则该 SDK 将请求预备环境；设置为 <code>1</code> 将请求生产环境，默认为 <code>1</code>。</p>
<h3 id="-">安装</h3>
<p>首先需要安装 LeanCloud Python SDK，在你的项目 <code>requirements.txt</code> 中增加一行新的依赖：</p>
<pre><code>leancloud-sdk
</code></pre><p>之后执行 <code>pip install -r requirements.txt</code> 来安装 LeanCloud Python SDK。</p>
<p>在正式使用数据存储 API 之前，你需要使用自己的应用 key 进行初始化中间件：</p>
<pre><code class="lang-python">import os

import leancloud
from flask import Flask


APP_ID = os.environ.get(&#39;LC_APP_ID&#39;, &#39;{{appid}}&#39;) # 你的 app id
MASTER_KEY = os.environ.get(&#39;LC_APP_MASTER_KEY&#39;, &#39;{{masterkey}}&#39;) #  你的 master key

leancloud.init(APP_ID, master_key=MASTER_KEY)

app = Flask(__name__)
engine = leancloud.Engine(app)
</code></pre>
<p>之后请在 wsgi.py 中将 engine 赋值给 application（而不是之前的 Flask 实例）。</p>
<p>请保证在使用任何数据存储功能前执行这段代码。</p>
<h3 id="-">使用数据存储</h3>
<p>你可以直接在云引擎上使用我们的 <a href="/features/storage.html">数据存储</a> 服务，相关功能请参考 <a href="./python_guide.html">Python SDK</a>。</p>
<h2 id="-">云函数</h2>
<p>当你开发移动端应用时，可能会有下列需求：</p>
<ul>
<li>应用有 Android、iOS 甚至 Windows Phone 客户端，但是很多业务逻辑都是一样的，你希望能将这部分逻辑抽取出来，只维护一份。</li>
<li>有些逻辑希望能够较灵活的调整（比如某些个性化列表的排序规则），但又不想频繁的更新和发布移动客户端。</li>
<li>有些逻辑需要的数据量很大，或者运算成本高（比如某些统计汇总需求），你不希望在移动客户端进行运算，因为这样会消耗大量的网络流量和手机运算能力。</li>
<li>当应用执行特定操作时，由云端系统自动触发一段逻辑（称为 <a href="#Hook_函数">Hook 函数</a>），比如：用户注册后对该用户增加一些信息记录用于统计；或某业务数据发生变化后希望做一些别的业务操作。这些代码不适合放在移动客户端（比如因为上面提到的几个原因）。</li>
<li>你希望有能有定时任务，比如每天凌晨清理垃圾注册账号等等。</li>
</ul>
<p>这时，你可以使用云引擎的云函数。云函数是一段部署在服务端的代码，编写 JavaScript 或者 Python 代码，并部署到我们的平台上，可以很好的完成上述需求。</p>
<p>你可以使用 <a href="#项目定义函数">项目定义函数</a> 来开发云函数。</p>
<p>示例项目中 <code>$PROJECT_DIR/cloud.py</code> 文件定义了一个很简单的 <code>hello</code> 云函数。现在让我们看一个明显较复杂的例子来展示云引擎的用途。在云端进行计算的一个重要理由是，你不需要将大量的数据发送到设备上做计算，而是将这些计算放到服务端，并返回结果这一点点信息就好。</p>
<p>例如，你写了一个应用，让用户对电影评分，一个评分对象大概是这样：</p>
<pre><code class="lang-json">{
  &quot;movie&quot;: &quot;夏洛特烦恼&quot;,
  &quot;stars&quot;: 5,
  &quot;comment&quot;: &quot;夏洛一梦，笑成麻花&quot;
}
</code></pre>
<p><code>stars</code> 表示评分，1-5。如果你想查找《夏洛特烦恼》这部电影的平均分，你可以找出这部电影的所有评分，并在设备上根据这个查询结果计算平均分。但是这样一来，尽管你只是需要平均分这样一个数字，却不得不耗费大量的带宽来传输所有的评分。通过云引擎，我们可以简单地传入电影名称，然后返回电影的平均分。</p>
<p>云函数接收 JSON 格式的请求对象，我们可以用它来传入电影名称。整个 <a href="./python_guide.html">Python SDK</a> 都在云引擎运行环境上有效，可以直接使用，所以我们可以使用它来查询所有的评分。结合在一起，实现 <code>averageStars</code> 函数的代码如下：</p>
<pre><code class="lang-python">from leancloud import Query
from leancloud import Engine

@engine.define
def averageStars(movie):
    sum = 0
    query = Query(&#39;Review&#39;)
    try:
        reviews = query.find()
    except leancloud.LeanCloudError, e:
        // 如果不想做特殊处理，可以不捕获这个异常，直接抛出
        print e
        raise e
    for review in reviews:
        sum += review.get(&#39;starts&#39;)
    return sum / len(reviews)
</code></pre>
<h3 id="rest-api-">REST API 调用云函数</h3>
<p>云函数可以被各种客户端 SDK 调用（详见各 SDK 的「调用云引擎」部分），也可以通过 REST API 来调用。例如，用一部电影名称去调用 <code>averageStars</code> 函数：</p>
<pre><code class="lang-sh">curl -X POST -H &quot;Content-Type: application/json; charset=utf-8&quot; \
       -H &quot;X-LC-Id: {{appid}}&quot; \
       -H &quot;X-LC-Key: {{appkey}}&quot; \
       -H &quot;X-LC-Prod: 0&quot; \
       -d &#39;{&quot;movie&quot;:&quot;夏洛特烦恼&quot;,&quot;stars&quot;: 5,&quot;comment&quot;: &quot;夏洛一梦，笑成麻花&quot;}&#39; \
https://leancloud.cn/1.1/functions/averageStars
</code></pre>
<p>客户端传递的参数，会被当作关键字参数传递进云函数。</p>
<p>比如上面的例子，调用时传递的参数为 <code>{&quot;movie&quot;: &quot;夏洛特烦恼&quot;}</code>，定义云函数的时候，参数写 movie，即可拿到对应的参数。</p>
<p>但是有时候，您传递的参数可能是变长的，或者客户端传递的参数数量错误，这时候就会报错。为了应对这种情况，推荐您使用关键字参数的形式来获取参数：</p>
<p>如果是已登录的用户发起云引擎调用，可以通过 <code>engine.current_user</code> 拿到此用户。如果通过 REST API 调用时模拟用户登录，需要增加一个头信息 <code>X-AVOSCloud-Session-Token: &lt;sessionToken&gt;</code>，该 <code>sessionToken</code> 在用户登录或注册时服务端会返回。</p>
<pre><code class="lang-python">@engine.define
def some_func(**params):
    # do something with params
    pass
</code></pre>
<p>这样 <code>params</code> 就是个 <code>dict</code> 类型的对象，可以方便的从中拿到参数了。</p>
<p>如果函数调用成功，云端返回给客户端的结果类似这样：</p>
<pre><code class="lang-json">{
  &quot;result&quot;: 4.8
}
</code></pre>
<p>如果调用有错误，则返回：</p>
<pre><code class="lang-json">{
  &quot;code&quot;: 141,
  &quot;error&quot;: &quot;搜索失败&quot;
}
</code></pre>
<p>如有需要，也可以 <a href="#错误响应码">自定义错误响应码</a>。</p>
<h3 id="-">云引擎调用云函数</h3>
<p>在云引擎中也可以使用 <code>cloudfunc.run</code> 调用 <code>engine.define</code> 定义的云函数：</p>
<pre><code class="lang-python">from leancloud import cloudfunc

try:
    result = cloudfunc.run(&#39;hello&#39;, name=&#39;dennis&#39;)
    # 调用成功，拿到结果
except LeanCloudError, e:
    print e
    # 调用失败
</code></pre>
<p>API 参数详解参见 <a href="/api-docs/python/leancloud.engine.html#/module-leancloud.engine.cloudfunc">cloudfunc.run</a>。</p>
<h3 id="hook-">Hook 函数</h3>
<p>Hook 函数本质上是云函数，但它有固定的名称，定义之后会<strong>由系统</strong>在特定事件或操作（如数据保存前、保存后，数据更新前、更新后等等）发生时<strong>自动触发</strong>，而不是由开发者来控制其触发时机。</p>
<p>使用 Hook 函数需要注意 <a href="#防止死循环调用">防止死循环调用</a>。</p>
<h4 id="before_save">before_save</h4>
<p>在将对象保存到云端数据表之前，可以对数据做一些清理或验证。例如，一条电影评论不能过长，否则界面上显示不开，需要将其截断至 140 个字符：</p>
<pre><code class="lang-python">@engine.before_save(&#39;Review&#39;)  # Review 为需要 hook 的 class 的名称
def before_review_save(review):
    comment = review.get(&#39;comment&#39;)
    if not comment:
        raise leancloud.LeanEngineError(message=&#39;No comment!&#39;)
    if len(comment) &gt; 140:
        review.comment.set(&#39;comment&#39;, comment[:137] + &#39;...&#39;)
</code></pre>
<h4 id="after_save">after_save</h4>
<p>在数据保存后触发指定操作，比如当一条留言保存后再更新一下所属帖子的评论总数：</p>
<pre><code class="lang-python">import leancloud


@engine.after_save(&#39;Comment&#39;)  # Comment 为需要 hook 的 class 的名称
def after_comment_save(comment):
    post = leancloud.Query(&#39;Post&#39;).get(comment.id)
    post.increment(&#39;commentCount&#39;)
    try:
        post.save()
    except leancloud.LeanCloudError:
        raise leancloud.LeanEngineError(message=&#39;An error occurred while trying to save the Post. &#39;)
</code></pre>
<p>再如，在用户注册成功之后，给用户增加一个新的属性 from 并保存：</p>
<pre><code class="lang-python">@engine.after_save(&#39;_User&#39;)
def after_user_save(user):
  print user
  user.set(&#39;from&#39;, &#39;LeanCloud&#39;)
  try:
    user.save()
  except LeanCloudError, e:
    print &#39;error:&#39;, e
</code></pre>
<p>如果 <code>afterSave</code> 函数调用失败，save 请求仍然会返回成功应答给客户端。<code>afterSave</code> 发生的任何错误，都将记录到云引擎日志里。</p>
<p>可以到 <a href="https://leancloud.cn/cloud.html?appid={{appid}}#/log">控制台 / 存储 / 云引擎 / 日志</a> 中查看。</p>
<h4 id="before_update">before_update</h4>
<pre><code class="lang-python">@engine.before_update(&#39;Review&#39;)
def before_hook_object_update(obj):
    # 如果 comment 字段被修改了，检查该字段的长度
    assert obj.updated_keys == [&#39;clientValue&#39;]
    if &#39;comment&#39; not in obj.updated_keys:
        # comment 字段没有修改，跳过检查
        return
    if len(obj.get(&#39;comment&#39;)) &gt; 140:
        # 拒绝过长的修改
        raise engine.LeanEngineError(message=&#39;comment 长度不得超过 140 个字符&#39;)
</code></pre>
<h4 id="after_update">after_update</h4>
<p>在更新对象后执行特定的动作，比如每次修改文章后记录下日志：</p>
<pre><code class="lang-python">import leancloud


@engine.after_update(&#39;Article&#39;)  # Article 为需要 hook 的 class 的名称
def after_article_update(article):
    print &#39;article with id {} updated!&#39;.format(article.id)
</code></pre>
<h4 id="before_delete">before_delete</h4>
<p>在删除一个对象之前做一些检查工作，比如在删除一个相册 Album 前，先检查一下该相册中还有没有照片 Photo：</p>
<pre><code class="lang-python">import leancloud


@engine.before_delete(&#39;Album&#39;)  # Article 为需要 hook 的 class 的名称
def before_album_delete(albun):
    query = leancloud.Query(&#39;Photo&#39;)
    query.equal_to(&#39;album&#39;, album)
    try:
        matched_count = query.count()
    except leancloud.LeanCloudError:
        raise engine.LeanEngineError(message=&#39;cloud code error&#39;)
    if count &gt; 0:
         raise engine.LeanEngineError(message=&#39;Can\&#39;t delete album if it still has photos.&#39;)
</code></pre>
<h4 id="after_delete">after_delete</h4>
<p>在被删一个对象后执行操作，例如递减计数、删除关联对象等等。同样以相册为例，这次我们不在删除相册前检查是否还有照片，而是在删除后，同时删除相册中的照片：</p>
<pre><code class="lang-python">import leancloud


@engine.after_delete(&#39;Album&#39;)  # Album 为需要 hook 的 class 的名称
def after_album_delete(album):
    query = leancloud.Query(&#39;Photo&#39;)
    query.equal_to(&#39;album&#39;, album)
    try:
        query.destroy_all()
    except leancloud.LeanCloudError:
        raise leancloud.LeanEngineError(message=&#39;cloud code error&#39;)
</code></pre>
<h4 id="on_verified">on_verified</h4>
<p>当用户通过邮箱或者短信验证时，对该用户执行特定操作。比如：</p>
<pre><code class="lang-python">@engine.on_verified(&#39;sms&#39;)
def on_sms_verified(user):
    print user
</code></pre>
<p>函数的第一个参数是验证类型。短信验证为 <code>sms</code>，邮箱验证为 <code>email</code>。另外，数据库中相关的验证字段，如 <code>emailVerified</code> 不需要修改，系统会自动更新。</p>
<h4 id="on_login">on_login</h4>
<p>在用户登录之时执行指定操作，比如禁止在黑名单上的用户登录：</p>
<pre><code class="lang-python">@engine.on_login
def on_login(user):
    print &#39;on login:&#39;, user
    if user.get(&#39;username&#39;) == &#39;noLogin&#39;:
      # 如果抛出 LeanEngineError，则用户无法登录（收到 401 响应）
      raise LeanEngineError(&#39;Forbidden&#39;)
    # 没有抛出异常，函数正常执行完毕的话，用户可以登录
</code></pre>
<h4 id="-hook-">实时通信 Hook 函数</h4>
<p>请阅读 <a href="realtime_v2.html#云引擎_Hook">实时通信概览 &middot; 云引擎 Hook</a> 来了解以下函数的具体用法：</p>
<ul>
<li><code>_messageReceived</code></li>
<li><code>_receiversOffline</code></li>
<li><code>_conversationStart</code></li>
<li><code>_conversationAdd</code></li>
<li><code>_conversationRemove</code></li>
</ul>
<h4 id="-">防止死循环调用</h4>
<p>在实际使用中有这样一种场景：在 <code>Post</code> 类的 <code>after_update</code> Hook 函数中，对传入的 <code>Post</code> 对象做了修改并且保存，而这个保存动作又会再次触发 <code>after_update</code>，由此形成死循环。针对这种情况，我们为所有 Hook 函数传入的 <code>leancloud.Object</code> 对象做了处理，以阻止死循环调用的产生。</p>
<p>不过请注意，以下情况还需要开发者自行处理：</p>
<ul>
<li>对传入的 <code>leancloud.Object</code> 对象进行 <code>fetch</code> 操作。</li>
<li>重新构造传入的 <code>leancloud.Object</code> 对象，如使用 <code>leancloud.Object.create_without_data()</code> 方法。</li>
</ul>
<p>对于使用上述方式产生的对象，请根据需要自行调用以下 API：</p>
<ul>
<li><code>leancloud.Object.disable_before_hook()</code> 或 </li>
<li><code>leancloud.Object.disable_after_hook()</code> </li>
</ul>
<p>这样，对象的保存或删除动作就不会再次触发相关的 Hook 函数。</p>
<pre><code class="lang-python">@engine.after_update(&#39;Post&#39;)
def after_post_update(post):
    # 直接修改并保存对象不会再次触发 after update hook 函数
    post.set(&#39;foo&#39;, &#39;bar&#39;)
    post.save()

    # 如果有 fetch 操作，则需要在新获得的对象上调用相关的 disable 方法
    # 来确保不会再次触发 Hook 函数
    post.fetch()
    post.disable_after_hook()
    post.set(&#39;foo&#39;, &#39;bar&#39;)

    # 如果是其他方式构建对象，则需要在新构建的对象上调用相关的 disable 方法
    # 来确保不会再次触发 Hook 函数
    post = leancloud.Object.extend(&#39;Post&#39;).create_without_data(post.id)
    post.disable_after_hook()
    post.save()
</code></pre>
<h3 id="-">错误响应码</h3>
<p>错误响应码允许自定义。云引擎抛出的  <code>LeanCloudError</code>（数据存储 API 会抛出此异常）会直接将错误码和原因返回给客户端。若想自定义错误码，可以自行构造 <code>LeanEngineError</code>，将 <code>code</code> 与 <code>error</code> 传入。否则 <code>code</code> 为 1， <code>message</code> 为错误对象的字符串形式。</p>
<pre><code class="lang-python">@engine.define
def error_code(**params):
    leancloud.User.login(&#39;not_this_user&#39;, &#39;xxxxxxx&#39;)
</code></pre>
<p>客户端收到的响应：<code>{&quot;code&quot;:211,&quot;error&quot;:&quot;Could not find user&quot;}</code></p>
<pre><code class="lang-python">from leancloud import LeanEngineError

@engine.define
def custom_error_code(**params):
    raise LeanEngineError(123, &#39;自定义错误信息&#39;)
</code></pre>
<p>客户端收到的响应： <code>{&quot;code&quot;:123,&quot;error&quot;:&quot;自定义错误信息&quot;}</code></p>
<h4 id="hook-">Hook 函数的区别</h4>
<p>为 <code>before_save</code> 这类的 hook 函数定义错误码，需要这样：</p>
<pre><code class="lang-python">@engine.before_save(&#39;Review&#39;)  # Review 为需要 hook 的 class 的名称
def before_review_save(review):
    comment = review.get(&#39;comment&#39;)
    if not comment:
      # 使用 json.dumps() 将对象转为 JSON 字串
      raise leancloud.LeanEngineError(json.dumps({
        &#39;code&#39;: 123,
        &#39;message&#39;: &#39;自定义错误信息&#39;, 
    }))
</code></pre>
<p>客户端收到的响应为：<code>Cloud Code validation failed. Error detail : {&quot;code&quot;:123, &quot;message&quot;: &quot;自定义错误信息&quot;}</code>，然后通过<strong>截取字符串</strong>的方式取出错误信息，再转换成需要的对象。</p>
<h2 id="-http-">发送 HTTP 请求</h2>
<p>云引擎可以使用 Python 内置的 urllib，不过推荐您使用 <a href="http://docs.python-requests.org/">requests</a> 等第三方模块来处理 HTTP 请求。</p>
<h2 id="-">云引擎管理控制台</h2>
<p>首先，请进入 <a href="/cloud.html?appid={{appid}}#/leannode">控制台 /（选择应用）/ 存储 / 云引擎</a> 界面，可以看到左侧菜单：</p>
<table>
<thead>
<tr>
<th>菜单项</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><span style="white-space: nowrap;">云引擎实例</span></td>
<td>展示云引擎实例的运行状态，也可以增减新的实例。</td>
</tr>
<tr>
<td><span style="white-space: nowrap;">部署</span></td>
<td>用于部署云引擎项目到预备环境或者生产环境。</td>
</tr>
<tr>
<td>定时任务</td>
<td>可以设置一些定时任务，比如每天凌晨清理无用数据等。</td>
</tr>
<tr>
<td>日志</td>
<td>用于查看云引擎项目的日志</td>
</tr>
<tr>
<td>统计</td>
<td>用于查看云引擎项目的一些数据统计</td>
</tr>
<tr>
<td>LeanCache</td>
<td>用于查看云缓存项目的实例状态，并增减新的实例。</td>
</tr>
<tr>
<td>设置</td>
<td>用来设置项目的源码仓库信息，包括从这里可以下载云引擎项目的初始框架代码，拷贝用于私有 git 仓库的 deploy key 等。</td>
</tr>
</tbody>
</table>
<h2 id="-">项目定义函数</h2>
<p>如果你希望有更强的灵活性，或者希望使用主机托管功能实现自己的站点，甚至网站托管，你可以通过项目代码的方式管理自己的云引擎。</p>
<h3 id="-">项目约束</h3>
<p>你的项目需要遵循一定格式才会被云引擎识别并运行。</p>
<p>云引擎 Python 项目必须有 <code>$PROJECT_DIR/wsgi.py</code> 与 <code>$PROJECT_DIR/requirements.txt</code> 文件，该文件为整个项目的启动文件。</p>
<h3 id="-">健康监测</h3>
<p>云引擎项目在部署启动时，部署服务会对新启动的应用进行 <code>ping</code> 监测（每隔 1 秒请求一次，一共 15 次），请求 URL 为 <code>/__engine/1/ping</code>，如果响应的 <code>statusCode</code> 为 <code>200</code> 则认为新的节点启动成功，整个部署才会成功；否则会收到 <strong>应用启动检测失败</strong> 类型的错误信息，导致部署失败。</p>
<p>云引擎中间件内置了该 URL 的处理，只需要将中间件添加到请求的处理链路中即可：</p>
<pre><code class="lang-python">from leancloud import Engine
engine = Engine(your_wsgi_app)
</code></pre>
<p>如果未使用云引擎中间件，可以自己实现该 URL 的处理，比如这样：</p>
<pre><code class="lang-python">@app.route(&#39;/__engine/1/ping&#39;)
def ping():
    version = sys.version_info
    return flask.jsonify({
        &#39;runtime&#39;: &#39;cpython-{0}.{1}.{2}&#39;.format(version.major, version.minor, version.micro),
        &#39;version&#39;: &#39;custon&#39;,
    })
</code></pre>
<h3 id="-">其他框架</h3>
<p>云引擎支持任意 Python 的 Web 框架，你可以使用你最熟悉的框架进行开发。但是请保证 <code>wsgi.py</code> 文件中有一个全局变量 <code>application</code>，值为一个 wsgi 函数。</p>
<h2 id="-">部署</h2>
<h3 id="-">使用命令行工具部署</h3>
<p>使用命令行工具可以非常方便地部署、发布应用，查看应用状态，查看日志，甚至支持多应用部署。具体使用请参考 <a href="leanengine_cli.html">命令行工具指南</a>。</p>
<p>除此之外，还可以使用 git 仓库部署。你需要将项目提交到一个 git 仓库，我们并不提供源码的版本管理功能，而是借助于 git 这个优秀的分布式版本管理工具。我们推荐你使用 <a href="https://code.csdn.net/">CSDN Code 平台</a>、<a href="https://github.com/">Github</a> 或者 <a href="https://bitbucket.org/">BitBucket</a> 这样第三方的源码托管网站，也可以使用你自己搭建的 git 仓库（比如 <a href="http://gitlab.org/">gitlab.org</a>）。</p>
<h3 id="-csdn-code-">使用 CSDN Code 托管源码</h3>
<p>CSDN Code 是国内非常优秀的源码托管平台，你可以使用这个平台提供公有仓库和有限的私有仓库完成对代码的管理功能。以下是该平台与 LeanCloud 云引擎结合的一个例子。</p>
<p>首先在 CSDN Code 上创建一个项目：</p>
<p><img src="images/csdn_code1.png" alt="image"></p>
<p><strong>提示</strong>：在已经有项目代码的情况下，一般不推荐 <strong>使用 README 文件初始化项目</strong>。</p>
<p>接下来按照给出的提示，将源代码 push 到这个代码仓中：</p>
<pre><code class="lang-sh">cd ${PROJECT_DIR}
git init
git add *
git commit -m &quot;first commit&quot;
git remote add origin git@code.csdn.net:${yourname}/test.git
git push -u origin master
</code></pre>
<p>我们已经将源码成功推送到 CSDN Code 平台，接下来到 LeanCloud 云引擎的管理界面填写下你的 git 地址（请注意，一定要填写以 <code>git@</code> 开头的地址，我们暂不支持 https 协议 clone 源码）并点击 save 按钮保存：</p>
<p><img src="images/csdn_code2.png" alt="image"></p>
<p>添加 deploy key 到你的 CSDN Code 平台项目上（deploy key 是我们云引擎机器的 ssh public key）保存到 <strong>项目设置</strong> / <strong>项目公钥</strong> 中，创建新的一项 avoscloud：</p>
<p><img src="images/csdn_code3.png" alt="image"></p>
<p>下一步，部署源码到预备环境，进入 <a href="/cloud.html?appid={{appid}}#/deploy">云引擎 / Git 部署</a> 菜单，点击「部署到开发环境」的部署按钮：</p>
<p><img src="images/cloud_code_5.png" alt="image"></p>
<p>部署成功后，可以看到开发环境版本号从 undeploy 变成了当前提交的源码版本号。</p>
<h3 id="-github-">使用 GitHub 托管源码</h3>
<p>使用 BitBucket 与此类似，不再赘述。</p>
<p><a href="https://github.com">Github</a> 是一个非常优秀的源码托管平台，你可以使用它的免费账号，那将无法创建私有仓库（bucket 可以创建私有仓库），也可以付费成为高级用户，可以创建私有仓库。</p>
<p>首先在 Github上创建一个项目，比如就叫 <code>test</code>：</p>
<p><img src="images/github1.png" alt="image"></p>
<p><img src="images/github2.png" alt="image"></p>
<p>接下来按照 Github 给出的提示，我们将源码 push 到这个代码仓库：</p>
<pre><code class="lang-sh">cd ${PROJECT_DIR}
git init
git add *
git commit -m &quot;first commit&quot;
git remote add origin git@github.com:${yourname}/test.git
git push -u origin master
</code></pre>
<p>到这一步我们已经将源码成功 push 到 Github，接下来到云引擎的管理界面填写下你的 git 地址（请注意，一定要填写以 <code>git@</code> 开头的地址，我们暂不支持 https 协议 clone 源码）并点击 save 按钮保存：</p>
<p><img src="images/cloud_code_4.png" alt="image"></p>
<p>并添加 deploy key 到你的 github 项目（deploy key 是我们云引擎机器的 ssh public key），如果你是私有项目，需要设置 deploy key，</p>
<p>拷贝 <strong>设置</strong> 菜单里的 <strong>Deploy key</strong> 保存到 github setting 里的 deploy key，创建新的一项 avoscloud：</p>
<p><img src="images/cloud_code_github_deploy_key.png" alt="image"></p>
<p>下一步，部署源码到预备环境，进入 <strong>云引擎</strong> / <strong>Git 部署</strong> 菜单，点击 <strong>部署到开发环境</strong> 的部署按钮：</p>
<p><img src="images/cloud_code_5.png" alt="image"></p>
<p>部署成功后，可以看到开发环境版本号从 undeploy 变成了当前提交的源码版本号。</p>
<h3 id="gitlab-">Gitlab 无法部署问题</h3>
<p>很多用户自己使用 <a href="http://gitlab.org/">Gitlab</a>搭建了自己的源码仓库，有朋友会遇到无法部署到 LeanCloud 的问题，即使设置了 Deploy Key，却仍然要求输入密码。</p>
<p>可能的原因和解决办法如下：</p>
<ul>
<li>确保你 gitlab 运行所在服务器的 /etc/shadow 文件里的 git（或者 gitlab）用户一行的 <code>!</code>修改为 <code>*</code>，原因参考 <a href="http://stackoverflow.com/questions/15664561/ssh-key-asks-for-password">Stackoverflow - SSH Key asks for password</a>，并重启 SSH 服务：<code>sudo service ssh restart</code>。</li>
<li>在拷贝 deploy key 时，确保没有多余的换行符号。</li>
<li>Gitlab 目前不支持有 comment 的 deploy key。早期 LeanCloud 用户生成的 deploy key 可能带 comment，这个 comment 是在 deploy key 的末尾 76 个字符长度的字符串，例如下面这个 deploy key：</li>
</ul>
<pre><code>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA5EZmrZZjbKb07yipeSkL+Hm+9mZAqyMfPu6BTAib+RVy57jAP/lZXuosyPwtLolTwdyCXjuaDw9zNwHdweHfqOX0TlTQQSDBwsHL+ead/p6zBjn7VBL0YytyYIQDXbLUM5d1f+wUYwB+Cav6nM9PPdBckT9Nc1slVQ9ITBAqKZhNegUYehVRqxa+CtH7XjN7w7/UZ3oYAvqx3t6si5TuZObWoH/poRYJJ+GxTZFBY+BXaREWmFLbGW4O1jGW9olIZJ5/l9GkTgl7BCUWJE7kLK5m7+DYnkBrOiqMsyj+ChAm+o3gJZWr++AFZj/pToS6Vdwg1SD0FFjUTHPaxkUlNw== App dxzag3zdjuxbbfufuy58x1mvjq93udpblx7qoq0g27z51cx3&#39;s cloud code deploy key
</code></pre><p>其中最后 76 个字符：</p>
<pre><code>App dxzag3zdjuxbbfufuy58x1mvjq93udpblx7qoq0g27z51cx3&#39;s cloud code deploy key
</code></pre><p>就是 comment，删除这段字符串后的 deploy key（如果没有这个字样的comment无需删除）保存到 gitlab 即可正常使用：</p>
<pre><code>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA5EZmrZZjbKb07yipeSkL+Hm+9mZAqyMfPu6BTAib+RVy57jAP/lZXuosyPwtLolTwdyCXjuaDw9zNwHdweHfqOX0TlTQQSDBwsHL+ead/p6zBjn7VBL0YytyYIQDXbLUM5d1f+wUYwB+Cav6nM9PPdBckT9Nc1slVQ9ITBAqKZhNegUYehVRqxa+CtH7XjN7w7/UZ3oYAvqx3t6si5TuZObWoH/poRYJJ+GxTZFBY+BXaREWmFLbGW4O1jGW9olIZJ5/l9GkTgl7BCUWJE7kLK5m7+DYnkBrOiqMsyj+ChAm+o3gJZWr++AFZj/pToS6Vdwg1SD0FFjUTHPaxkUlNw==
</code></pre><h2 id="-">定时任务</h2>
<p>定时任务可以按照设定，以一定间隔自动完成指定动作，比如半夜清理过期数据，每周一向所有用户发送推送消息等等。定时任务的最小时间单位是<strong>秒</strong>，正常情况下时间误差都可以控制在秒级别。</p>
<p>定时任务是普通的云函数。比如定义一个打印循环打印日志的任务 <code>log_timer</code>：</p>
<pre><code class="lang-python">@engine.define
def log_timer():
    print &#39;Log in timer.&#39;
</code></pre>
<p>部署云引擎之后，进入 <a href="/cloud.html?appid={{appid}}#/task">控制台 &gt; 存储 &gt; 云引擎 &gt; 定时任务</a>，在右侧页面中选择 <strong>创建定时器</strong>，然后设定其所执行的函数名称、执行环境等等。</p>
<p>定时器创建后，其状态为<strong>未运行</strong>，需要点击 <span class="label label-default">启用</span> 来激活。之后其执行日志可以通过 <a href="/cloud.html?appid={{appid}}#/log">其它 &gt; 日志</a> 查看。</p>
<p>定时任务分为两类：</p>
<ul>
<li>使用 Cron 表达式（即<a href="http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger" title="Quartz 文档">标准的 crontab 语法</a>）安排调度</li>
<li>以秒为单位的简单循环调度</li>
</ul>
<p>以 Cron 表达式为例，比如每周一早上 8 点准时发送推送消息给用户：</p>
<pre><code class="lang-python">from leancloud import push

@engine.define
def push_timer():
    data = {
        &#39;alert&#39;: &#39;Public message&#39;,
    }
    push.send(data, channels=[&#39;Public&#39;])
</code></pre>
<p>创建定时器的时候，选择 <strong>Cron 表达式</strong> 并填入 <code>0 0 8 ? * MON</code>。</p>
<h3 id="cron-">Cron 表达式</h3>
<p>Cron 表达式的基本语法为：</p>
<pre><code>&lt;秒&gt; &lt;分钟&gt; &lt;小时&gt; &lt;日期 day-of-month&gt; &lt;月份&gt; &lt;星期 day-of-week&gt; &lt;年&gt;
</code></pre><table>
<thead>
<tr>
<th>位置</th>
<th>字段</th>
<th>约束</th>
<th>取值</th>
<th>可使用的特殊字符</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>秒</td>
<td>必须</td>
<td>0-59</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>2</td>
<td>分钟</td>
<td>必须</td>
<td>0-59</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>3</td>
<td>小时</td>
<td>必须</td>
<td>0-23（0 为午夜）</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>4</td>
<td>日期</td>
<td>必须</td>
<td>1-31</td>
<td><code>, - * ? / L W</code></td>
</tr>
<tr>
<td>5</td>
<td>月份</td>
<td>必须</td>
<td>1-12、JAN-DEC</td>
<td><code>, - * /</code></td>
</tr>
<tr>
<td>6</td>
<td>星期</td>
<td>必须</td>
<td>1-7、SUN-SAT</td>
<td><code>, - * ? / L #</code></td>
</tr>
<tr>
<td>7</td>
<td>年</td>
<td>可选</td>
<td>空、1970-2099</td>
<td><code>, - * /</code></td>
</tr>
</tbody>
</table>
<p>特殊字符的用法：</p>
<table>
<thead>
<tr>
<th>字符</th>
<th>含义</th>
<th>用法</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>*</code></td>
<td>所有值</td>
<td>代表一个字段的所有可能取值。如将 <code>&lt;分钟&gt;</code> 设为 <strong>*</strong>，表示每一分钟。</td>
</tr>
<tr>
<td><code>?</code></td>
<td>不指定值</td>
<td>用于可以使用该字符的两个字段中的一个，在一个表达式中只能出现一次。如任务执行时间为每月 10 号，星期几无所谓，那么表达式中 <code>&lt;日期&gt;</code> 设为 <strong>10</strong>，<code>&lt;星期&gt;</code> 设为 <strong>?</strong>。</td>
</tr>
<tr>
<td><code>-</code></td>
<td>范围</td>
<td>如 <code>&lt;小时&gt;</code> 为 <strong>10-12</strong>，即10 点、11 点、12 点。</td>
</tr>
<tr>
<td><code>,</code></td>
<td><span class="text-nowrap">分隔多个值</span></td>
<td>如 <code>&lt;星期&gt;</code> 为 <strong>MON,WED,FRI</strong>，即周一、周三、周五。</td>
</tr>
<tr>
<td><code>/</code></td>
<td>增量</td>
<td>如 <code>&lt;秒&gt;</code> 设为 <strong>0/15</strong>，即从 0 秒开始，以 15 秒为增量，包括 0、15、30、45 秒；<strong>5/15</strong> 即 5、20、35、50 秒。<strong>*/</strong> 与 <strong>0/</strong> 等效，如 <code>&lt;日期&gt;</code> 设为 <strong>1/3</strong>，即从每个月的第一天开始，每 3 天（即每隔 2 天）执行一次任务。</td>
</tr>
<tr>
<td><code>L</code></td>
<td>最后</td>
<td>其含义随字段的不同而不同。 <code>&lt;日期&gt;</code> 中使用 <strong>L</strong> 代表每月最后一天，如 1 月 31 号、2 月 28 日（非闰年）；<code>&lt;星期&gt;</code> 中单独使用 <strong>L</strong>，则与使用 <strong>7</strong> 或 <strong>SAT</strong> 等效，若前面搭配其他值使用，如 <strong>6L</strong>，则表示每月的最后一个星期五。<br/><br/>注意，<strong>在 L 之前不要使用多个值或范围</strong>，如 <strong>1,2L</strong>、<strong>1-2L</strong>，否则会产生错误结果。</td>
</tr>
<tr>
<td><code>W</code></td>
<td>weekday</td>
<td>周一到周五的任意一天，离指定日期最近的非周末的那一天。<br/><code>&lt;日期&gt;</code> 为 <strong>15W</strong> 即离 15 号最近的非周末的一天；如果 15 号是周六，任务则会在 14 号周五触发，如果 15 号是周日，则在 16 号周一触发，如果 15 号是周二，则周二当天触发。<br/><br/><code>&lt;日期&gt;</code> 为 <strong>1W</strong>，如果 1 号是周六，任务则会在 3 号周一触发，因为不能向前跨月来计算天数。<br/><br/>在 <code>&lt;日期&gt;</code> 中 <strong>W</strong> 之前只能使用一个数值，不能使用多个值或范围。<strong>LW</strong> 可在 <code>&lt;日期&gt;</code> 中组合使用，表示每月最后一个非周末的一天。</td>
</tr>
<tr>
<td><code>#</code></td>
<td>第 N 次</td>
<td>如 <code>&lt;星期&gt;</code> 为 <strong>6#3</strong> 代表每月第三个周五，<strong>2#1</strong> 为每月头一个周一，<strong>4#5</strong> 为每月第五个周三；如果当月没有第五周，则 <strong>#5</strong> 不会产生作用。</td>
</tr>
</tbody>
</table>
<p>各字段以空格或空白隔开。JAN-DEC、SUN-SAT 这些值不区分大小写，比如 MON 和 mon 效果一样。更详细的使用方法请参考 <a href="http://www.quartz-scheduler.org/documentation/quartz-1.x/tutorials/crontrigger" title="Quartz 文档">Quartz 文档（英文）</a>。</p>
<p>举例如下：</p>
<table>
<thead>
<tr>
<th>表达式</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>0  0/5 * * * ?</code></td>
<td>每隔 5 分钟执行一次</td>
</tr>
<tr>
<td><code>10 0/5 * * * ?</code></td>
<td>每隔 5 分钟执行一次，每次执行都在分钟开始的 10 秒，例如 10:00:10、10:05:10 等等。</td>
</tr>
<tr>
<td><code style="white-space:nowrap;">0 30 10-13 ? * WED,FRI</code></td>
<td>每周三和每周五的 10:30、11:30、12:30、13:30 执行。</td>
</tr>
<tr>
<td><code>0 0/30 8-9 5,20 * ?</code></td>
<td>每个月的 5 号和 20 号的 8 点和 10 点之间每隔 30 分钟执行一次，也就是 8:00、8:30、9:00 和 9:30。</td>
</tr>
</tbody>
</table>
<h3 id="-">错误信息</h3>
<p>定时器执行后的日志会记录在 <a href="/cloud.html?appid={{appid}}#/log">控制台 &gt; 存储 &gt; 云引擎 &gt; 其它 &gt; 日志</a> 中，以下为常见的错误信息及原因。</p>
<ul>
<li><strong>timerAction timed-out and no fallback available.</strong><br/>
某个定时器触发的云函数，因 15 秒内没有响应而超时。</li>
<li><strong>timerAction short-circuited and no fallback available.</strong><br/>
某个定时器触发的云函数，因为太多次超时而停止触发。</li>
</ul>
<h2 id="-">资源限制</h2>
<h3 id="-">权限说明</h3>
<p>云引擎可以有超级权限，使用 master key 调用所有 API，因此会忽略 ACL 和 Class Permission 限制。你只需要使用下列代码来初始化 SDK：</p>
<pre><code class="lang-python">// 第一个参数为 App Id
leancloud.init(&#39;{{appid}}&#39;, master_key=&#39;{{masterkey}}&#39;)
</code></pre>
<p>如果在你的服务端环境里也想做到超级权限，也可以使用该方法初始化。</p>
<h3 id="-">定时器数量</h3>
<p>生产环境和预备环境的定时器数量都限制在 5 个以内，也就是说你总共最多可以创建 10 个定时器。</p>
<h3 id="-">超时</h3>
<p>请求云引擎上的云函数时会经过负载均衡设备，该设备会限制一次请求的超时时间为 15 秒，如果超过 15 秒没有返回，请求将被强制停止，但此时云引擎的方法可能仍在执行，但执行完毕后的响应是无意义的。所有 Hook 函数，如 <code>beforeSave</code> 和 <code>afterSave</code> 的超时时间限制在 3 秒内。如果 Hook 函数被其他的云函数调用（比如因为 save 对象而触发 <code>beforeSave</code> 和 <code>afterSave</code>），那么它们的超时时间会进一步被其他云函数调用的剩余时间限制。例如，如果一个 <code>beforeSave</code> 函数是被一个已经运行了 13 秒的云函数触发，那么 <code>beforeSave</code> 函数就只剩下 2 秒的时间来运行，而正常情况下是 3 秒的限制。</p>
<p>网站托管的动态请求超时也被限定为 15 秒。</p>
<h2 id="-">日志</h2>
<p><a href="/cloud.html?appid={{appid}}#/log">云引擎 / 日志</a>，可以查看云引擎的部署和运行日志，还可以选择查看的日志级别：</p>
<p><img src="images/cloud_code_11.png" alt="image"></p>
<p>如果你想打印日志到里面查看，可以直接输出到「标准输出」或者「标准错误」，这些信息会分别对应日志的 <code>info</code> 和 <code>error</code> 级别，比如下列代码会在 info 级别记录参数信息：</p>
<pre><code class="lang-python">@engine.define
def log_something(**params):
    print params
</code></pre>
<p><strong>注意</strong>：日志单行最大 4096 个字符，多余部分会被丢弃；日志输出频率大于 600 行/分钟，多余的部分会被丢弃。</p>
<h2 id="-">网站托管</h2>
<p>很多时候，除了运行在移动设备的应用之外，你通常也会为应用架设一个网站，可能只是简单地展现应用的信息并提供 App Store 或者 Play 商店下载链接，或者展示当前热门的用户等等。你也可能建设一个后台管理系统，用来管理用户或者业务数据。</p>
<p>这一切都需要你去创建一个 web 应用，并且从 VPS 厂商那里购买一个虚拟主机来运行 web 应用，你可能还需要去购买一个域名。</p>
<p>不过现在，云引擎为你提供了网站托管功能，可以让你为应用设置一个二级域名 <code>${your_app_domain}.leanapp.cn</code>（美国区为 <code>${your_app_domain}.avosapps.us</code> ），并把你的 web 应用部署到该域名之下运行，同时支持静态资源和动态请求服务。</p>
<h3 id="-">设置域名</h3>
<p>首先，你需要到 <a href="/cloud.html?appid={{appid}}#/conf">云引擎 / 设置</a> 页面找到 <strong>Web 主机域名</strong>，在这里填写你的域名：</p>
<p><img src="images/cloud_code_web_setting.png" alt="image"></p>
<p>上面将应用的二级域名设置为 <strong>myapp</strong>，设置之后，你应该可以马上访问：</p>
<ul>
<li><a href="http://myapp.leanapp.cn">http://myapp.leanapp.cn</a></li>
<li><a href="http://myapp.avosapps.us">http://myapp.avosapps.us</a></li>
</ul>
<p>可能因为 DNS 生效延迟暂时不可访问，请耐心等待或者尝试刷新 DNS 缓存，如果还没有部署，你看到的应该是一个 404 页面。</p>
<h2 id="-">域名备案</h2>
<p><strong>备案之前要求云引擎已经部署，并且网站内容和备案申请的内容一致。仅使用云引擎托管静态文件、未使用其他 LeanCloud 服务的企业用户，需要自行完成域名备案工作。</strong></p>
<p>如果需要备案，进入 <a href="/settings.html#/setting/domainrecord">应用控制台 &gt; 账号设置 &gt; 域名备案</a>，按照步骤填写资料即可。</p>
<h2 id="-">域名绑定</h2>
<p><strong>国内节点绑定独立域名需要有 ICP 备案，只有主域名需要备案，二级子域名不需要备案；如果没有 ICP 备案，请参考 <a href="#域名备案">域名备案</a>。</strong></p>
<p>如果需要域名绑定，进入 <a href="/settings.html#/setting/domainbind">应用控制台 &gt; 账号设置 &gt; 域名绑定</a>，按照步骤填写资料即可。</p>
<h3 id="-">使用框架</h3>
<p>云引擎环境中可以使用大部分 Python Web Framework，比如 <a href="http://flask.pocoo.org/">Flask</a>、<a href="http://webpy.org/">web.py</a>、<a href="http://bottlepy.org/">bottle</a>。</p>
<p>事实上，您只需要提供一个兼容 WSGI 标准的框架，并且安装了云引擎的中间件，就可以在云引擎上运行。您提供的 WSGI 函数对象需要放在 <code>$PROJECT_DIR/wsgi.py</code> 文件中，并且变量名需要为 <code>application</code>。</p>
<pre><code class="lang-python">from leancloud import Engine


def wsgi_func(environ, start_response):
    // 定义一个简单的 WSGI 函数，或者您可以直接使用框架提供的
    start_response(&#39;200 OK&#39;, [(&#39;Content-Type&#39;, &#39;text/plain&#39;)])
    return [&#39;Hello LeanCloud&#39;]


application = Engine(wsgi_func)
</code></pre>
<p>将这段代码放到 <code>wsgi.py</code> 中，就可以实现一个最简单的动态路由。</p>
<h3 id="-ip">获取客户端 IP</h3>
<p>如果你想获取客户端的 IP，可以直接从用户请求的 HTTP 头的 <code>x-real-ip</code> 字段获取。</p>
<h3 id="-https">自动重定向到 HTTPS</h3>
<p>为了安全性，我们可能会为网站加上 HTTPS 加密传输。我们的云引擎支持网站托管，同样会有这样的需求。</p>
<p>因此我们在云引擎中提供了一个新的 middleware 来强制让你的 <code>${your_app_domain}.leanapp.cn</code> 的网站通过 https 访问，你只要这样：</p>
<pre><code class="lang-python">from leancloud import HttpsRedirectMiddleware

# app 为您的 wsgi 函数
app = HttpsRedirectMiddleware(app)
engine = Engine(app)
application = engine
</code></pre>
<p>部署并发布到生产环境之后，访问你的云引擎网站二级域名都会强制通过 HTTPS 访问。</p>
<h3 id="-">预备环境和开发环境</h3>
<p>前面已经谈到云引擎的预备和生产环境之间的区别，可以通过 HTTP 头部 <code>X-LC-Prod</code> 来区分。但是对于网站托管就没有办法通过这个 HTTP 头来区分了。</p>
<p>因此，我们其实为每个应用创建了两个域名，除了 <code>${your_app_domain}.leanapp.cn</code> 之外，每个应用还有 <code>stg-${your_app_domain}.leanapp.cn</code> 域名作为预备环境的域名。</p>
<p>部署的测试代码将运行在这个域名之上，在测试通过之后，通过菜单 <strong>部署</strong> &gt; <strong>部署到生产环境</strong> 按钮切换之后，可以在 <code>${your_app_domain}.leanapp.cn</code> 看到最新的运行结果。</p>
<h2 id="-">第三方平台接入</h2>
<p>因为云引擎提供了主机托管功能，这相当于为你在互联网上提供了一台简单的 VPS（虚拟主机），你可以用它接入第三方平台（很多第三方平台需要你有回调服务器），完成一些特定的工作。</p>
<h3 id="-">接入支付宝</h3>
<p>通过 <a href="https://github.com/leancloud/cloud-code-alipay">cloud-code-alipay 示例</a> 了解如何接入支付宝，实现「即时到账收款」的功能。</p>
<h3 id="-">接入微信</h3>
<p>通过 <a href="https://github.com/leancloud/cloud-code-weixin">cloud-code-weixin 示例</a> 了解如何接入微信，实现「开发者认证」和「自动回复」的功能。</p>
<h2 id="-">运行环境区分</h2>
<p>云引擎区分「预备环境」和「生产环境」，两个环境虽然使用 <a href="#部署到云引擎">不同的二级域名</a>，但是使用相同的数据源。代码在预备环境测试通过后，再部署到生产环境是更安全的做法。</p>
<p>有些时候你可能需要知道当前云引擎运行在什么环境（开发环境、预备环境或生产环境），从而做不同的处理：</p>
<pre><code class="lang-python">import os

if os.environ.get(&#39;LC_APP_PROD&#39;) == &#39;1&#39;:
    # 当前为生产环境
elif os.environ.get(&#39;LC_APP_PROD&#39;) == &#39;0&#39;:
    # 当前为预备环境
else:
    # 当前为开发环境
</code></pre>
<p>你应该注意到了，我们在请求云引擎的时候，通过 REST API 的特殊的 HTTP 头 <code>X-LC-Prod</code>，来区分调用的环境。</p>
<ul>
<li>0 表示调用预备环境</li>
<li>1 表示调用生产环境</li>
</ul>
<p>具体到 SDK 内的调用，请看各个平台的 SDK 指南。</p>
<p>有些时候请求云引擎时会提示 production 还没有部署：</p>
<pre><code class="lang-json">{&quot;code&quot;:1,&quot;error&quot;:&quot;The cloud code isn&#39;t deployed for prod 1.&quot;}
</code></pre>
<p>这个错误通常是只是部署了预备环境。通过点击菜单 <strong>Git 部署</strong> / <strong>部署到生产环境</strong> / <strong>部署</strong>，可以将开发环境的当前版本的代码部署到生产环境：</p>
<p><img src="images/cloud_code_deploy_prod.png" alt="image"></p>
<h2 id="-">时区问题</h2>
<p>因为某些原因，云引擎 2.0 默认使用的是 UTC 时间，这给很多开发者带来了困惑，所以我们着重讨论下时区问题。</p>
<p>比如有这样一个时间：<code>2015-05-05T06:15:22.024Z</code> (ISO 8601 表示法)，最后末尾的 <code>Z</code> 表示该时间是 UTC 时间。</p>
<p>上面的时间等价于：<code>2015-05-05T14:15:22.024+0800</code>，注意此时末尾是 <code>+0800</code> 表示该时间是东八区时间。这两个时间的「小时」部分相差了 8 小时。</p>
<h3 id="-">时区问题产生的原因</h3>
<p>很多开发者在时间处理上会忽略「时区」标志，导致最后总是莫名其妙的出现 8 小时的偏差。</p>
<p>【场景一】某开发者开发的应用使用云引擎的主机托管功能做了一个网站，其中有时间格式的表单提交。某用户使用浏览器访问该网站，提交表单，时间格式为：<code>2015-05-05 14:15:22.024</code>，注意该时间没有「时区」标志。因为这个时间是浏览器生成的，而该用户浏览器上的时间通常是东八区时间，所以该业务数据希望表达的时间是「东八区的 14 点」。</p>
<p>该时间 <code>2015-05-05 14:15:22.024</code> 提交到服务器，被转换为 Date 类型（JavaScript 代码：<code>new Date(&#39;2015-05-05 14:15:22.024&#39;)</code>）。因为云引擎 2.0 使用的是 UTC 时间，所以该时间会被处理为 <code>2015-05-05T14:15:22.024Z</code>，即「UTC 时间的 14 点」。导致最后获得的时间和期望时间相差了 8 小时。</p>
<p>解决上面的办法很简单：时间格式带上时区标志。即浏览器上传时间时使用 <code>2015-05-05T14:15:22.024+0800</code>，这样不管服务端默认使用什么时区，带有时区的时间格式转换的 Date 都不会有歧义。</p>
<p>【场景二】从数据库获取某记录的 <code>createdAt</code> 属性，假设值为：<code>2015-04-09T03:35:09.678Z</code>。因为云引擎默认时区是 UTC，所以一些时间函数的返回结果如下：</p>
<table>
<thead>
<tr>
<th>函数</th>
<th>结果</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>toISOString</code></td>
<td>2015-04-09T03:35:09.678Z</td>
</tr>
<tr>
<td><code>toLocaleString</code></td>
<td>Thu Apr 09 2015 03:35:09 GMT+0000 (UTC)</td>
</tr>
<tr>
<td><code>toUTCString</code></td>
<td>Thu, 09 Apr 2015 03:35:09 GMT</td>
</tr>
<tr>
<td><code>toString</code></td>
<td>Thu Apr 09 2015 03:35:09 GMT+0000 (UTC)</td>
</tr>
<tr>
<td><code>getHours</code></td>
<td>3，如果将 getHours 的结果返回给浏览器，或者作为业务数据使用，则会出现 8 小时的偏差。</td>
</tr>
</tbody>
</table>
<p>如果需要获取小时数据，解决办法是使用第三方的组件，比如 <a href="http://momentjs.com/timezone/">moment-timezone</a>，通过下面的方式可以获得东八区的小时时间：</p>
<pre><code class="lang-javascript">var time = moment(obj.createdAt).tz(&#39;Asia/Shanghai&#39;);
console.log(&#39;toString&#39;, time.toString());
console.log(&#39;getHours&#39;, time.hours())
</code></pre>
<h3 id="-2-0-">云引擎 2.0 和云引擎时区的差异</h3>
<p>为了方便大家的使用，更加符合通常的习惯，云引擎运行时环境（无沙箱的 Node.js 环境和 Python 环境）都是使用<strong>东八区</strong>作为默认时区。当然，我们仍然建议程序的时间字符串带有时区标志。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.updatedAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>




<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>




<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>








  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a>

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing.html">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li>
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="//status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>