<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>为网站快速加入收款功能 - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2016年12月20日晚上7点51分">更新于 <time datetime="2016-12-20T19:51:30+08:00">2016-12-20</time></span></div>
        <h1 id="-">为网站快速加入收款功能</h1>
<p>网络支付是时下大热的开发趋势，但市面上支付渠道繁多，接入复杂，深坑不断，大大阻碍了开发者的开发进度。<a href="https://beecloud.cn/">BeeCloud</a> 为开发者提供了一站式支付的解决方案，能便捷快速地实现各种支付渠道的接入，包括微信支付、支付宝、银联、易宝支付、百度钱包、京东支付、快钱、PayPal、Visa、MasterCard。  </p>
<p>本文介绍如何在 <a href="leanengine_overview.html">LeanCloud 云引擎</a> 的 <a href="leanengine_cloudfunction_guide-python.html">Python 环境</a> 中使用 BeeCloud 的「<a href="https://app.beecloud.cn/">秒收款 Button</a>」产品来快速部署一个可以收款的网站。应用场景包含任何需要收款的网站（电脑/手机网站），兼容 IE7+、Chrome、Safari 等多数主流浏览器。</p>
<h2 id="demo">Demo</h2>
<p><a href="http://leancloud.beecloud.cn/demo/jsbutton">http://leancloud.beecloud.cn/demo/jsbutton</a></p>
<p><img src="images/demo-jsbutton-screenshot.png" alt=""></p>
<h2 id="-">准备工作</h2>
<p>首先获取基础项目，这里以 LeanCloud 云引擎 Python 环境作为一个应用的基础：</p>
<pre><code class="lang-shell">$ git clone https://github.com/leancloud/python-getting-started.git
$ cd python-getting-started
</code></pre>
<p>然后参考 <a href="https://beecloud.cn/apply/">BeeCloud 支付 &middot; 快速开始</a> 来了解必要的操作步骤。</p>
<h2 id="-beecloud">配置 BeeCloud</h2>
<ol>
<li><a href="http://beecloud.cn/register/">注册 BeeCloud 账号</a> ，并完成企业认证。</li>
<li>在 BeeCloud 中创建应用，填写支付渠道所需参数，可以参考 <a href="http://beecloud.cn/doc/payapply">BeeCloud 文档 &middot; 微信 APP 支付</a>。</li>
<li>申请渠道参数，并配置 BeeCloud 各个支付渠道的参数，此处请参考 <a href="https://beecloud.cn/doc/payapply/?index=0">BeeCloud 文档 &middot; 渠道参数帮助页</a>。BeeCloud 中配置参数需要<u>完成企业认证</u>后才能填写！</li>
<li><p>激活「秒支付 Button」功能，进入 APP &gt; <strong>设置</strong>  &gt; <strong>秒支付 Button</strong>：</p>
<p><img src="http://beeclouddoc.qiniudn.com/jsbutton_leancloud1.png" alt=""></p>
<p>拖动 <strong>支付渠道</strong> 开启该支付渠道。同时还可以调整你需要的渠道菜单的显示顺序，点击 <strong>保存</strong> 后会生成 appid 对应的 script 标签。需要将此 script 标签放到<u>任何需要使用秒支付 Button 的网页里</u>。</p>
</li>
</ol>
<h2 id="-button-">接入秒支付 Button 实现收款</h2>
<p>创建新页面 <code>templates/jsbutton.html</code> 和 <code>views/jsbutton.py</code>，如下图：</p>
<p><img src="http://beeclouddoc.qiniudn.com/wendang01.png" alt="">  </p>
<p>在 <code>jsbutton.html</code> 页面的 <code>&lt;head&gt;&lt;/head&gt;</code> 中插入上一节中我们获得的 script 标签：</p>
<pre><code class="lang-html">&lt;script id=&#39;spay-script&#39; src=&#39;https://jspay.beecloud.cn/1/pay/jsbutton/returnscripts?appId=xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx&#39;&gt;&lt;/script&gt;
</code></pre>
<p>然后调用 script 中包含的 <code>BC.Click()</code> 方法，进行支付。</p>
<h3 id="bc-click">BC.click</h3>
<pre><code class="lang-javascript">// 参数 data 必填，event 为选填
BC.click(data, event);
</code></pre>
<h4 id="-data">参数 data</h4>
<table>
<thead>
<tr>
<th>参数名</th>
<th>类型</th>
<th>必填</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>out_trade_no</code></td>
<td>String</td>
<td>是</td>
<td>支付订单的编号<br>全局唯一，8 到 32 位的<strong>字母和/或数字</strong>组合，例如 <code>&quot;bc1234567&quot;</code>。</td>
</tr>
<tr>
<td><code>title</code></td>
<td>String</td>
<td>是</td>
<td>支付订单的标题<br>小于 16 汉字或者 32 个字符，例如 <code>&quot;你的订单&quot;</code>。</td>
</tr>
<tr>
<td><code>amount</code></td>
<td>Int</td>
<td>是</td>
<td>支付订单的总价(单位：分)<br>大于 0，例如 <code>1</code>。</td>
</tr>
<tr>
<td><code>sign</code></td>
<td>String</td>
<td>是</td>
<td>订单信息安全签名。<br>依次将以下 BeeCloud 字段值（注意是 UTF8 编码）进行拼接：<code>appId</code>、<code>title</code>、<code>amount</code>、<code>out_trade_no</code>、<code>appSecret</code>，然后计算新字符串的 32 位 MD5 值，例如 <code>b6273d932b0aa801d9bd97220f1fb039</code>。</td>
</tr>
<tr>
<td><code>return_url</code></td>
<td>String</td>
<td>否</td>
<td>支付成功后跳转地址，除微信内 jsapi 支付不支持。必须以 <code>http://</code>或 <code>https://</code> 开头，例如 <code>http://www.beecloud.cn</code>。 </td>
</tr>
<tr>
<td><code>debug</code></td>
<td>bool</td>
<td>否</td>
<td>调试信息开关，开启后将 alert 一些信息。默认为 <code>false</code>。</td>
</tr>
<tr>
<td><code>optional</code></td>
<td>Object</td>
<td>否</td>
<td>支付完成后，Webhook 将收到的自定义订单相关信息。目前只支持 JavaScript 基本类型的 <code>{key:value}</code>，不支持嵌套对象，例如 <code>{&quot;msg&quot;:&quot;hello world&quot;}</code>。</td>
</tr>
<tr>
<td><code>instant_channel</code></td>
<td>String</td>
<td>否</td>
<td>设置该字段后将直接调用渠道支付，不再显示渠道选择菜单。<br>必须为 <code>ali</code>、<code>wxmp</code>（native 扫码）、<code>wx</code>（jsapi 网页内支付）、<code>un</code> 中的一个，例如 <code>&quot;ali&quot;</code>。</td>
</tr>
<tr>
<td><code>need_ali_guide</code></td>
<td>bool</td>
<td>否</td>
<td>微信内是否使用支付宝支付引导页，若不使用设置 <code>false</code>，默认为 <code>true</code>。</td>
</tr>
</tbody>
</table>
<h4 id="-event">参数 event</h4>
<ul>
<li>注意只有在支付授权目录下支付时，微信才会调用 jsapi 中注册的函数。</li>
<li>测试授权目录下的支付不会触发 <code>wxJsapiFinish</code> 等事件。</li>
<li>有关微信 jsapi 的返回结果 res，请参考 <a href="https://pay.weixin.qq.com/wiki/doc/api/jsapi.php?chapter=7_7">微信支付 &middot; 网页端调起支付 API</a>。<p></p></li>
</ul>
<table>
<thead>
<tr>
<th>参数名</th>
<th>类型</th>
<th>必填</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>dataError</code></td>
<td><code>function(msg)</code></td>
<td>否</td>
<td>数据获取出错时将调用此接口。只传递一个参数为 Object，其中有错误描述。</td>
</tr>
<tr>
<td><code>wxJsapiFinish</code></td>
<td><code>function(res)</code></td>
<td>否</td>
<td>微信 jsapi 的支付接口调用完成后将调用此接口。 只传递一个参数，为微信原生的结果 Object。</td>
</tr>
<tr>
<td><code>wxJsapiSuccess</code></td>
<td><code>function(res)</code></td>
<td>否</td>
<td>微信 jsapi 的接口支付成功后将调用此接口。 只传递一个参数，为微信原生的结果 Object。</td>
</tr>
<tr>
<td><code>wxJsapiFail</code></td>
<td><code>function(res)</code></td>
<td>否</td>
<td>微信 jsapi 的接口，支付不成功都将调用此接口。 只传递一个参数，为微信原生的结果 Object。</td>
</tr>
</tbody>
</table>
<h2 id="-">示例文件</h2>
<p>若为移动端 H5 页面，页面头部需加上以下 meta 做移动适配。</p>
<pre><code>&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no&quot;&gt;
</code></pre><p>JavaScript 传递的参数中 sign 比较特殊，用来保证订单信息的完整性。它不能用 JavaScript 生成，而需要在 Python 代码中实现。</p>
<pre><code class="lang-html">&lt;!-- jsbutton.html --&gt;
&lt;head&gt;
    &lt;script id=&#39;spay-script&#39; src=&#39;https://jspay.beecloud.cn/1/pay/jsbutton/returnscripts?appId=e66e760b-0f78-44bb-a9ae-b22729d51678&#39;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id=&quot;container&quot;&gt;
      &lt;h1&gt;BeeCloud&lt;/h1&gt;
      &lt;p&gt;这是 BeeCloud 秒支付button 的示例应用&lt;/p&gt;
      &lt;br&gt;
      &lt;p&gt;1分钱支付测试&lt;/p&gt;
      &lt;button id=&quot;test&quot;&gt;点我付款&lt;/button&gt;
    &lt;/div&gt;

    &lt;script&gt;
    //需要发起支付时（示例中绑定在一个按钮的 click 事件中），调用 BC.click 方法
    document.getElementById(&quot;test&quot;).onclick = function() {
        asyncPay();
    };

    function bcPay() {
        BC.click({
            &quot;title&quot;: &quot;product&quot;,
            &quot;amount&quot;: 1,
            &quot;out_trade_no&quot;: &quot;&lt;uuid变量值&gt;&quot;, //唯一订单号
            &quot;sign&quot; : &quot;&lt;sign变量值&gt;&quot;,
            &quot;openid&quot; : &quot;&lt;openid变量值&gt;&quot;,
            &quot;return_url&quot; : &quot;http://leancloud.beecloud.cn/demo/jsbutton/payresult&quot;,
            /**
             * optional 为自定义参数对象，目前只支持基本类型 key-value 的 map，不支持嵌套对象；
             * 回调时如果有 optional 则会传递给 Webhook 地址，Webhook 的使用请查阅文档
             * 由于 flask 的模板会将 map 转义，所以需要 tojson|safe 标签防止转义
             */
            &quot;optional&quot;: &lt;optional对象|tojson|safe&gt;,
            &quot;debug&quot; : false
        });
    }
    // 这里不直接调用 BC.click 的原因是防止用户点击过快，BC 的 JS 还没加载完成就点击了支付按钮。
    // 实际使用过程中，如果用户不可能在页面加载过程中立刻点击支付按钮，就没有必要利用 asyncPay 的方式，而是可以直接调用 BC.click。
    function asyncPay() {
        if (typeof BC == &quot;undefined&quot;) {
            if (document.addEventListener) { // 大部分浏览器
                document.addEventListener(&#39;beecloud:onready&#39;, bcPay, false);
            } else if (document.attachEvent) { // 兼容 IE11 之前的版本
                document.attachEvent(&#39;beecloud:onready&#39;, bcPay);
            }
        } else {
            bcPay();
        }
    }
    &lt;/script&gt;
  &lt;/body&gt;
</code></pre>
<pre><code class="lang-python"># jsbutton.py #

from flask import Blueprint
from flask import request
from flask import redirect
from flask import url_for
from flask import render_template
from urllib import quote
import sys
import uuid
import urllib
import hashlib

wx_appid = &quot;wx00000000xxxx&quot;
wx_oauth_url_basic = &#39;https://open.weixin.qq.com/connect/oauth2/authorize?&#39;

appid = &quot;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx&quot;
appsecret = &quot;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx&quot;
title = &quot;product&quot;
amount = &quot;1&quot;

class JsButton():
    pass

jsbutton_view = Blueprint(&#39;jsbutton&#39;, __name__)

@jsbutton_view.route(&#39;&#39;)
def show():
    agent = request.headers.get(&#39;User-Agent&#39;)
    # 生成订单号
    out_trade_no = (str)(uuid.uuid1()).replace(&#39;-&#39;,&#39;&#39;)
    # 计算 sign
    m = hashlib.md5()   
    m.update(appid+title+amount+out_trade_no+appsecret)
    # 当用户在微信内打开网页时，如果你激活了公众号支付，秒支付 button 将会自动选择公众号支付；在非微信内打开网页时，默认选择的是微信二维码支付。
    if &quot;MicroMessenger&quot; in agent:
        open_id = request.args.get(&#39;openid&#39;, &#39;&#39;)
        # 微信公众号支付需要额外参数微信 openid，需要用户自己写代码获取，微信提供了各语言的函数库如下：https://pay.weixin.qq.com/wiki/doc/api/native.php?chapter=11_1
        if not open_id: 
            url = &quot;http://xx.xxx.xx/activity/getopenid.php?callbackurl=&quot; + quote(&quot;http://leancloud.beecloud.cn/demo/jsbutton&quot;)
            return redirect(url)
        else:
            # 获取到 openid 后进行支付
            return render_template(&#39;jsbutton.html&#39;, uuid=out_trade_no, sign=m.hexdigest(), openid=open_id)
    # 非微信公众号不需要 openid 发起支付 
    return render_template(&#39;jsbutton.html&#39;, uuid=out_trade_no, sign=m.hexdigest(),openid=&quot;&quot;,optional={&quot;key&quot; : &quot;value&quot;})
</code></pre>
<h2 id="-">支付同步返回结果</h2>
<p>在之前的代码中，我们设置了支付成功后跳转地址参数 <code>return_url</code>。当支付完成后（不包括微信内的公众号支付）从支付页会自动跳转到这个地址，通知用户支付结果，<strong>但是此结果只用于展示，本页面也不做任何业务逻辑。</strong></p>
<p><code>return_url</code> 为渠道发起，URL 中会附带渠道的一些支付参数供用户展示，更多信息请请参考 <a href="https://beecloud.cn/doc/?index=return-url">BeeCloud 文档 &middot; return_url</a>。</p>
<h2 id="-">支付异步返回结果</h2>
<p>Webhook 的作用是异步通知商户真正的支付结果，用来处理业务逻辑。详细用法请参考 <a href="https://beecloud.cn/doc/?index=webhook">BeeCloud Webhook 开发指南</a>。</p>
<pre><code class="lang-python"># webhook.py #

# 接收 Webhook 推送需要确保你的服务端地址能够在公网被访问

from flask import Flask, request
from beecloud.entity import BCApp
import hashlib

app = Flask(__name__)

# 请与你支付和退款的 app 参数保持一致
bc_app = BCApp()
bc_app.app_id = &#39;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx&#39;
bc_app.app_secret = &#39;xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx&#39;


&#39;&#39;&#39;
推送标准：
    HTTP 请求类型 : POST
    HTTP 数据格式 : JSON
    HTTP Content-type : application/json
&#39;&#39;&#39;
@app.route(&#39;/webhook&#39;, methods=[&#39;POST&#39;])
def app_accept_webhook():
    # 获取 json 数据
    json_data = request.get_json()

    # 第一步：验证数字签名
    # 从 BeeCloud 传回的 sign
    bc_sign = json_data[&#39;sign&#39;]

    # 自己计算出 sign：App ID + App Secret + timestamp 的 MD5 生成的签名（32 字符十六进制） 
    timestamp = json_data[&#39;timestamp&#39;]

    my_sign = hashlib.md5((bc_app.app_id + bc_app.app_secret + str(timestamp)).encode(&#39;UTF-8&#39;)).hexdigest()

    # 判断两个 sign 是否一致
    if bc_sign != my_sign:
        return &#39;&#39;

    # 如果一致第一个检验通过
    &#39;&#39;&#39;
    理论上说到这一步就可以
    return &#39;success&#39;
    以下的业务逻辑请根据商户内部需求处理，
    不需要重发了就应该返回 success
    &#39;&#39;&#39;

    # 第二步：过滤重复的Webhook
    &#39;&#39;&#39;
    同一条订单可能会发送多条支付成功的 Webhook 消息，
    这有可能是由支付渠道本身触发的(比如渠道的重试)，
    也有可能是 BeeCloud 的 Webhook 重试。
    客户需要根据订单号进行判重，忽略已经处理过的订单号对应的 Webhook。
    &#39;&#39;&#39;
    # 获取订单号
    bill_num = json_data[&#39;transaction_id&#39;]
    &#39;&#39;&#39;
    以下为伪代码：
    # 从 LeanCloud 数据库中根据订单号取出订单数据，如发现已经支付成功，则忽略该订单
    if bill_info.pay_result == &#39;SUCCESS&#39;:
        return &#39;&#39;
    &#39;&#39;&#39;

    # 第三步：验证订单金额，以分为单位
    bill_fee = json_data[&#39;transaction_fee&#39;]
    &#39;&#39;&#39;
    以下为伪代码：
    # 如果金额不匹配，表明订单可能被篡改
    if bill_info.bill_fee != bill_fee:
        return &#39;&#39;
    &#39;&#39;&#39;

    # 如果金额匹配第二个检验通过

    # 第四步：处理业务逻辑和返回
    # 更新你的订单状态
    # update_bill(...)

    # 用户返回 success 字符串给 BeeCloud 表示 - 正确接收并处理了本次 Webhook
    # 其他所有返回都代表需要继续重传本次的 Webhook 请求
    return &#39;success&#39;
</code></pre>
<h2 id="-">常见问题</h2>
<dl>
<dt>BeeCloud 是什么？</dt>
<dd><a href="https://beecloud.cn/">BeeCloud</a> 为开发者提供一站式支付解决方案，所支持的支付平台包括微信支付、支付宝、银联、易宝支付、百度钱包、京东支付、快钱、PayPal、Visa、MasterCard。通过使用 BeeCloud 提供的支付 SDK，开发者只要写几行代码就能高效地实现网页和应用支付功能。同时 BeeCloud 提供稳定可靠的分布式后端云服务，来保障支付流程安全流畅。<dd>
<dt>是否支持个人开发者？</dt>
<dd>不支持。目前 BeeCloud 的服务仅支持证照齐全的企业，主要因为个人无法在支付渠道方（例如支付宝
、微信支付等）开通账号。</dd>
<dt>微信公众号支付无法调起</dt>
<dd>请按照以下步骤进行排查：
<ol><li>检查微信公众号后台是否正确设置了支付域名。</li>
<li>检查微信公众号后台是否正确设置了用户信息获取授权域名。</li>
<li>后台是不是运行在 1、2 步骤域名所在的服务器内。</li>
<li>在 BeeCloud 后台配置的微信公众号和域名使用的微信公众号是不是同一个。</li>
<li>获取授权码 code 要使用跳转的方式，不能使用请求的方式。</li></ol>
</dd>
<dt>各支付渠道如何收费？结算周期有多长？</dt>
<dd>请参考 <a href="https://beecloud.cn/price/">https://beecloud.cn/price/</a>。</dd>
</dd></dd></dl>



      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
