<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>实时通信服务开发指南（V1） - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="https://newdoc.leanapp.cn/search" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年10月25日上午10点53分">更新于 <time datetime="2017-10-25T10:53:03+08:00">2017-10-25</time></span></div>
        <h1 id="-v1-">实时通信服务开发指南（V1）</h1>
<blockquote>
<p>本文档仅适用于使用老版本 SDK 的用户，新用户请参考 <a href="realtime_v2.html">最新版本的文档</a>。</p>
</blockquote>
<p>除了实时的消息推送服务外，LeanCloud 从 2.5.9 版本开始提供实时的点对点消息服务，这意味着，你将可以通过我们的服务开发实时的用户间聊天、游戏对战等互动功能。截至目前，我们提供 Android、JavaScript、iOS、Windows Phone 四个主要平台的客户端 SDK。</p>
<p>我们也提供了一些 Demo 帮助您快速入门，</p>
<ul>
<li>一个完整的社交应用 <code>LeanChat</code>，类似微信，<a href="https://github.com/leancloud/leanchat-android">LeanChat-Android</a>，<a href="https://github.com/leancloud/leanchat-ios">LeanChat-iOS</a></li>
<li><a href="https://github.com/leancloud/leanmessage-javascript-sdk/tree/master/demo">JavaScript Demo</a></li>
<li>便于调试的 <a href="http://chat.leanapp.cn/">在线测试工具</a>。</li>
</ul>
<h2 id="-">功能和特性</h2>
<p>在进入开发之前，请允许我们先介绍一下实时通信服务的功能和特性，加粗的条目是最新添加的：</p>
<ul>
<li>登录，通过签名与你的用户系统集成</li>
<li>单个设备多个账号，单个账号多个设备，实时消息同步到所有设备</li>
<li>单聊（发给一个人），群发（发给多个人），群聊（发给一个群）</li>
<li>自定义消息解析；基于 AVFile 可以实现图片、音频和视频等丰富格式</li>
<li>通过签名控制关注权限和参与对话权限</li>
<li>上下线通知</li>
<li>群组管理，创建、加入、离开、邀请、踢出、查询、成员变动通知。</li>
<li>消息时间戳</li>
<li>离线消息</li>
<li>离线推送通知：iOS, Windows Phone</li>
<li>支持平台（排名不分先后）：<ul>
<li>iOS</li>
<li>Android</li>
<li>Browser JavaScript</li>
<li>Windows Phone</li>
<li>Server-side Nodejs</li>
</ul>
</li>
<li>消息记录 REST API</li>
<li>未读消息数 REST API</li>
<li>敏感词过滤</li>
<li>异常数据报警</li>
<li>消息到达回执</li>
<li>发送消息 REST API</li>
<li>实时消息云引擎 Hook<ul>
<li>消息到达服务器</li>
<li>收件人离线</li>
</ul>
</li>
<li><strong>不限成员的开放群组</strong></li>
</ul>
<h2 id="-">核心概念</h2>
<h3 id="peer">Peer</h3>
<p>实时通信服务中的每一个终端称为 Peer。Peer 拥有一个在应用内唯一标识自己
的ID。这个 ID 由应用自己定义，只要求是少于 50 个字符长度的字符串。系统中的每一条消息都来自于一个 Peer，发送到一个或多个 Peer。</p>
<p>简单来讲，你可以将 Peer 认为是参与通信的一个节点，通常就是你的应用上的某个用户。</p>
<p>LeanCloud 的通信服务允许一个 Peer ID 在多个不同的设备上登录，也允许一个设备上有多个 Peer ID 同时登录。开发者可以根据自己的应用场景选择ID。</p>
<p>为了做到细粒度的权限控制，在开启<a href="#权限和认证">签名认证</a>的应用中，Peer 需要先 watch 对方方可给对方发送消息。你可以在 watch 动作上增加签名认证来控制权限，防止骚扰。</p>
<p>Super Peer（超级用户）可以在不 watch 的状态下给任意 Peer 发送消息，不过 Super Peer 的登录需要服务器端签名控制，目前仅服务器端的 NodeJS SDK 支持 Super Peer。通常作为管理员角色来使用。</p>
<h3 id="session">Session</h3>
<p>Peer 通过开启(open)一个 Session 加入实时通信服务，Peer 可以在 Session 中关注(watch)一组 Peer ID，当被关注者上下线时，会收到通知。Peer 在开启 Session 后会收到其他 Peer 的消息，也可以向其他 Peer 发送消息（当应用启用<a href="#权限和认证">签名认证</a>的情况下，需要首先关注(watch)其他 Peer 后才可以向其发送消息，关注(watch)步骤要求签名认证）。</p>
<p>Session 的几种状态：</p>
<ul>
<li><strong>opened</strong> Session 被打开</li>
<li><strong>pause</strong> 网络异常，Session 进入暂停状态，当网络恢复时 Session 会自动重新打开</li>
<li><strong>closed</strong> Session 结束，仅在显示调用 <code>Session.close</code> 方法时发生，用户注销实时通信服务，不再能够接收到消息或推送通知</li>
</ul>
<p>Session 中的几个动词：</p>
<ul>
<li><strong>open</strong> 以一个 Peer ID 打开 Session</li>
<li><strong>watch</strong> 关注一组 Peer ID，关注后可以收到这个 Peer 的上下线通知</li>
<li><strong>unwatch</strong> 取消对一组 Peer ID 的关注</li>
<li><strong>sendMessage</strong> 给一组 Peer ID 发送消息</li>
<li><strong>close</strong> 注销服务，关闭 Session</li>
</ul>
<p>在现代移动应用里，我们建议仅在用户进入互动环节（例如打开聊天对话界面，游戏对战界面）时<code>watch</code>目标用户，这样可以有效减少对方由于网络不稳定频繁上下线发送的通知，节约流量。</p>
<h3 id="message">Message</h3>
<p>实时通信服务的消息。我们的消息体允许用户一次传输不超过 <strong>5 KB</strong>的文本数据。开发者可以在文本协议基础上自定义自己的应用层协议。</p>
<p>消息分为暂态(transient)和持久消息。LeanCloud 为后者提供 7 天内最多 50 条的离线消息。暂态消息并不保存离线，适合开发者的控制协议。</p>
<p>我们现在还为通信消息提供存储、获取和删除功能，你可以通过 <a href="rest_api.html#实时通信-api">REST API</a> 或 SDK 获取整个应用或特定对话的消息记录。</p>
<h3 id="group">Group</h3>
<p>聊天群组，用户加入群后向群发送的消息可以被所有群成员收到。当有群成员退出，或有新的群成员加入时，所有群成员会收到相应的通知。用户可以对群做以下几个动作：</p>
<ul>
<li>创建并加入</li>
<li>加入已有群</li>
<li>离开已有群</li>
<li>将其他 peer 加入已有的群</li>
<li>将其他 peer 从已有的群踢出</li>
</ul>
<p>如果你对实时通信服务启用签名认证（从安全角度推荐你这么做），除了退出群以外的其他操作都需要签名，签名见下文。</p>
<p>应用所有的群组数据存储在数据管理中的 <code>AVOSRealtimeGroups</code> 表中，成员数据以数组形式存储在 <code>m</code> 列，应用可以通过 API 调用获得某个群组的所有成员，和某个用户加入的所有群组。</p>
<p>2015 年 2 月开始，我们新增了<strong>开放群组</strong>的概念，用于支持聊天室、弹幕、网页直播等等不限参与人数的应用场景。开放群组在 <code>AVOSRealtimeGroups</code> 表里以 <code>tr</code> 列为 <code>true</code> 表示，用户可以在使用 REST API 创建开放群组的时候直接设置这个字段即可，SDK 用户可以在创建群组时设置相应属性。</p>
<p>开放群组支持普通群组的创建、加入、离开等操作，消息记录会被保存并可供获取。</p>
<p>根据应用场景，开放群组与普通群组相比在功能上存在一定的取舍，具体为：</p>
<ul>
<li>开放群组不支持查询群组成员列表，你可以通过<a href="rest_api.html#%E5%AE%9E%E6%97%B6%E9%80%9A%E4%BF%A1_API">相关 API</a> 查询群组在线人数；</li>
<li>开放群组不支持离线消息，离线推送通知等：开放群组只对当前在线用户有效，因此开放群组的消息均为<strong>暂态</strong>消息；</li>
<li>一个 Session 同时只能加入一个开放群组，加入新的开放群组后会自动离开旧的群组；</li>
<li>加入开放群组后半小时内断网重连会自动加入群组，超过这个时间需要重新加入；</li>
<li>开放群组没有成员加入、离开的通知。</li>
</ul>
<h2 id="-">权限和认证</h2>
<p>为了满足开发者对权限和认证的需求，我们设计了签名的概念。你可以在 
<a href="/app.html?appid={{appid}}#/permission">控制台 &gt; 设置 &gt; 应用选项 &gt; 聊天、推送 / <strong>聊天服务，启用签名认证</strong></a> 中强制启用签名。启用后，所有的
Session open 和 watch 行为都需要包含签名，这样你可以对用户的登录以及他
可以关注哪些用户，进而可以给哪些用户发消息进行充分的控制。</p>
<p><img src="images/signature.png" alt="image"></p>
<ol>
<li>客户端发起 session open 或 watch 等操作，SDK 会调用
SignatureFactory 的实现，并携带用户信息和用户行为（登录、关注或群组操
作）请求签名；</li>
<li>应用自有的权限系统，或应用在云引擎上的签名程序收到请求，进行权限验
证，如果通过则利用<strong>下文所述的签名算法</strong>生成时间戳、随机字符串和签名返回给
客户端；</li>
<li>客户端获得签名后，编码到请求中，发给实时通信服务器；</li>
<li>实时通信服务器通过请求的内容和签名做一遍验证，确认这个操作是经由服
务器允许的，进而执行后续的实际操作。</li>
</ol>
<h3 id="-">云引擎签名范例</h3>
<p>我们提供了一个运行在 LeanCloud <a href="leanengine_guide-cloudcode.html">云引擎</a>上的
<a href="https://github.com/leancloud/realtime-messaging-signature-cloudcode">签名范例程序</a>
，他提供了基于 Web Hosting 和 Cloud Function 两种方式的签名实现，你可以根据实际情况选
择自己的实现。</p>
<h3 id="-">签名方法</h3>
<p>签名采用<strong>Hmac-sha1</strong>算法，输出字节流的十六进制字符串(hex dump)，签名的消息格式如下：</p>
<pre><code>app_id:peer_id:watch_peer_ids:timestamp:nonce
</code></pre><p>其中：</p>
<ul>
<li><code>app_id</code> 是你的应用 ID</li>
<li><code>peer_id</code> 是打开此 Session 的 Peer ID</li>
<li><code>watch_peer_ids</code> 是 open 或 watch 请求中关注的peer ids，<strong>升序排序</strong>后以<code>:</code>分隔</li>
<li><code>timestamp</code> 是当前的UTC时间距离unix epoch的<strong>秒数</strong></li>
<li><code>nonce</code> 为随机字符串</li>
</ul>
<p>签名的 key 必须是应用的 <strong>master key</strong>，您可以在应用设置的应用 Key 里找到，请保护好 Master Key ，不要泄露给任何无关人员。</p>
<p>开发者可以实现自己的 SignatureFactory，调用远程的服务器的签名接口获得签名。如果你没有自己的服务器，可以直接在我们的云引擎上通过 Web Hosting 动态接口实现自己的签名接口。在移动应用中直接做签名是<strong>非常危险</strong>的，它可能导致你的<strong>master key</strong>泄漏。</p>
<p>使用蟒蛇(Python)大法的签名范例：</p>
<pre><code class="lang-python">import hmac, hashlib

### 签名函数 hmac-sha1 hex dump
def sign(msg, k):
    return hmac.new(k, msg, hashlib.sha1).digest().encode(&#39;hex&#39;)

### 签名的消息和 key
sign(&quot;app_id:peer_id:watch_peer_ids:timestamp:nonce&quot;, &quot;master key&quot;)
</code></pre>
<h3 id="-">群组功能的签名</h3>
<p>在群组功能中，我们对<strong>加群</strong>，<strong>邀请</strong>和<strong>踢出群</strong>这三个动作也允许加入签名，他的签名格式是：</p>
<pre><code>app_id:peer_id:group_id:group_peer_ids:timestamp:nonce:action
</code></pre><p>其中：</p>
<ul>
<li><code>app_id</code>, <code>peer_id</code>, <code>timestamp</code> 和 <code>nonce</code> 的含义同上</li>
<li><code>group_id</code> 是此次行为关联的群组 ID，对于创建群尚没有id的情况，<code>group_id</code>是空字符串</li>
<li><code>group_peer_ids</code> 是<code>:</code>分隔的<strong>升序排序</strong>的 peer id，即邀请和踢出的 peer_id，对加入群的情况，这里是空字符串</li>
<li><code>action</code> 是此次行为的动作，三种行为分别对应常量 <code>join</code>, <code>invite</code> 和 <code>kick</code></li>
</ul>
<h3 id="super-peer">Super Peer</h3>
<p>为了方便用户的特殊场景，我们设计了超级用户（Super Peer）的概念。超级用户可以无需 watch 某一个用户就给对方发送消息。超级用户的使用需要强制签名认证。</p>
<p>签名格式是在普通用户的签名消息后加常量 <code>su</code>。</p>
<pre><code>app_id:peer_id:watch_peer_ids:timestamp:nonce:su
</code></pre><h2 id="android-">Android 开发指南</h2>
<p>参考 <a href="./android_realtime.html">Android 实时通信开发指南</a></p>
<h2 id="ios-">iOS 开发指南</h2>
<p>参考 <a href="./ios_realtime.html">iOS 实时通信开发指南</a></p>
<h2 id="windows-phone-8-0-">Windows Phone 8.0 开发指南</h2>
<p>参考 <a href="dotnet_realtime.html">Windows Phone 8.0 开发指南</a></p>
<h2 id="javascript-">JavaScript 开发指南</h2>
<p>我们已经开源 JS Messaging SDK 了， 见 <a href="https://github.com/leancloud/realtime-messaging-jssdk">leancloud/realtime-messaging-jssdk</a> 。</p>
<h2 id="leanchat-demo">LeanChat Demo</h2>
<p>为了帮助大家更容易上手实时通信组件，我们开发了多平台应用 LeanChat，像一个简易版的微信，可点击<a href="http://fir.im/Lean">这里</a>下载。项目代码放在了 Github上，<a href="https://github.com/leancloud/leanchat-android">LeanChat-Android</a> 和 <a href="https://github.com/leancloud/leanchat-ios">LeanChat-iOS</a>。先上图，</p>
<p><img src="images/leanchat.png" alt="image"></p>
<p>LeanChat 用到了大多数实时通信组件的提供的接口与功能，通过阅读它的源码，相信您可以很快学会使用通信组件。当然，首要的是能编译运行 LeanChat，项目Readme 上都有说明，仍然遇到问题的话请<a href="https://leanticket.cn/t/leancloud">联系我们</a>。</p>
<p>代码实现上有三点比较重要，</p>
<ul>
<li><code>Msg</code> 对象，它代表一个具体的消息对象，<code>Msg</code>对象可转换成 <code>Json</code>文本，发送给对方，对方接收到后可转换成 <code>Msg</code> 对象。可参考 <a href="https://github.com/leancloud/leanchat-android/blob/master/src/com/avoscloud/chat/entity/Msg.java">Msg.java</a>。</li>
<li><code>messages</code> 表，用来保存消息，字段基本和 <code>Msg</code>对象的成员一一对应。可参考 <a href="https://github.com/leancloud/leanchat-android/blob/master/src/com/avoscloud/chat/db/DBMsg.java">DBMsg.java</a>。</li>
<li>音频、图片消息的发送，用到了<a href="./leanstorage_guide-android.html#文件">AVFile</a>，通过相应的函数创建、上传<code>AVFile</code>，得到 <code>url</code>之后作为 <code>Msg</code> 对象的一部分发送给对方。</li>
</ul>
<p>除了上述代码，Android 项目中，推荐阅读 <a href="https://github.com/leancloud/leanchat-android/blob/master/src/com/avoscloud/chat/service/receiver/MsgReceiver.java">MsgReceiver.java</a>与 <a href="https://github.com/leancloud/leanchat-android/blob/master/src/com/avoscloud/chat/service/ChatService.java">ChatService.java</a>。iOS 项目中，推荐阅读 <a href="https://github.com/leancloud/leanchat-ios/blob/master/AVOSChatDemo/service/CDSessionManager.m">CDSessionManager.m</a>与 <a href="https://github.com/leancloud/leanchat-ios/blob/master/AVOSChatDemo/service/CDDatabaseService.m">CDDatabaseService.m</a>。</p>
<p>至于其它技术细节，请参考 <a href="https://github.com/leancloud/leanchat-android/wiki">项目wiki</a> 。</p>
<h2 id="-hook">云引擎 Hook</h2>
<p>云引擎 hook 允许你通过自定义的云引擎函数处理实时通信中的某些事件，修改
默认的流程等等。目前我们开放了两个需求比较强烈的 hook 云函数：</p>
<ul>
<li>_messageReceived 消息达到服务器，群组成员已解析完成之后，发送给收件人之前。</li>
<li>_receiversOffline 消息发送完成，存在离线的收件人</li>
</ul>
<p>关于如何定义云函数，你可以参考 <a href="leanengine_guide-cloudcode.html#云函数">云引擎 -云函数</a> 部分的说明。所有云引擎调用都有默认超时时间和容错机制，在出错的情况下将按照默认的流程执行后续的操作。</p>
<h3 id="_messagereceived">_messageReceived</h3>
<p>这个 hook 发生在消息到达实时通信服务，如果是群组消息，我们会解析出所有消息收件人。</p>
<p>你可以通过返回参数控制消息是否需要被丢弃，删除个别收件人，还可以修改消息内容。返回空对象（<code>response.success({})</code>）则会执行系统默认的流程。</p>
<p><strong>请注意，在这个 hook 的代码实现的任何分支上请确保最终会调用 response.success 返回结果，使得消息可以尽快投递给收件人。这个 hook 将阻塞发送流程，因此请尽量减少无谓的代码调用，提升效率。</strong></p>
<h4 id="-">参数</h4>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>fromPeer</td>
<td>消息发送者的 Peer ID</td>
</tr>
<tr>
<td>toPeers</td>
<td>消息的目标用户 ID 数组，包含解析出的用户 ID</td>
</tr>
<tr>
<td>groupId</td>
<td>群组消息的 Group ID，没有关联则为空</td>
</tr>
<tr>
<td>transient</td>
<td>是否是 transient 消息</td>
</tr>
<tr>
<td>content</td>
<td>消息体字符串</td>
</tr>
<tr>
<td>receipt</td>
<td>是否要求回执</td>
</tr>
<tr>
<td>timestamp</td>
<td>服务器收到消息的时间戳，毫秒</td>
</tr>
<tr>
<td>sourceIP</td>
<td>消息发送者的 IP</td>
</tr>
</tbody>
</table>
<h4 id="-">返回</h4>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>drop</td>
<td>可选，如果返回 truthy 值消息将被丢弃</td>
</tr>
<tr>
<td>content</td>
<td>可选，修改后的 content，如果不提供则保留原消息</td>
</tr>
<tr>
<td>toPeers</td>
<td>可选，数组，修改后的收件人，如果不提供则保留原收件人</td>
</tr>
</tbody>
</table>
<h3 id="_receiversoffline">_receiversOffline</h3>
<p>这个 hook 发生在有收件人离线的情况下，你可以通过这个 hook 自定义离线推
送行为，包括推送内容、被推送用户或略过推送。你也可以直接在 hook 中触发
自定义的推送。开放群组不会触发这个 hook。</p>
<h4 id="-">参数</h4>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>fromPeer</td>
<td>消息发送者 Peer ID</td>
</tr>
<tr>
<td>groupId</td>
<td>群组消息的 Group ID，没有关联则为空</td>
</tr>
<tr>
<td>offlinePeers</td>
<td>数组，离线的收件人列表</td>
</tr>
<tr>
<td>content</td>
<td>消息内容</td>
</tr>
<tr>
<td>timestamp</td>
<td>服务器收到消息的时间戳，毫秒</td>
</tr>
</tbody>
</table>
<h4 id="-">返回</h4>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>skip</td>
<td>可选，如果是 truthy 值将跳过推送（比如已经在云引擎里触发了推送或者其他通知）</td>
</tr>
<tr>
<td>offlinePeers</td>
<td>可选，数组，筛选过的推送收件人</td>
</tr>
<tr>
<td>pushMessage</td>
<td>可选，推送内容，支持自定义 JSON 结构</td>
</tr>
</tbody>
</table>
<p>示例应用 <a href="https://github.com/leancloud/leanchat-android">LeanChat</a> 也用了云引擎 Hook 功能来自定义消息推送，通过解析上层消息协议获取消息类型和内容，通过<code>fromPeer</code>得到发送者的名称，组装成 <code>pushMessage</code>。这样，能使推送通知的用户体验更好。可参考<a href="https://github.com/leancloud/leanchat-cloudcode/blob/master/cloud/mchat.js">相应的代码</a>。</p>
<h2 id="-">服务器端错误码说明</h2>
<p>这里的错误码主要是 websocket 关闭连接时返回的状态码，当出现异常情况时，SDK会输出状态码到日志里，以下是对部分状态码的简单说明：</p>
<ul>
<li><code>0</code> websocket 正常关闭，可能发生在服务器重启，或本地网络异常的情况。通常重试可以解决。</li>
<li><code>4103</code> Peer Id 格式错误，超过50个字符。</li>
<li><code>4105</code> Session 没有打开就发送消息，或执行其他操作。常见的错误场景是调用 open session 后直接发送消息，正确的用法是在 Session 打开的回调里执行。</li>
<li><code>4107</code> 读超时，服务器端长时间没有收到客户端的数据，切断连接。SDK 包装了心跳包的机制，正常情况下不会出现这个错误。如果遇到请检查网络并重试。</li>
<li><code>4108</code> 登录超时，连接后长时间没有完成 session open。如果开启了签名认证，可能由于签名错误出现这个情况，请查看。</li>
<li><code>4109</code> 包过长。消息大小超过 5KB，请缩短消息或者拆分消息。</li>
<li><code>4200</code> 服务器内部错误，如果反复出现请收集相关线索并<a href="https://leanticket.cn/t/leancloud">创建工单</a>，我们会尽快解决。</li>
</ul>
<h2 id="faq">FAQ</h2>
<h3 id="-">我有自己的用户系统</h3>
<p>我们并不强制接入实时消息服务的应用使用 LeanCloud 的用户系统。实时消息服务中的 PeerId 可以由用户任意指定，只要在用户系统中保证一致即可（在匿名聊天 Demo KeepAlive 里我们用的是 installationId）。对已有用户系统的应用来说，你可以使用自己的用户 ID 作为 PeerId，并通过<a href="realtime.html#权限和认证">签名</a>做权限认证。</p>
<h3 id="-">聊天支持图片、语音吗？</h3>
<p>当然支持。你可以把图片、语言等 blob 上传到我们的文件存储服务，再传输 URL，并在 UI 上进行适当地展示。这么做的好处：</p>
<ul>
<li>可以传输大文件，避免超过 5K 的消息大小限制</li>
<li>节省流量：聊天的对方只要接收一个 URL 文本即可，图片和语音是可选下载</li>
<li>加速：我们的 CDN 提供更快的下载速度，对图片还支持自动缩略图</li>
</ul>
<h3 id="-">聊天离线时可以推送吗？</h3>
<p>当然可以。我们的Android聊天服务是和后台的推送服务共享连接的，所以只要有网络就永远在线，不需要专门做推送。消息达到后，你可以根据用户的设置来 判断是否需要弹出通知。网络断开时，我们为用户保存50条的离线消息。</p>
<p>iOS在应用退出前台后即离线，这时收到消息会触发一个APNS的推送。因为APNS
有消息长度限制，且你们的消息正文可能还包含上层协议，所以 我们现在APNS
的推送内容是让应用在控制台设置一个静态的APNS json，如“您有新的消息” 。</p>
<p><img src="images/realtime_ios_push.png" alt="image"></p>
<p><img src="images/rtm-push.png" alt="image"></p>
<p>桌面图标也会有相应的红点<code>badge</code>，清除 <code>badge</code> 的操作请参考 <a href="push_guide.html#清除-badge">iOS推送指南</a>。</p>
<p>云引擎 Hook 已支持自定义消息推送，可推送具体的消息内容，可参考<a href="realtime.html#云引擎-hook">云引擎-Hook</a> 章节。</p>
<h3 id="-iphone-">为什么我的 iPhone 收不到离线消息推送？</h3>
<p>请先看上一个 FAQ。在控制台的设置页面，填写“您有新的未读消息”后，当对方不在线的时候，便会触发一个 APNS 的推送。首先，请确保控制台能向 iOS 推送消息，也即如下图所示的推送能顺利到达 iOS 系统，请参考<a href="push_guide.html#ios消息推送">消息推送指南</a>。</p>
<p><img src="images/realtime_faq_push.png" alt="image"></p>
<p>之后，还要确保对方确实是离线，如果对方程序在前台并且网络良好，则不会触发推送。如果对方网络未连接，则下次联网的时候收到回调，也不触发推送。也可以利用控制台实时消息页的用户状态查询来确保对方是在离线状态，如下图。</p>
<p><img src="images/realtime_faq_console.png" alt="image"></p>
<p>离线消息推送用的是生产环境编辑框里上传的证书，即无论下图中上传的是您应用的开发证书还是生产证书，都将用来作为 iOS 离线消息推送使用的证书。所以，调试时可能要上传开发证书，如果应用已发布不方便更改这里的证书，您可以创建另外一个应用来调试。 <a href="https://github.com/leancloud/leanchat-ios">LeanChat</a> 应用在调试期间所用的证书，如下图。</p>
<p><img src="images/realtime_faq_cert.png" alt="image"></p>
<p>检查方法总结如下：</p>
<ul>
<li>检查普通的 iOS 推送是否到达</li>
<li>在控制台检查接收方是否在离线状态</li>
</ul>
<h3 id="-">聊天记录</h3>
<p>聊天记录的查询我们支持 4 种方式：</p>
<ul>
<li>按对话查询，对话 id 即所有对话参与者的 peerId 排序后以<code>:</code>分隔<code>md5</code>所得的字符串；</li>
<li>按群组查询，对话 id 即群组 id；</li>
<li>按用户查询，你可以查到某一个用户的所有消息，以时间排序；</li>
<li>按应用查询，你可以查到自己应用中所有的消息，以时间排序。</li>
</ul>
<p>参考消息记录的 <a href="rest_api.html#实时通信-api">REST API</a>。</p>
<h3 id="-">未读消息数</h3>
<p>你可以调用 <a href="rest_api.html#实时通信-api">REST API</a> 获得某个用户的未读消息数。</p>
<h3 id="-">黑名单</h3>
<p>我们目前的设计里，黑名单等权限控制是通过签名来实现的。如果你是自己比较成熟的应用，你可能已经有了一定的用户关系、屏蔽关系，我们把这个步骤通过签名来实现，避免你把所有的关系数据都同步到我们的服务器。</p>
<p>如果你启用了签名，用户间发起对话、用户进入聊天群组，都需要通过服务器签名认证，在这一步应用可以实施自己的黑名单功能。</p>
<h3 id="-">如何实现自动回复的客服</h3>
<p>你可以利用 nodejs 客户端编写一些机器人，或是和自有的系统集成。</p>
<h3 id="-">我希望给群组增加一些自定义数据，如名字</h3>
<p>我们的群组信息实际上是 LeanCloud 的一个标准的数据表 <code>AVOSRealtimeGroups</code>。对于群组的元信息，你可以在关联的表里设置，也可以在这个表里添加新的列。请对这个表设置合理的 ACL 来保证内容不会被恶意篡改。</p>
<p><strong>注意请不要通过修改 <code>m</code> 列来改变群组成员</strong>，这样目标用户可能无法立刻收到通知，会造成数据不一致的情况。</p>
<h3 id="-">敏感词过滤怎么做</h3>
<p>我们在服务器端已经通过一份敏感词的列表对目前消息进行过滤，这部分功能无
需用户参与，是内置默认支持的。</p>
<h3 id="-api-">能否通过 API 给用户发消息</h3>
<p>对于不方便使用 Node.js 客户端的用户，我们最近提供了一个 <a href="./rest_api.html#%E9%80%9A%E8%BF%87-rest-api-%E5%90%91%E7%94%A8%E6%88%B7%E5%8F%91%E6%B6%88%E6%81%AF">REST API</a> 用于给特定用户发消息。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
