<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>短信服务使用指南 &middot; Objective-C - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="https://newdoc.leanapp.cn/search" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年10月25日上午10点53分">更新于 <time datetime="2017-10-25T10:53:03+08:00">2017-10-25</time></span></div>
        <h1 id="-middot-objective-c">短信服务使用指南 &middot; Objective-C</h1>
<p>LeanCloud 短信服务支持的应用场景有以下三种：</p>
<ul>
<li><strong>用户验证</strong>：例如微信、陌陌等在登录时需要向用户发送一条包含了验证码的短信，再引导用户输入进行安全认证，以及修改密码等数据安全相关的操作。</li>
<li><strong>操作验证</strong>：例如银行金融类应用，用户在对账户资金进行敏感操作（例如转账、消费等）时，需要通过验证码来验证是否为用户本人操作。</li>
<li><strong>通知公告</strong>：例如淘宝某卖家在发货之后会用短信的方式将快递单、订单号、发货时间等发给买家，以达到良好的购买体验。</li>
</ul>
<p>开发者在设置短信内容的时候，文字表述上应该做到规范、正确、简洁。我国相关法律<strong>严令禁止</strong>发送内容涉及以下情况的短信：</p>
<ul>
<li><strong>政治敏感</strong></li>
<li><strong>极端言论</strong></li>
<li><strong>淫秽色情</strong></li>
<li><strong>传销诈骗</strong></li>
<li><strong>封建迷信</strong></li>
<li><strong>造谣诽谤</strong></li>
<li><strong>我国现行法律、行政法规及政策所禁止的内容</strong></li>
</ul>
<p>因此 LeanCloud 需要审核短信内容，并且保留对发送人追究相关法律责任的权力。</p>
<h2 id="-">短信服务配置</h2>
<p>从应用级别来控制能否发送短信，进入 <a href="/app.html?appid={{appid}}#/security">控制台 &gt; 设置 &gt; <strong>安全中心</strong></a>，设置 <strong>短信发送</strong> 开关。</p>
<p>然后点击 <a href="/app.html?appid={{appid}}#/permission">应用选项</a>，查看与短信相关选项。当开启 <strong>安全中心</strong> &gt; <strong>短信发送</strong> 服务之后，以下打勾的选项会被默认开启：</p>
<ul>
<li><p>【&check;】用户账号 &gt; <strong>用户注册时，向注册手机号码发送验证短信</strong><br>
开启：调用 AVUser 注册相关的接口时，如果传入了手机号，系统则会自动发送验证短信，然后开发者需要手动调用一下验证接口，这样 <code>_User</code> 表中的 <code>mobilePhoneVerified</code> 值才会被置为 <code>true</code>。<br>
关闭：调用 AVUser 注册相关的接口不会发送短信。</p>
</li>
<li><p>用户账号 &gt; <strong>未验证手机号码的用户，禁止登录</strong><br>
开启：未验证手机号的 <code>AVUser</code> 不能使用「手机号 + 密码」以及「手机号 + 短信验证码」的方式登录，但是<u>用户名搭配密码的登录方式不会失败</u>。<br>
关闭：不会对登录接口造成任何影响。</p>
</li>
<li><p>用户账号 &gt; <strong>未验证手机号码的用户，允许以短信重置密码</strong><br> 
开启：允许尚未验证过手机号的 <code>AVUser</code> 通过短信验证码实现重置密码的功能。<br> 
关闭：<code>AVUser</code> 必须在使用短信重置密码之前，先行验证手机号，也就是 <code>mobilePhoneVerified</code> 字段必须是 <code>true</code> 的前提下，才能使用短信重置密码。</p>
</li>
<li><p>用户账号 &gt; <strong>已验证手机号码的用户，允许以短信验证码登录</strong><br>
开启：<code>AVUser</code> 可以使用手机号搭配短信验证码的方式登录。<br><br>关闭：<code>AVUser</code> 不能直接使用。</p>
</li>
<li><p>【&check;】其他 &gt; <strong>启用通用的短信验证码服务（开放 requestSmsCode 和 verifySmsCode 接口）</strong><br> 
开启：开发者可以使用短信进行验证功能的开发，比如，敏感的操作认证、异地登录、付款验证等业务相关的需求。<br>
关闭：请求验证发送短信以及验证短信验证码都会被服务端拒绝，但是请注意，跟用户相关的验证与该选项无关。</p>
</li>
</ul>
<p>了解以上配置项有助于开发者针对业务需求，在功能选择上做出调整。下面，我们根据不同的需求逐一介绍短信服务的功能。</p>
<h3 id="-">短信服务覆盖的国家和地区</h3>
<p>目前 LeanCloud 的短信服务覆盖以下国家和地区：</p>
<table>
<thead>
<tr>
<th>大区</th>
<th>国家和地区</th>
</tr>
</thead>
<tbody>
<tr>
<td>中国</td>
<td>中国大陆、台湾省、香港行政区、澳门行政区</td>
</tr>
<tr>
<td>北美</td>
<td>美国、加拿大</td>
</tr>
<tr>
<td>南美</td>
<td>巴西</td>
</tr>
<tr>
<td>欧洲</td>
<td>英国、法国、德国、意大利、乌克兰、俄罗斯、西班牙</td>
</tr>
<tr>
<td>东亚</td>
<td>韩国、日本</td>
</tr>
<tr>
<td>东南亚</td>
<td>印度、马来西亚、新加坡、泰国、越南、印度尼西亚</td>
</tr>
<tr>
<td>大洋洲</td>
<td>澳大利亚、新西兰</td>
</tr>
</tbody>
</table>
<p>要了解短信可送达的所有国家或地区以及费率，请参考 <a href="sms-guide.html#国际短信">国际短信</a>。</p>
<h3 id="-">短信计费</h3>
<p>如果一个短信模板字数超过 70 个字（包括签名的字数），那么该短信在发送时会被运营商<u>按多条来收取费用</u>，但接收者收到的仍是<u>一条完整的短信</u>。</p>
<ul>
<li>小于或等于 70 个字，按一条计费。</li>
<li>大于 70 个字，按每 67 字一条计费。</li>
</ul>
<p>状态为「等待回执」的短信不会收费计入账单。每条短信的收费标准请参考 <a href="/pricing">官网价格方案</a>。</p>
<h3 id="-">短信购买</h3>
<p>短信发送采取实时扣费。如果当前账户没有足够的余额，短信将无法发送。充值请进入 <a href="/bill.html#/bill/general">开发者账户 &gt; 财务 &gt; 财务概况</a>，点击 <strong>余额充值</strong>。</p>
<p>同时我们建议设定好 <a href="/settings.html#/setting/alert">余额告警</a>，以便在第一时间收到短信或邮件获知余额不足。</p>
<h2 id="-">验证类</h2>
<p>用户验证是一个移动应用最基本的功能，传统的「账号和密码登录」在一般的应用场景下尚且可以满足需求，但是相对于社交类、照片存储类、金融类等应用，随着不断使用，用户往往会在应用中留下较多的个人信息记录，比如：</p>
<p>当微信发现用户忽然在一台从未授权过的新设备上登录时，如果该用户已经开启了「安全验证」，那么它会向该用户的手机号发一条验证短信，以验证当前登录是否为本人操作。微信是一个较为私密的社交应用，随着使用时间的增加，用户的手机号、聊天记录都可能涉及到更为私密的信息。</p>
<p>开发者在开发过程中也可能会遇到与微信类似的场景和需求。</p>
<h3 id="-">操作认证</h3>
<p>象在新设备上登录微信、在新设备上进行支付宝的第一次支付认证，这种与应用内业务逻辑紧密相关的验证操作一般都跟用户的敏感信息相关。出于对用户信息以及金融安全的考虑，短信验证往往会比较可信，LeanCloud 为此提供了一系列的接口。</p>
<p>我们以一个购物应用为例，说明一下操作认证的大致步骤：</p>
<ol>
<li><p><strong>用户点击支付订单</strong><br>发起敏感操作</p>
</li>
<li><p><strong>调用接口发送验证短信</strong><br>注意，在这一步之前，我们假设当前用户已经设置过了手机号，所以推荐这类应用在注册环节，尽量要求用户以手机号作为用户名，否则到了支付界面，还需要用户在首次购买时输入一次手机号。</p>
<pre><code class="lang-objc"> [AVOSCloud requestSmsCodeWithPhoneNumber:@&quot;13613613613&quot;
                                  appName:@&quot;某应用&quot;
                                operation:@&quot;具体操作名称&quot;
                               timeToLive:10
                                 callback:^(BOOL succeeded, NSError *error) {
                                     if (succeeded) {
                                         // 发送成功
                                         //短信格式类似于：
                                         //您正在{某应用}中进行{具体操作名称}，您的验证码是:{123456}，请输入完整验证，有效期为:{10}分钟
                                     }
                                 }];
</code></pre>
</li>
<li><p><strong>用户收到短信，并且输入了验证码。</strong><br>在进行下一步之前，我们依然建议先进行客户端验证，这样就避免了错误的验证码被服务端驳回而产生的流量，以及与服务端沟通的时间，有助于提升用户体验。</p>
</li>
<li><p><strong>调用接口验证用户输入的验证码是否有效。</strong>  </p>
<pre><code class="lang-objc">[AVOSCloud verifySmsCode:@&quot;123456&quot; mobilePhoneNumber:@&quot;18612345678&quot; callback:^(BOOL succeeded, NSError *error) {
 if(succeeded){
     //验证成功
 }
}];
</code></pre>
</li>
</ol>
<p>针对上述的需求，可以把场景换成异地登录验证、修改个人敏感信息验证等一些常见的场景，步骤是类似的，调用的接口也是一样的，仅仅是在做 UI 展现的时候需要开发者自己去优化验证过程。</p>
<h3 id="-">注册验证</h3>
<p><strong>用户注册</strong>对所有开发者来说都是非常重要的，为了降低操作难度，越来越多的应用支持使用手机号码来快速注册账户，并且同时会通过短信验证码来核实用户手机号码的有效性。为了满足这一需求，我们将 LeanCloud 内建的 <a href="leanstorage_guide-objc.html#用户">账户系统</a>与短信验证码相结合，推出了便捷的「注册验证」功能。其使用步骤如下：</p>
<ol>
<li><p><strong>用户输入手机号以及密码</strong><br>引导用户正确的输入，建议在调用 SDK 接口之前，验证一下手机号的格式。</p>
</li>
<li><p><strong>调用 AVUser 的注册接口，传入手机号以及密码。</strong>  </p>
<pre><code class="lang-objc">AVUser *user = [AVUser user];
user.username = @&quot;hjiang&quot;;
user.password =  @&quot;f32@ds*@&amp;dsa&quot;;
user.email = @&quot;hang@leancloud.rocks&quot;;
user.mobilePhoneNumber = @&quot;18612340000&quot;;
NSError *error = nil;
[user signUp:&amp;error];
</code></pre>
</li>
<li><p><strong>云端发送手机验证码，并且返回注册成功</strong>。但是此时用户的 <code>mobilePhoneVerified</code> 依然是 <code>false</code>，客户端需要引导用户去输入验证码。   </p>
</li>
<li><p><strong>用户再一次输入验证码</strong><br>最好验证一下是否为纯数字。</p>
</li>
<li><p><strong>调用验证接口，检查用户输入的纯数字验证码是否合法。</strong>  </p>
<pre><code class="lang-objc">[AVUser verifyMobilePhone:@&quot;123456&quot; withBlock:^(BOOL succeeded, NSError *error) {
 //验证结果
}];
</code></pre>
</li>
</ol>
<p>以上是一个通用的带有手机号验证的注册过程。开发者可以根据需求增加或减少步骤，但是推荐开发者在使用该功能时，首先明确是否需要勾选「验证注册用户手机号码」。因为一旦勾选，只要调用了 AVUser 相关的注册账号，并传入手机号，云端就会自动发送短信验证码。</p>
  <div class="callout callout-info">
  <p>注意：只有使用了 LeanCloud 内建账户系统的应用才能使用这一功能。</p>
</div>


<p>另外，假如注册的时候并没有强制用户验证手机号，而是在用户使用某一个功能的时候，要求用户验证手机号，也可以调用接口进行「延迟验证」，验证之后 <code>mobilePhoneVerified</code> 就会被置为 <code>true</code>。</p>
<ol>
<li><p><strong>请求发送验证码</strong>    </p>
<pre><code class="lang-objc">[AVUser requestMobilePhoneVerify:@&quot;18612345678&quot; withBlock:^(BOOL succeeded, NSError *error) {
 if(succeeded){
     //发送成功
 }
}];
</code></pre>
</li>
<li><p><strong>调用验证接口，验证用户输入的纯数字的验证码。</strong>  </p>
<pre><code class="lang-objc">[AVUser verifyMobilePhone:@&quot;123456&quot; withBlock:^(BOOL succeeded, NSError *error) {
 if(succeeded){
     //验证成功
 }
}];
</code></pre>
</li>
</ol>
<h4 id="-">未收到注册验证短信</h4>
<p>一般来说，用户收到的注册验证短信内容为：</p>
<p>  <samp ng-non-bindable="" class="bubble">【AppName】欢迎使用 AppName 服务，您的验证码是 123456，请输入完成验证。</samp></p>
<p>其中【AppName】为短信签名，必须遵循 <a href="#短信签名">短信签名规范</a> 中的长度及其他要求，否则会被短信供应商拒绝发送。</p>
<h2 id="-">通知类</h2>
<p>通知类短信非常普遍，例如联通用户从外地进入上海可能会收到如下短信：</p>
<p>  <samp ng-non-bindable="" class="bubble">尊敬的用户：欢迎您来到上海，如需帮助请拨打客服热线10010或登录www.10010.com，优惠订购机票酒店请拨打116114。中国联通</samp></p>
<p>这是一个来自通信运营商的通知类短信的规范案例。</p>
<p>在实际使用的过程中，通知类短信往往会因为<strong>措辞不当</strong>而被短信服务商拒绝发送；甚至还会出现 开发者发送过去的请求被服务商直接屏蔽的情况。因此，LeanCloud 在发送推广类的短信时<strong>需要进行内容审核</strong>。</p>
<h2 id="-">营销类</h2>
<p>营销类短信是应用开发者与潜在客户沟通、进行产品推广和销售的有效手段。营销类短信也是基于模板来实现的，因此使用时跟 <a href="#通知类">通知类</a> 使用没有任何本质区别，步骤依次是 <a href="#创建模板">创建模板</a> &gt; <a href="#使用模板">使用模板</a>。</p>
<p>营销类短信默认会在短信最后加上「<strong>回复TD退订</strong>」，这是运营商的强制要求。</p>
  <div class="callout callout-danger">
  <p>自 2016 年 6 月起，营销类短信不允许由个人用户发送。所有营销类短信必须提供有效的公司或者企业名称，缺失名称将导致营销类短信无法发送。伪造或使用虚假名称将会被追究法律责任。</p>
</div>


<p>第一次提交营销模版，其使用的营销签名需要上报至运营商进行备案，审核过程将需要 2~5 个工作日。当营销签名完成了备案，此后再提交营销模版，审核将在工作日 4 小时内完成。</p>
<h2 id="-">自定义短信内容</h2>
<p>通过短信模板，我们可以自定义短信的内容。因为短信模板是由开发者自己定义的，因此为了确保平台的安全以及稳定，我们的短信模板由<strong>专人进行审核</strong>，只有<strong>通过审核</strong>之后，在接口里的调用才会成功发送。</p>
<!-- ### 短信签名 -->
<h3 id="-">短信签名</h3>
<p>短信签名是指短信内容里用【】括起来的短信发送方名称，根据运营商的规定，它必须出现在<strong>短信内容的开头或结尾</strong>。你需要在 <a href="/messaging.html?appid=#/message/sms/conf">控制台 &gt; 消息 &gt; 短信 &gt; 设置 &gt; 短信签名</a> 为每个应用创建合法的短信签名。如果一个应用拥有多个短信签名，请确保选择其一作为<strong>默认签名</strong>。</p>
  <div class="callout callout-danger">
  <p>短信签名缺失、或没有默认签名、或未通过审核且无其他可用签名，都将导致短信无法发送。</p>
</div>


<p><strong>签名规范</strong>：</p>
<ul>
<li>签名必须是应用名称、公司简称、品牌名或网站名，容易被用户识别；长度控制在 2 到 8 个字符之间。例如签名【应用A】中的 <code>应用A</code> 为 3 个字符。</li>
<li>不能有任何非文字字符，也不可以是变量。</li>
<li>不允许全部为英文字符或全部为数字</li>
<li>不需要带上实心方头括号【】</li>
<li>一个应用最多可以拥有 50 个签名（包含审核未通过的签名）。</li>
</ul>
<h3 id="-">创建模板</h3>
<p>要创建短信模板，先进入控制台，选择一个应用，再选择 <a href="http://leancloud.cn/messaging.html?appid={{appid}}#/message/sms/conf">消息 &gt; 短信 &gt; 设置</a>。选择需要的模板类型：</p>
<ul>
<li>通知类型</li>
<li>验证码类型</li>
<li>营销类型</li>
</ul>
<p>如果模板类型选择了<strong>通知类</strong>或者<strong>验证类</strong>，但短信内容涉及到营销内容则无法通过审核。要发送营销类短信请阅读 <a href="#营销类">营销类</a>。</p>
<h3 id="-">使用模板</h3>
<h4 id="-">验证码类型</h4>
<p>验证码类型有两种，一种针对 _User 表中 <code>mobilePhoneNumber</code> 字段的验证，另一种是业务场景中敏感操作的验证，这两种都在上文中有介绍：<a href="sms-guide.html#验证类">验证类</a></p>
<h4 id="-">通知类型</h4>
<p>假设提交的短信模板的类型为「通知类」内容如下，</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">尊敬的的用户, 您的订单号：<code ng-non-bindable="">{{order_id}}</code> 正在派送，请保持手机畅通，我们的快递员随时可能与您联系，感谢您的订阅。 
</samp></p>
<p>并且模板名称为 <code>Order_Notice</code>，并且为这个模板关联了一个签名叫做「天天商城」，当模板通过审批后就可以调用如下代码发送这条通知类的短信：</p>
<pre><code class="lang-objc">    NSMutableDictionary *dict = [[NSMutableDictionary alloc] init];
    [dict setObject:@&quot;7623432424540&quot; forKey:@&quot;order_id&quot;];
    [AVOSCloud requestSmsCodeWithPhoneNumber:@&quot;18612345678&quot; templateName:@&quot;Order_Notice&quot; variables:dict callback:^(BOOL succeeded, NSError *error) {
        if (succeeded) {
            //操作成功
        } else {
            NSLog(@&quot;%@&quot;, error);
        }
    }];
</code></pre>
<p>用户收到的内容如下：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">【天天商城】尊敬的天天商城的用户, 您的订单号：7623432424540 正在派送，请保持手机畅通，我们的快递员随时可能与您联系，感谢您的订阅。
</samp></p>
<h4 id="-">营销类型</h4>
<p>假设提交短信的模板类型为 「营销类」内容如下：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">服装专区，新款上市，奥斯卡红毯同款全面上架，详情可以访问天天商城唯一官方网址：www.buybuybuy.com。 
</samp></p>
<p>并且模板名称为 <code>New_Series</code>，同时也为这个模板关联了一个签名叫做「天天商城」，当模板通过审批后就可以调用如下代码发送这条营销类的短信：</p>
<pre><code class="lang-objc">    NSMutableDictionary *dict = [[NSMutableDictionary alloc] init];
    [AVOSCloud requestSmsCodeWithPhoneNumber:@&quot;18612345678&quot; templateName:@&quot;New_Series&quot; variables:nil callback:^(BOOL succeeded, NSError *error) {
        if (succeeded) {
            //操作成功
        } else {
            NSLog(@&quot;%@&quot;, error);
        }
    }];
</code></pre>
<p>用户收到的内容如下：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">【天天商城】服装专区，新款上市，奥斯卡红毯同款全面上架，详情可以访问天天商城唯一官方网址：www.buybuybuy.com。
</samp></p>
<h3 id="-">模板变量</h3>
<p>模板可以使用<u>自定义变量</u>，如上例中的 <code ng-non-bindable="">{{order_id}}</code>，在调用模板时以参数形式传入。模板语法遵循 <a href="http://handlebarsjs.com">Handlebars</a> 规范。</p>
  <div class="callout callout-danger">
  <p>自定义变量的值不允许包含实心括号 <code>【】</code> 。</p>
</div>


<p>模板还可以使用<u>系统预留变量</u>，在发送短信发送时，它们会被自动填充：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">欢迎注册<code ng-non-bindable="">{{name}}</code>应用！请使用验证码<code ng-non-bindable="">{{code}}</code>来完成注册。该验证码将在<code ng-non-bindable="">{{ttl}}</code>分钟后失效，请尽快使用。
</samp></p>
<ul>
<li><code>name</code>：应用名称</li>
<li><code>code</code>：验证码（通知类和营销类不会包含）</li>
<li><code>ttl</code>：过期时间（默认为 10 分钟）</li>
</ul>
<h2 id="-">模板规范</h2>
<p>鉴于开发者的应用场景各异，我们整理了以下范例来说明如何撰写规范的短信模板。需要再次强调，一切跟营销推广相关的短信模板，请在创建模板时务必选择<strong>营销类</strong>，否则将无法通过审核。</p>
<p>【正确范例】</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">XX房东您好，租客<code ng-non-bindable="">{{guest_name}}</code>（手机号码：<code ng-non-bindable="">{{guest_phone}}</code>）于<code ng-non-bindable="">{{payment_create_time}}</code>向您支付了房租。租金为<code ng-non-bindable="">{{rent_price}}</code>元，房屋地址在<code ng-non-bindable="">{{rent_addr}}</code>。请关注微信公众号：XX租房。XX租房APP下载地址：<a href="http://example.com/download.html">http://example.com/download.html</a>
</samp></p>
<h3 id="-">链接</h3>
<p>短信中的 URL 不允许<strong>全部</strong>设置为变量，这样是为了确保安全，防止病毒以及不良信息的传播。错误范例如下：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">尊敬的会员您好，您的订单（订单号<code ng-non-bindable="">{{orderId}}</code>）已确认支付。5周年庆新品降价！大牌奢品上演底价争霸，低至2折！BV低至888元！阿玛尼低至199元！都彭长款钱包仅售499元！杜嘉班纳休闲鞋仅售1399元！周年庆家居专场千元封顶现已开启！<code ng-non-bindable="">{{download_link}}</code> 客服电话400-881-6609 回复TD退订
</samp></p>
  <div class="callout callout-danger">
  <p>以上通知内容包含了象 <u>打折</u>、<u>降价</u>、<u>仅售</u> 这类营销推广的敏感词语，容易导致审批无法通过，因此请谨慎使用或改用 <a href="#营销类">营销类短信</a>。</p>
</div>


<p>但是 URL 中可以包含变量，比如：</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">亲，您的宝贝已上路，快递信息可以通过以下链接查询：<a href="http://www.sf-express.com/cn/#search/">http://www.sf-express.com/cn/#search/</a><code ng-non-bindable="">{{bill_number}}</code> 
</samp></p>
<h3 id="-">通知类模板</h3>
<p>【正确范例】</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">恭喜您获得关注广州体彩微信送“排列三”的活动彩票，您的号码是第<code ng-non-bindable="">{{phase}}</code>期的：<code ng-non-bindable="">{{num}}</code>。开奖时间为<code ng-non-bindable="">{{date}}</code>，请关注公众号—开奖信息查询中奖状态。
</samp></p>
<p>〖错误范例〗</p>
<p>  <samp ng-non-bindable="" class="bubble" style="">您好，本条短信来自“XX旅游”~恭喜幸运的您，在本次“北海道机票”抽奖活动中，获得二等奖——定制星巴克杯! 请您关注我们的微信公众号（XX旅游：xx_app)，回复“中奖名单”即可查看详细中奖名单及领取须知！后续还会有更多活动惊喜，期待您的参与~官方网站：xxsite.cn
</samp></p>
<p>错误点在于不可以在 <a href="#通知类">通知类</a> 模板中发送带有抽奖中奖信息等营销信息的内容。解决方案是<strong>在创建模板的时候选择 <a href="#营销类">营销类短信</a></strong>。</p>
<p>另外，有一些行业相关的敏感词语是不允许发送的，错误范例如下：</p>
<p>  <samp ng-non-bindable="" class="bubble">业主还在苦苦等待你的反馈，你认领的房源已超过1小时没有填写核实结果，请尽快登录XX客户端，在“业主--待处理”列表中进行填写。【XX网】</samp></p>
  <div class="callout callout-danger">
  <p>无论是通知类还是营销类短信，凡包含<u>房源</u>、<u>借贷</u>这类敏感词都被禁止发送。</p>
</div>


<h3 id="-">营销类模板</h3>
<h4 id="-">销售类</h4>
<p>【正确范例】</p>
<p>  <samp ng-non-bindable="" class="bubble">X牌新款春装已经上市，明星夫妻同款你值得拥有！详情请咨询当地X牌门市店，或者直接登录 www.xxxx.com 查询门市店，或者拨打 010-00000000，凭短信可享 9 折优惠。回复TD退订</samp></p>
<h4 id="-">应用推广类</h4>
<p>【正确范例】</p>
<p>  <samp ng-non-bindable="" class="bubble">还在找寻同桌的 TA 吗？还在烦恼过年回家联系不上老同学吗？iOS 用户在 App Store 搜索：找同学，下载最新版的找同学，让同学聚会重温往日时光！</samp></p>
<p>注意：应用的下载链接必须是明文，不可设置为参数。</p>
<h2 id="demo">Demo</h2>
<p>为了方便开发者理解短信服务流程，我们特地开发了专门针对短信服务的 <a href="https://github.com/leancloud/leancloud-smsdemo-ios">LeanCloud SMS Demo</a>，开发者可以通过代码学习和了解。</p>
<h2 id="-">安全问题</h2>
<p>我们强烈要求开发者在用户界面上针对短信发送做操作限制，例如手机号的验证功能应该是客户端在 1 分钟之内只允许发送一次，尽管我们的服务端做了必要的安全措施来保证开发者的权益，但是不排除有被恶意攻击的可能性。
因此我们强烈要求开发者一定要阅读如下链接里的内容：<a href="rest_sms_api.html#短信轰炸">短信轰炸</a></p>
<h2 id="-">常见问题</h2>
<p>详情请参照 <a href="rest_sms_api.html#常见问题_FAQ">短信收发常见问题一览</a>。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
