<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>使用功能提示 - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="https://newdoc.leanapp.cn/search" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年10月25日上午10点53分">更新于 <time datetime="2017-10-25T10:53:03+08:00">2017-10-25</time></span></div>
        <h1 id="-">使用功能提示</h1>
<h2 id="-">存储</h2>
<ul>
<li>如果需要对 class 数据进行全文搜索，同时根据文本相关性排序，请使用 <a href="app_search_guide.html">应用内搜索功能</a>。</li>
<li>添加列的时候可以设置必选、默认值、隐藏等属性。</li>
<li>列名旁边的下拉框，可以删除、重命名和编辑列属性。</li>
<li>在不同应用之间可以共享 class 数据，例如共享 _User 表实现单点登录，参考 <a href="app_data_share.html">应用间数据共享文档</a>。</li>
<li>数据菜单左下角有 <strong>数据导入</strong> 菜单，可以导入符合我们 <a href="dashboard_guide.html#本地数据导入_LeanCloud">预先定义格式</a> 的遗留系统的数据到 LeanCloud 平台。</li>
<li>查询的时候如果想将关联 Pointer 类型带入查询结果，请使用 AV.Query 的 <code>includeKey</code> 方法指定字段名称。</li>
<li>查询可以指定 skip 和 limit 做分页查询。</li>
<li>你可以使用类似 SQL 的语法来查询 LeanCloud 数据，参考 <a href="cql_guide.html">CQL 详细指南</a>。</li>
<li>你可以在 <a href="error_code.html">错误码详解</a> 文档里找到所有的错误代码和信息解释。</li>
<li>你可以使用 <a href="/dashboard/apionline/index.html">API 在线测试工具</a> 在线测试我们提供的开放 <a href="rest_api.html">REST API</a>。</li>
<li><p>我们的用户账户系统都自动做了密码加密存储，基于 SHA-512 加密算法，使用随机生成的 salt 加密。</p>
</li>
<li><p>我们提供短信服务，你可以使用短息服务发送手机验证码、手机登录验证码等。具体参考各 SDK 开发指南。</p>
</li>
<li><p>我们提供了 iOS、Android、Windows Phone、JavaScript、Unity3D 等平台的 SDK，进入 <a href="sdk_down.html">SDK 下载页面</a>。</p>
</li>
<li><p>如果你想做一个形如微博的 Feed 系统，也许你可以尝试使用我们的 <a href="status_system.html">事件流系统</a>。</p>
</li>
<li><p>我们提供简易的 <a href="sns.html">SNS 组件</a>，用于第三方登录和分享。</p>
</li>
<li><p><a href="android_faq.html#代码混淆怎么做">Android 应用代码混淆注意事项</a></p>
</li>
<li><a href="https://blog.leancloud.cn/1723/">基于 LeanCloud 的一对多、多对多关系数据建模</a></li>
<li><a href="https://blog.leancloud.cn/1541/">使用 LeanCloud JavaScript SDK 和 AngularJS 创建 一个 Todo Demo</a></li>
<li>我们的数据存储服务提供地理位置信息查询，参考 SDK 开发指南，或者博文教程<a href="https://blog.leancloud.cn/537/">《GEO Point 的使用》</a>。</li>
<li>在应用设置菜单里，可以找到 <strong>数据导出</strong> 功能，你可以完整导出应用的数据。</li>
<li>你可以在某个 class 的其他菜单里找到权限设置、Class 绑定等高级功能。</li>
<li>在应用设置的 <strong>邮件模板</strong> 菜单，你可以编辑并保存发送给注册用户的邮箱验证邮件模板等。</li>
<li>适当使用 <a href="leanstorage_guide-objc.html#缓存查询">查询缓存</a> 功能，可以提升查询性能，并提供离线浏览。</li>
<li>实现应用 DeepLink，参考 <a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a>。</li>
<li>如果你想针对一个列建立唯一索引，不允许该列的数据出现重复，请提交 <a href="https://leanticket.cn/t/leancloud">技术支持工单</a> 或者发邮件至 <a href="&#x6d;&#x61;&#105;&#108;&#116;&#x6f;&#58;&#x73;&#x75;&#112;&#112;&#111;&#114;&#x74;&#x40;&#x6c;&#101;&#97;&#x6e;&#x63;&#108;&#x6f;&#117;&#100;&#x2e;&#x72;&#x6f;&#99;&#107;&#115;">&#x73;&#x75;&#112;&#112;&#111;&#114;&#x74;&#x40;&#x6c;&#101;&#97;&#x6e;&#x63;&#108;&#x6f;&#117;&#100;&#x2e;&#x72;&#x6f;&#99;&#107;&#115;</a>，说明应用、Class 和列名。</li>
<li>想实现先验证手机号码再注册，可以用 <code>requestSMSCode</code>、<code>verifySMSCodeInBackground</code> 得到一个正确的手机号码再进行 <code>new AVUser()</code> 的注册。</li>
</ul>
<h2 id="-">文件</h2>
<ul>
<li>你可以在数据管理平台的 _File 表的 <strong>url</strong> 列点击上传按钮，直接上传文件。</li>
<li>文件 API 提供元数据存储和缩略图功能，请参考 SDK 开发指南。</li>
</ul>
<p>更多缩略图选项可以使用 <a href="https://developer.qiniu.com/dora/manual/1279/basic-processing-images-imageview2">七牛 API</a> 做 URL 转换得到。</p>
<ul>
<li>文件如果存储为其他对象的数组属性，那么需要在 query 或者 fetch 的时候 <code>includeKey</code> 该字段。</li>
<li><a href="leanengine_cli.html">命令行工具</a> 提供文件批量上传命令 upload，可以用于上传现有资源文件到 LeanCloud 平台。</li>
<li>文件没有大小限制，文件在 SDK 下载成功后将自动缓存在本地。</li>
</ul>
<h2 id="-">统计</h2>
<ul>
<li>你可以在统计分析左下角的 <strong>统计设置</strong> 菜单里，设置数据发送策略、统计周报月报订阅、渠道链接等设置。</li>
<li>为了统计渠道推广效果，你可以在在统计分析左下角的 <strong>统计设置</strong> 菜单里添加推广营销链接，查看不同渠道链接的推广效果。</li>
<li>在统计分析左下角的 <strong>统计设置</strong> 菜单里，可以设置统计订阅，接收统计分析的周报或月报。</li>
<li>应用的组件菜单里可以找到 <strong>自定义参数设置</strong>，设置 <a href="ios_statistics.html#获取在线参数">应用在线参数</a>。</li>
<li>统计分析支持启动时发送、批量发送和最小间隔发送三种策略，可以在统计分析左下角的 <strong>统计设置</strong> 菜单里设置。</li>
<li>默认不会统计页面访问数据，添加统计代码，请参考文档 <a href="android_statistics.html#统计页面路径">统计页面路径</a>。</li>
<li>测试页面统计和自定义事件代码添加是否正确，请设置发送策略为最小间隔发送，并通过实时数据页面快速查看结果。<!-- * 了解 [用户群分析](user_groups.html)，针对用户数据做更精细的分析挖掘或者推送。 -->
</li>
</ul>
<h2 id="-">实时通信</h2>
<ul>
<li>实时通信功能可以帮助你实现用户间聊天等实时应用。</li>
<li>你可以使用我们的 <a href="sdk_down.html">JavaScript Chat SDK</a> 编写 Node.js 服务器端程序，实现自动回复、机器人等功能。</li>
<li>你可以通过 <a href="rest_api.html#获取聊天记录">REST API</a> 获得整个应用内所有的聊天记录。</li>
<li>iOS 用户将应用切换至后台时，新的消息将触发推送提醒用户，你可以在 <strong>应用设置的推送菜单</strong> 里自定义这条推送，支持 JSON 格式。</li>
<li>Android 实时通信客户端和推送共享连接，所以 Android 用户是后台永久在线的。</li>
<li>我们的 SDK 会自动处理重连、网络环境变化等状况，你只需在编程时响应 Session Paused / Resumed 事件即可。</li>
<li>你可以利用我们的文件存储 API 上传音频、视频等多媒体文件到 CDN，然后发送 URL，并在 UI 上合理展现来丰富你的聊天应用。</li>
<li>实时通信中，收到消息的时间戳是服务器端的 UTC 时间戳。</li>
<li>实时通信中，<code>Session.close</code> 仅在用户注销登录时调用，否则会导致用户无法收到消息。</li>
<li>对在线 500 人以上的应用，我们提供数据异常报警服务，当你每小时的线用户数、消息数有较大变化时，你会收到我们的提醒邮件。</li>
</ul>
<h2 id="-">推送</h2>
<ul>
<li>我们提供 iOS、Android 和 Windows Phone 平台的消息推送服务，请参考各 SDK 开发指南和 <a href="push_guide.html">消息推送开发指南</a>。</li>
<li>你可以为 AVInstallation 添加自定义的业务属性，也可以使用频道订阅功能，来实现各种复杂推送。</li>
<li>iOS 推送必须在应用设置的 <strong>推送设置</strong> 里上传推送证书，证书生成参考 <a href="ios_push_cert.html">iOS 推送证书设置指南</a>。</li>
<li>可以通过 AVAnalytics 的 <code>trackAppOpened</code> 方法跟踪推送消息的应用打开情况。</li>
<li>如果你的 app 处于运行状态，iOS 系统将不会在系统的通知中心显示推送消息，你可以使用 UILocalNotification 展示一个通知给用户。</li>
<li>Android 可以通过 <a href="push_guide.html#消息内容_Data">自定义 Receiver</a> 来自定义消息推送接收逻辑。</li>
<li>AVPush 可以设置 AVQuery 条件，查询符合条件的 AVInstallation 设备推送消息。</li>
<li>LeanCloud 支持定时推送，你可以通过云引擎定时任务做更复杂的定时推送。</li>
</ul>
<h2 id="-">安全</h2>
<ul>
<li>通过合理的设置 ACL，可以安全地保护你的数据，详情参考各 SDK 开发指南。</li>
<li>在数据管理平台，选择 class 后，进入其他菜单，可以设置 Class 权限，保护你的数据。</li>
<li>在应用设置的应用选项菜单里，提供多种选项来保护你的应用。</li>
<li>请不要泄露你的账号或者应用信息给他人，<a href="https://leancloud.cn/settings.html#/setting/password">定期更新账户密码</a> 是一个好习惯。</li>
<li><p>在应用设置的协作者菜单里，可以添加应用协作者，协作者将拥有该应用的绝大部分权限，因此请慎重添加。</p>
</li>
<li><p><strong>请在 <a href="/settings.html#/setting/info">开发者信息</a> 填写更加详细的联系信息</strong>，方便我们在紧急情况下联系你。</p>
</li>
<li>马上创建一个 <a href="/settings.html#/setting/team">团队</a>，协作开发应用。团队可以作为应用的协作者添加。</li>
</ul>
<h2 id="-">云引擎</h2>
<ul>
<li>云引擎提供 <a href="leanengine_cli.html">命令行工具</a>，方便部署、发布、调试云引擎项目。</li>
<li>云引擎支持一份代码部署多个应用，只要使用相同的 git 仓库即可。另外 <a href="leanengine_cli.html#多应用管理">命令行工具</a> 提供强力支持。</li>
<li>云引擎菜单提供统计功能，查看你的云引擎项目调用状况。</li>
<li>云引擎提供 <a href="leanengine_guide-cloudcode.html#定时任务">定时任务</a>，特定的时刻，做特定的事情。</li>
<li>云引擎提供 <a href="leanengine_guide-cloudcode.html#发送_HTTP_请求">HTTP 客户端</a>，抓取第三方数据。</li>
<li>通过定义 <a href="leanengine_guide-cloudcode.html#在_save_前修改对象">before 或者 after 函数</a>，在 AVObject 存储前后加入校验等额外逻辑。</li>
<li>避免对象循环引用，将循环关系作为第三个对象存储。</li>
<li>想建立一个应用网站？我们提供 <a href="leanengine_guide-cloudcode.html#Web_Hosting">网站托管</a>。</li>
<li><p>想用好云引擎，请先熟悉 <a href="leanstorage_guide-js.html">JavaScript SDK 开发指南</a>。</p>
</li>
<li><p>云引擎 Web 主机托管，可以绑定备案过的独立域名，请在 <a href="https://leanticket.cn/t/leancloud">工单系统</a> 提出技术申请。</p>
</li>
<li>云引擎 Web 主机托管，我们可以协助你完成域名的备案，请在 <a href="/settings.html#/setting/domainrecord">应用控制台 &gt; 账户设置 &gt; 域名备案</a> 操作。</li>
</ul>
<h2 id="-">其他</h2>
<ul>
<li><a href="/settings.html#/setting/invite">邀请朋友</a> 注册 LeanCloud，获取赠送金额。</li>
<li>修改登录邮箱，请进入 <a href="/settings.html#/setting/mail">邮箱</a> 菜单。</li>
<li><p>为你的应用添加用户反馈，请使用我们的 <a href="feedback.html">用户反馈组件</a>。</p>
</li>
<li><p>查看 <a href="start.html">SDK 安装文档</a>，开始应用开发之旅。</p>
</li>
<li>通过 <a href="https://leanticket.cn/t/leancloud">工单系统</a> 提交技术支持申请，获取 LeanCloud 工程师的帮助。</li>
<li>在右上角用户名左侧的消息中心，可以看到 LeanCloud 最火热的新闻和教程。</li>
<li>在工具栏的资源菜单里，可以找到 LeanCloud 移动客户端下载链接，在移动设备上查看应用分析数据。</li>
<li>使用 <a href="https://drop.leanapp.cn/">drop</a> 或者 <a href="http://fir.im/">fir.im</a> 分发测试你的应用。</li>
<li>不知道怎么使用 LeanCloud？各种 <a href="demo.html">Demo</a> 等你来拿。</li>
<li><a href="/search.html">文档搜索工具</a>，查找问题或资料不用愁。</li>
<li>所有 SDK 都提供 <a href="index.html">API 文档</a>，开发指南没有覆盖的 API 介绍都可以在里面找到解释。</li>
<li>关注我们的 <a href="https://blog.leancloud.cn/">博客</a> 和 <a href="http://weibo.com/avoscloud">微博</a>，获取 LeanCloud 最新消息。</li>
<li>在应用设置的基本设置菜单里，可以更改应用名称，提交应用图标，申请发布到 <a href="https://leancloud.cn/customers.html">应用墙</a>。</li>
</ul>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
