<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>在微信小程序中使用 LeanCloud - LeanCloud 文档</title>
<!-- build:js custom/js/docs-all.js -->
<script src="custom/js/lib/jquery.min.js"></script>
<script src="custom/js/lib/bootstrap.min.js"></script>
<script src="custom/js/lib/bootstrap-hover-dropdown.js"></script>
<script src="custom/js/lib/pretty/prettify.js"></script>
<script src="custom/js/lib/jquery.scrollTo.min.js"></script>
<script src="custom/js/lib/angular/angular.min.js"></script>
<script src="custom/js/lib/zeroclipboard/zeroclipboard.js"></script>
<script src="custom/js/lib/markdown.min.js"></script>
<script src="custom/js/lib/md5.js"></script>

<script src="custom/js/lib/angular-gravatar.js"></script>
<script src="custom/js/prepare-dom.js"></script>
<script src="custom/js/app.js"></script>
<script src="custom/js/common.js"></script>
<script src="custom/js/demo.js"></script>
<script src="custom/js/weapp-domains.js"></script>
<!-- endbuild -->

<script type="text/javascript">
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>

<link rel="stylesheet" type="text/css" href="custom/css/app-docs.css?githubv1">


</head>


<body class="dashboard-init" data-offset="0" ng-cloak="" ng-controller="AppCtrl">




  <nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-options" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand nav-logo font-logo" title="LeanCloud 官网">LeanCloud</a>
    </div>

    <div class="collapse navbar-collapse" id="app-options">
      <!-- <ul class="nav navbar-nav navbar-app-select">
        <li>
          <a href="/dashboard/applist.html" class="nav-logo font-logo" title="LeanCloud 控制台">LeanCloud</a>
        </li>
      </ul> -->
      <div class="navbar-app-actions-wrap">
        <ul class="nav navbar-nav navbar-app-actions">
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="index.html">
              <i class="icon icon-dashbd-icon icon-home"></i>
              <div class="name">文档首页</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="sdk_down.html" title="SDK 下载">
              <i class="icon icon-dashbd-icon icon-package"></i>
              <div class="name"><span class="mobile-hide">SDK </span>下载</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a href="demo.html" title="Demos">
              <i class="icon icon-dashbd-icon icon-magic"></i>
              <div class="name">Demos</div>
            </a>
          </li>
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="API Docs" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-log"></i>
              <div class="name">API 文档</div>
            </a>
            <ul class="dropdown-menu">
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
<li><a href="/api-docs/iOS/index.html" target="_blank">Objective-C SDK API</a></li>
<li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">JavaScript 数据存储 SDK API</a></li>
<li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
<li><a href="https://leancloud.readthedocs.io/">Python SDK API</a></li>
<li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
<li><a href="/api-docs/dotnet/Help/index.html">.NET SDK API</a></li>

            </ul>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a href="opencourse.html">
              <i class="icon icon-dashbd-icon icon-play"></i>
              <div class="name">公开课</div>
            </a>
          </li>
          
          <li class="dropdown dropdown-toggle-app-name">
            <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
              <i class="icon icon-dashbd-icon icon-question"></i>
              <div class="name">帮助</div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://leanticket.cn/t/leancloud">技术支持</a></li>
              <li><a href="http://forum.leancloud.cn">社区</a></li>
              <li><a href="http://blog.leancloud.cn/">Blog</a></li>
              <li role="presentation" class="divider"></li>
              <li><a href="/dashboard/apionline/index.html">在线 API 工具</a></li>
              <li role="presentation" class="divider"></li>
              <!-- <li><a href="/apps.html">LeanCloud App</a></li> -->
              <li><a href="/pricing">价格</a></li>
              <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
            </ul>
          </li>
        </ul>
        <!-- hide search input on the home page -->
        
          <form role="search" action="/search.html" method="get">
            <div class="app-search">
              <input name="q" type="text" class="form-control" placeholder="搜索文档&hellip;">
            </div>
          </form>
        
      </div>

      <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak="">

        <li class="dropdown" ng-show="user.username">
          <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
            <span class="user-gravatar">
              <img gravatar-src="user.email" gravatar-size="64">
            </span>
            <span class="user-name-text">{{user.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings.html">账号设置</a></li>
            <li><a href="/applist.html">控制台</a></li>
            
            <li><a href="/settings.html#/setting/team">团队管理</a></li>
            
            <li><a href="/bill.html#/bill/general">财务</a></li>
            <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
            <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
          </ul>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signin">登录</a>
        </li>
        <li ng-hide="user.username">
          <a href="/login.html#/signup">注册</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  <!-- .container-fluid -->
</nav>



<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="leanengine_overview.html">云引擎总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-objc.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-objc.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-objc.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-objc.html">实时通信开发指南</a></li>
            <li><a href="chatkit-ios.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-ios.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios-macos-faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-swift.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-swift.html">数据存储开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-android.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-android.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li><a href="livekit-android.html">LiveKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-js.html">SDK 安装指南</a></li>
            <li><a href="leanstorage-started-js.html">数据存储快速入门</a></li>
            <li><a href="leanstorage_guide-js.html">数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="weapp.html">微信小程序开发指南</a></li>
            <li><a href="leanstorage_guide-js.html#Push_通知">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="acl-guide.html">ACL 权限管理指南</a></li>
            
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-dotnet.html">.NET SDK 安装指南</a></li>
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="livequery-guide.html">LiveQuery 开发指南</a></li>
            <li><a href="analytics-guide.html">.NET 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="realtime-unity.html">Unity3D 实时通信开发指南</a></li>
            <li><a href="analytics-guide.html">Unity3D 统计开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="dotnet_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-python.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-python.html">数据存储开发指南</a></li>
            <li><a href="relation-guide.html">数据模型设计指南</a></li>
            <li><a href="im-servermgmt-guide-python.html">实时通讯服务端管理开发指南</a></li>
            <li><a href="https://leancloud.readthedocs.io/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-php.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-php.html">数据存储开发指南</a></li>
            <li><a href="/api-docs/php/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="leanengine-rest-api.html">云引擎 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="status_system.html#REST_API">应用内社交 API</a></li>
            <li><a href="app_search_guide.html#搜索_API">应用内搜索 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <!--<li><a href="oauth2_provider.html">开放平台接入</a></li>-->
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_quickstart.html">云引擎快速入门</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_webhosting_guide-python.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-python.html">云函数开发指南</a></li>
          <li class="dropdown-header">PHP</li>
          <li><a href="leanengine_webhosting_guide-php.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-php.html">云函数开发指南</a></li>
          <li class="dropdown-header">Java</li>
          <li><a href="leanengine_webhosting_guide-java.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-java.html">云函数开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">命令行工具 CLI</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="push-guide-leanengine.html">在云引擎中使用 Push 推送服务</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="sns.html">第三方平台账号登录 SNS 开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <!-- <li><a href="user_groups.html">用户群分析指南</a></li> -->
            
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            
            <li class="divider"></li>
            <li><a href="kb-network-connectivity-diagnosis.html">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="tutorials.html">教程</a></li>
           <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>


<div class="container-fluid">

  <div class="row">

    <div class="sidebar-gruntfile-trigger  col-sm-3" id="left-nav">

      <div class="sidebar-affix-shadow sidebar-hover-off">

        <div class="sidebar-wrapper" id="toc-wrapper">

        </div>
        <!-- .sidebar-wrapper -->

      </div>
      <!-- .sidebar-affix-shadow -->

    </div>
    <!-- .col-md-3 -->

    <div class="col-sm-9 sidebar-gruntfile-trigger">
      <div class="doc-content with-comment" id="content">
        <div class="docs-meta">
          <span class="icon icon-github"></span><a href="https://github.com/leancloud/docs#贡献">编辑文档</a>
        <span class="doc-mdate" data-toggle="tooltip" title="2017年10月23日晚上11点29分">更新于 <time datetime="2017-10-23T23:29:16+08:00">2017-10-23</time></span></div>
        <h1 id="-leancloud">在微信小程序中使用 LeanCloud</h1>
<p>微信小程序是一个全新的跨平台移动应用平台，LeanCloud 为小程序提供一站式后端云服务，为你免去服务器维护、证书配置等繁琐的工作，大幅降低你的开发和运维成本。本文说明了如何在微信小程序中使用 LeanCloud 提供的各项服务。</p>
<h2 id="demo">Demo</h2>
<p>我们在小程序上实现了 LeanTodo 应用。在这个 Demo 中你可以看到：</p>
<ul>
<li>如何对云端数据进行查询、增加、修改与删除</li>
<li>如何将查询结果数组绑定到视图层进行展示，以及如何在点击事件中得到对应的数组项</li>
<li>如何使用 <a href="livequery-guide.html">LiveQuery</a> 实现对查询结果的实时更新和多端同步</li>
<li>如何自动登录 LeanCloud 用户系统，以及如何在登录后设置账号与密码以供用户在其他平台的 LeanTodo 应用上登录</li>
<li>如何集成微信支付</li>
<li>如何实现下拉刷新</li>
</ul>
<p>你可以通过微信扫描以下二维码进入 Demo。 Demo 的源码与运行说明请参考 <a href="https://github.com/leancloud/leantodo-weapp">https://github.com/leancloud/leantodo-weapp</a>。</p>
<p><img src="images/leantodo-weapp-qr.png" alt="LeanTodo Weapp QR" width="250"></p>
<h2 id="-">准备工作</h2>
<h3 id="-">创建应用</h3>
<ul>
<li>如果你还没有创建过 LeanCloud 应用，请登录 LeanCloud 控制台 <a href="/applist.html#/newapp">创建一个新应用</a>。</li>
<li>如果你还没有小程序帐号，请访问 <a href="https://mp.weixin.qq.com">微信公众平台</a> 注册一个小程序帐号。如果你不需要进行真机调试可以跳过这一步。</li>
<li>下载 <a href="https://mp.weixin.qq.com/debug/wxadoc/dev/devtools/download.html">小程序开发工具</a>，按照 <a href="https://mp.weixin.qq.com/debug/wxadoc/dev/">小程序开发教程</a> 创建一个项目。</li>
</ul>
<h3 id="-">配置域名白名单</h3>
<p>请按照 <a href="weapp-domains.html">小程序域名白名单配置</a> 的步骤配置。如果你不需要进行真机调试可以跳过这一步（可在开发者工具的 <strong>详情</strong> &gt; <strong>项目设置</strong> 中勾选<strong>不校验安全域名、TLS 版本以及 HTTPS 证书</strong>）。</p>
<h2 id="-">存储</h2>
<p>要使用 LeanCloud 的数据存储、用户系统、调用云引擎等功能，需要使用 LeanCloud 存储 SDK。</p>
<h3 id="-">安装与初始化</h3>
<ol>
<li>下载 <a href="https://unpkg.com/leancloud-storage@^3.0.0-alpha/dist/av-weapp-min.js"><code>av-weapp-min.js</code></a>（<a href="https://raw.githubusercontent.com/leancloud/javascript-sdk/next-dist/dist/av-weapp-min.js">镜像</a>），移动到 <code>libs</code> 目录。</li>
<li>在 <code>app.js</code> 中使用 <code>const AV = require(&#39;./libs/av-weapp-min.js&#39;);</code> 获得 <code>AV</code> 的引用。在其他文件中使用时请将路径替换成对应的相对路径。 </li>
<li>在 <code>app.js</code> 中初始化应用： <pre><code class="lang-javascript">// LeanCloud 应用的 ID 和 Key
AV.init({ 
 appId: &#39;{{appid}}&#39;, 
 appKey: &#39;{{appkey}}&#39;, 
});
</code></pre>
</li>
</ol>
<h3 id="-">对象存储</h3>
<p>所有的对象存储 API 都能正常使用，详细的用法请参考 <a href="leanstorage_guide-js.html">JavaScript 数据存储开发指南</a>。</p>
<h4 id="-">数据绑定</h4>
<p>直接使用 <code>this.setData()</code> 将 <code>AV.Object</code> 对象设置为当前页面的 data，即可在 WXML 中使用 Mustache 语法访问绑定的数据了。下面这个例子展示了如何将一个 Query 的查询结果显示在页面上：</p>
<pre><code class="lang-javascript">// pages/todos/todos.js
Page({
  data: {
    todos: [],
  },
  onReady: function() {
    new AV.Query(&#39;Todo&#39;)
      .descending(&#39;createdAt&#39;)
      .find()
      .then(todos =&gt; this.setData({ todos }))
      .catch(console.error);
  },
});
</code></pre>
<pre><code class="lang-html">&lt;!-- pages/todos/todos.wxml --&gt;
&lt;block wx:for=&quot;{{mustache(&#39;todos&#39;)}}&quot; wx:for-item=&quot;todo&quot; wx:key=&quot;objectId&quot;&gt;
  &lt;text data-id=&quot;{{mustache(&#39;todo.objectId&#39;)}}&quot;&gt;
    {{mustache(&#39;todo.content&#39;)}}
  &lt;/text&gt;
&lt;/block&gt;
</code></pre>
<p>使用 <code>include</code> 得到的嵌套对象也可以直接在视图层通过 <code>.</code> 访问到：</p>
<pre><code class="lang-javascript">// pages/student/student.js
Page({
  data: {
    student: null,
  },
  onReady: function() {
    new AV.Query(&#39;Student&#39;)
      .include(&#39;avatar&#39;) // avatar is an AV.File
      .get(&#39;56a9803e1532bc005303650c&#39;)
      .then(student =&gt; this.setData({ student }))
      .catch(console.error);
  },
});
</code></pre>
<pre><code class="lang-html">&lt;!-- pages/student/student.wxml --&gt;
&lt;image src=&quot;{{mustache(&#39;student.avatar.url&#39;)}}&quot;&gt;&lt;/image&gt;
</code></pre>
<h3 id="-">文件存储</h3>
<p>在小程序中，可以将用户相册或拍照得到的图片上传到 LeanCloud 服务器进行保存。首先通过 <code>wx.chooseImage</code> 方法选择或拍摄照片，得到本地临时文件的路径，然后按照下面的方法构造一个 <code>AV.File</code> 将其上传到 LeanCloud：</p>
<pre><code class="lang-javascript">wx.chooseImage({
  count: 1,
  sizeType: [&#39;original&#39;, &#39;compressed&#39;],
  sourceType: [&#39;album&#39;, &#39;camera&#39;],
  success: function(res) {
    var tempFilePath = res.tempFilePaths[0];
    new AV.File(&#39;file-name&#39;, {
      blob: {
        uri: tempFilePath,
      },
    }).save().then(
      file =&gt; console.log(file.url())
    ).catch(console.error);
  }
});
</code></pre>
<p>上传成功后可以通过 <code>file.url()</code> 方法得到服务端的图片 url。</p>
<h4 id="-">文件批量上传</h4>
<p>目前在小程序 Android 上不支持文件并发上传，需要串行上传：</p>
<pre><code class="lang-javascript">res.tempFilePaths.map(tempFilePath =&gt; () =&gt; new AV.File(&#39;filename&#39;, {
  blob: {
    uri: tempFilePath,
  },
}).save()).reduce(
  (m, p) =&gt; m.then(v =&gt; AV.Promise.all([...v, p()])),
  AV.Promise.resolve([])
).then(files =&gt; console.log(files.map(file =&gt; file.url()))).catch(console.error);
</code></pre>
<h3 id="-">用户系统</h3>
<p>小程序中提供了登录 API 来获取微信的用户登录状态，应用可以访问到用户的昵称、性别等基本信息，但是如果想要保存额外的用户信息，如用户的手机号码、收货地址等，则需要使用 LeanCloud 的用户系统。</p>
<h4 id="-">一键登录</h4>
<p>LeanCloud 的用户系统现已支持一键使用微信用户身份登录。要使用一键登录功能，需要先设置小程序的 AppID 与 AppSecret：</p>
<ol>
<li>登录 <a href="https://mp.weixin.qq.com">微信公众平台</a>，在 <strong>设置</strong> &gt; <strong>开发设置</strong> 中获得 AppID 与 AppSecret。</li>
<li>前往 LeanCloud 控制台 &gt; <strong>组件</strong> &gt; <strong>社交</strong>，保存「微信小程序」的 AppID 与 AppSecret。</li>
</ol>
<p>现在，你可以在应用中使用 <code>AV.User.loginWithWeapp()</code> 方法来使用当前用户身份登录了。</p>
<pre><code class="lang-javascript">AV.User.loginWithWeapp().then(user =&gt; {
  this.globalData.user = user.toJSON();
}).catch(console.error);
</code></pre>
<p>如果该用户是第一次使用此应用，调用登录 API 会创建一个新的用户，你可以在 控制台 &gt; <strong>存储</strong> 中的 <code>_User</code> 表中看到该用户的信息，如果该用户曾经使用该方式登录过此应用，再次调用登录 API 会返回同一个用户。</p>
<p>用户的登录状态会保存在客户端中，可以使用 <code>AV.User.current()</code> 方法来获取当前登录的用户，下面的例子展示了如何同步登录用户的信息：</p>
<pre><code class="lang-javascript">// 假设已经通过 AV.User.loginWithWeapp() 登录
// 获得当前登录用户
const user = AV.User.current();
// 调用小程序 API，得到用户信息
wx.getUserInfo({
  success: ({userInfo}) =&gt; {
    // 更新当前用户的信息
    user.set(userInfo).save().then(user =&gt; {
      // 成功，此时可在控制台中看到更新后的用户信息
      this.globalData.user = user.toJSON();
    }).catch(console.error);
  }
});
</code></pre>
<p>使用一键登录方式登录时，LeanCloud 会将该用户的小程序 openid 保存在对应的 <code>user.authData.lc_weapp</code> 属性中，你可以在控制台的 _User 表中看到。该字段在客户端不可见，你可以使用 masterKey 在云引擎中获取该用户的 openid 进行支付、推送等操作。详情请参考 <a href="#支付">支付</a>。</p>
<h4 id="-">启用其他登录方式</h4>
<p>由于 <code>AV.User.loginWithWeapp()</code> 只能在小程序中使用，所以使用该 API 创建的用户无法直接在小程序之外的平台上登录。如果需要使用 LeanCloud 用户系统提供的其他登录方式，如用手机号验证码登录、邮箱密码登录等，在小程序一键登录后设置对应的用户属性即可：</p>
<pre><code class="lang-javascript">// 小程序登录
AV.User.loginWithWeapp().then(user =&gt; {
  // 设置并保存手机号
  user.setMobilePhoneNumber(&#39;13000000000&#39;);
  return user.save();
}).then(user =&gt; {
  // 发送验证短信
  return AV.User.requestMobilePhoneVerify(user.getMobilePhoneNumber());
}).then({
  // 用户填写收到短信验证码后再调用 AV.User.verifyMobilePhone(code) 完成手机号的绑定
  // 成功后用户的 mobilePhoneVerified 字段会被置为 true
  // 此后用户便可以使用手机号加动态验证码登录了
}).catch(console.error);
</code></pre>
  <div class="callout callout-info">
  <p>验证手机号码功能要求在控制台的应用设置中启用「用户注册时，向注册手机号码发送验证短信」。</p>
</div>


<h4 id="-">绑定现有用户</h4>
<p>如果你的应用已经在使用 LeanCloud 的用户系统，或者用户已经通过其他方式注册了你的应用（比如在 Web 端通过用户名密码注册），可以通过在小程序中调用 <code>AV.User#linkWithWeapp()</code> 来关联已有的账户：</p>
<pre><code class="lang-javascript">// 首先，使用用户名与密码登录一个已经存在的用户
AV.User.logIn(&#39;username&#39;, &#39;password&#39;).then(user =&gt; {
  // 将当前的微信用户与当前登录用户关联
  return user.linkWithWeapp();
}).catch(console.error);
</code></pre>
<h3 id="-">云引擎</h3>
<p>使用云引擎可以方便地实现一些在服务器执行的逻辑，比如处理敏感信息、数据聚合、采集数据等，并且不需要准备额外的服务器。</p>
<p>SDK 所有的云引擎相关的 API 都能正常使用，详细的用法请参考 <a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a>。</p>
<p>使用云引擎实现小程序支付的方案参见 <a href="#支付">支付</a>。</p>
<h2 id="-">实时通讯</h2>
<p>要使用 LeanCloud 的聊天、实时消息功能，需要使用 LeanCloud 实时通讯 SDK。</p>
<h3 id="-">安装与初始化</h3>
<ol>
<li>下载 <a href="https://unpkg.com/leancloud-realtime@^4.0.0-alpha/dist/realtime.weapp.min.js"><code>realtime.weapp.min.js</code></a>（<a href="https://raw.githubusercontent.com/leancloud/js-realtime-sdk/dist/dist/realtime.weapp.min.js">镜像</a>），移动到 <code>libs</code> 目录。</li>
<li>在 <code>app.js</code> 中使用 <code>const Realtime = require(&#39;./libs/realtime.weapp.min.js&#39;).Realtime;</code> 获得 <code>Realtime</code> 的引用。在其他文件中使用时请将路径替换成对应的相对路径。</li>
<li>在 <code>app.js</code> 中初始化应用：<pre><code class="lang-javascript">const realtime = new Realtime({
 appId: &#39;{{appid}}&#39;,
 appKey: &#39;&#39;,
});
</code></pre>
</li>
</ol>
<p>需要特别注意的是，由于小程序限制了同时只能有一个 WebSocket 连接，因此推荐的用法是初始化 Realtime 一次，挂载到全局的 App 实例上，然后在所有需要的时候都使用这个 realtime 实例。</p>
<p>实时通讯 SDK 的详细用法请参考 <a href="realtime_guide-js.html">实时通信开发指南</a>。</p>
<h3 id="-">富媒体消息</h3>
<p>要在小程序中使用实时通讯 SDK 的富媒体消息插件，有一些额外的约束：</p>
<ol>
<li>安装存储 SDK 至 <code>libs</code> 目录，并将文件重命名为 <code>leancloud-storage.js</code>。</li>
<li>安装实时通讯 SDK 至 <code>libs</code> 目录，并将文件重命名为 <code>leancloud-realtime.js</code>。</li>
<li>下载 <a href="https://unpkg.com/leancloud-realtime-plugin-typed-messages@^1.0.0"><code>leancloud-realtime-plugin-typed-messages.js</code></a>，移动到 <code>libs</code> 目录。必须保证<u>三个文件在同一目录中</u>。</li>
<li>在 <code>app.js</code> 中<u>依次加载</u> <code>leancloud-storage.js</code>、<code>leancloud-realtime.js</code> 和 <code>leancloud-realtime-plugin-typed-messages.js</code>。<pre><code class="lang-javascript">const AV = require(&#39;./libs/leancloud-storage.js&#39;);
const Realtime = require(&#39;./libs/leancloud-realtime.js&#39;).Realtime;
const TypedMessagesPlugin = require(&#39;./libs/leancloud-realtime-plugin-typed-messages.js&#39;).TypedMessagesPlugin;
const ImageMessage = require(&#39;./libs/leancloud-realtime-plugin-typed-messages.js&#39;).ImageMessage;
</code></pre>
</li>
<li>在 <code>app.js</code> 中初始化应用：<pre><code class="lang-javascript">// 初始化存储 SDK
AV.init({
 appId: &#39;{{appid}}&#39;,
 appKey: &#39;{{appkey}}&#39;,
});
// 初始化实时通讯 SDK
const realtime = new Realtime({
 appId: &#39;{{appid}}&#39;,
 appKey: &#39;{{appkey}}&#39;,
 plugins: [TypedMessagesPlugin], // 注册富媒体消息插件
});
</code></pre>
</li>
</ol>
<p>富媒体消息的用法请参考 <a href="realtime_guide-js.html#富媒体消息">实时通信开发指南 - 富媒体消息</a>。</p>
<h2 id="-">支付</h2>
<h3 id="-">配置</h3>
<p>在开始之前，请确保已经在微信小程序后台开启了「微信支付」功能，然后按照下面的步骤配置云引擎环境变量：</p>
<ol>
<li>进入应用控制台 - 云引擎 - 设置</li>
<li>设置应用的二级域名并保存</li>
<li>添加并保存以下环境变量<ul>
<li><code>WEIXIN_APPID</code>：小程序 AppId</li>
<li><code>WEIXIN_MCHID</code>：微信支付商户号</li>
<li><code>WEIXIN_PAY_SECRET</code>：微信支付 API 密钥（<a href="https://pay.weixin.qq.com">微信商户平台</a> - 账户设置 - API安全 - 密钥设置）</li>
<li><code>WEIXIN_NOTIFY_URL</code>：<code>https://.leanapp.cn/weixin/pay-callback</code>，其中 <code>yourdomain</code> 是第二步中设置的二级域名</li>
</ul>
</li>
</ol>
<details>
<summary>查看示例</summary>
<p>
<img src="https://cloud.githubusercontent.com/assets/175227/22236906/7c651c80-e243-11e6-819b-007d5862bdbf.png" alt="image">
</p>
</details>

<h3 id="-">服务端开发</h3>
<p>首先确认本机已经安装 <a href="http://nodejs.org/">Node.js</a> 运行环境和 <a href="leanengine_cli.html">LeanCloud 命令行工具</a>，然后执行下列指令下载示例项目：</p>
<pre><code>$ git clone https://github.com/leancloud/weapp-pay-getting-started.git
$ cd weapp-pay-getting-started
</code></pre><p>安装依赖：</p>
<pre><code>npm install
</code></pre><p>登录并关联应用：</p>
<pre><code>lean login
lean switch
</code></pre><p>启动项目：</p>
<pre><code>lean up
</code></pre><p>之后你就可以在 <a href="http://localhost:3001">localhost:3001</a> 调试云函数了。</p>
<p>示例项目中与支付直接相关代码有三部分：</p>
<ul>
<li><code>order.js</code>：对应 Order 表，定义了部分字段的 getter/setter，以及 <code>place</code> 方法用于向微信 API 提交订单。</li>
<li><code>cloud.js</code>：其中定义了名为 <code>order</code> 的云函数，这个云函数会获取当前用户的 <code>openid</code>，以其身份创建了一个 1 分钱的 order 并下单，最后返回签名过的订单信息。</li>
<li><code>routers/weixin.js</code>：其中定义了 <code>pay-callback</code> 的处理函数，当用户支付成功后微信调用这个 URL，这个函数将对应的订单状态更新为 <code>SUCCESS</code>。</li>
</ul>
<p>请根据你的业务需要修改代码。参考文档：</p>
<ul>
<li><a href="https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=9_1">微信支付统一下单 API 参数与错误码</a></li>
<li><a href="https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=9_7">微信支付结果通知参数</a></li>
</ul>
<p>完成开发后部署到预备环境（若无预备环境则直接部署到生产环境）：</p>
<pre><code>lean deploy
</code></pre><h3 id="-">客户端开发</h3>
<p>客户端完成一次支付需要分两步：</p>
<ol>
<li>用户登录后，调用名为 <code>order</code> 的云函数下单，返回签名过的订单信息。</li>
<li>调用支付 API（<code>wx.requestPayment</code>），传入上一步返回的订单信息，发起支付。</li>
</ol>
<pre><code class="lang-javascript">AV.Cloud.run(&#39;order&#39;).then((data) =&gt; {
  data.success = () =&gt; {
    // 支付成功
  }
  data.fail = ({ errMsg }) =&gt; {
    // 错误处理
  });
  wx.requestPayment(data);
}).catch(error =&gt; {
  // 错误处理
})
</code></pre>
<p>客户端的示例代码参见 <a href="https://github.com/leancloud/leantodo-weapp">Demo</a> 打赏功能。参考文档：</p>
<ul>
<li><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-pay.html">小程序客户端发起支付 API</a></li>
</ul>
<h2 id="faq">FAQ</h2>
<h3 id="-download-">配置 download 合法域名时显示「该域名因违规被禁止设置。」</h3>
<p>目前 <a href="https://clouddn.com">https://clouddn.com</a> 已经被微信屏蔽，因此该域名下的文件无法通过 <code>wx.downloadFile</code> 下载到用户的设备上（只是通过 image 的 src 属性展示图片不受影响）。如果确实需要使用 <code>wx.downloadFile</code>，可以在 控制台 - <strong>设置 - 应用选项</strong> 中勾选 「启动 https 域名」，目前对应的域名还没有被屏蔽。</p>
<h3 id="access-denied-by-api-domain-white-list">Access denied by api domain white list</h3>
<p>如果你的应用启用并配置了 <a href="data_security.html#Web_应用安全设置">Web 安全域名</a>，你可能会 catch 到 <code>Access denied by api domain white list</code> 异常，请将提示的域名添加至应用的 Web 安全域名列表。</p>
<h2 id="-">反馈</h2>
<p>如果在微信小程序中使用 LeanCloud 时遇到问题，欢迎通过我们的 <a href="https://forum.leancloud.cn/c/jing-xuan-faq/weapp">论坛</a> 进行反馈。</p>


      </div>
    </div>
    <!-- .col-md-9 -->
  </div>
  <!-- .row -->

</div>
<!-- .container-fluid -->
<div id="comment-container" ng-class="{'no-comments': currentComments.length<1}">
  <div class="comment-head">
    {{allComment[version]}}
    <span class="close" ng-click="closeCommentModal()">&times;</span>
  </div>
  <div class="comment-body">
    <div class="comment-list" ng-class="{'no-login': !currentCommentUser.username}">
      <ul>
        <li ng-show="currentComments.length<1">暂无评论</li>
        <li ng-repeat="comment in currentComments">
          <div class="comment-author">{{comment.author}}</div>
          <div class="comment-timestamp">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss '}}</div>
          <div class="comment-content">{{comment.content}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="comment-compose" ng-show="currentCommentUser.username">
    <div class="form-group"> <textarea class="form-control comment-content" ng-model="commentContent"></textarea></div>
    <div class="form-meta">
      <!-- 您已登录为 <b>{{currentCommentUser.username}}</b> -->
      <button class="btn btn-sm btn-default create-comment pull-right" ng-click="createComment($event)">
        <i class="icon icon-chat-bold"></i> 评论
      </button>
    </div>
  </div>
  <div class="comment-compose no-login" ng-show="!currentCommentUser.username">
    您需要 <a class="comment-login" ng-click="loginComment()">授权</a> 后才能评论
  </div>
</div>

<script src="https://download.leancloud.cn/sdk/latest.js"></script>


<script src="custom/js/lib/contents.js"></script>
<script src="custom/js/md.js"></script>


<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'custom/js/lib/zeroclipboard/zeroclipboard.swf'
});
$(function(){
    // $('#content [version]').each(function(k,v){
    //     var version = $(v).attr('version');
    //     $(v).append('<div class="toggle-comment" ng-click="showCommentDialog(\''+version+'\''+',$event)">+ <span> {{}}</span> </div>');
    // })

    $('#content [version]').each(function(k,v){
        var version = $(v).attr('version');
        $(v).append('<div class="inline-comment-wrap" version="'+version+'" all-comment="allComment" showDialogMethod="showCommentDialog()" lc-comment> </div>');
    });

    angular.element(document).ready(function() {

      angular.bootstrap(document, ['app']);

    });
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42629236-7', 'auto');
  ga('send', 'pageview');

</script>





  <footer class="footer" role="contentinfo">
  <div class="container-fluid">
    <!-- <a href="http://leancloud.cn/" class="logo font-logo pull-left">
      LeanCloud
    </a> -->

    <ul class="footer-links pull-right">
      <li class="muted">·</li>
      <li><a href="/pricing">价格</a></li>
      <li class="muted">·</li>
      <li><a href="/docs/sdk_down.html">下载</a></li>
      <!-- <li class="muted">·</li>
      <li><a href="/apps.html" target="_self">App</a></li> -->
      <li class="muted">·</li>
      <li><a href="http://leancloud.cn/docs/faq.html" target="_self">常见问题</a></li>
      <li class="muted">·</li>
      <li><a href="http://leanticket.cn" target="_self"><span class="mobile-hide">技术</span>支持</a></li>
      <!-- <li><a href="http://ticket.leancloud.cn/tickets?token={{user.session_token || 'Gs5Xw4vjyCznrP6OcgMheOWDuatVpbFPiL78eMo6JC0dENB8'}}" target="_blank"><span class="mobile-hide">用户</span>反馈</a></li> -->
      <li class="muted">·</li>
      <li><a href="https://status.leancloud.cn/"><span class="mobile-hide">健康</span>状态</a></li>
      <li class="muted">·</li>
      <li><a href="http://forum.leancloud.cn/">社区</a></li>
      <li class="muted">·</li>
      <li><a href="http://blog.leancloud.cn/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/leancloud/docs">文档源码</a></li>
    </ul>
  </div>
</footer>



</body>

</html>
